workflows/01-core-pipeline.json
{"updatedAt":"2026-03-24T04:28:54.701Z","createdAt":"2026-03-18T15:27:06.239Z","id":"u1bV8KbKeXtNM8Xa","name":"01 - Career-Ops: Core Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1728]},{"parameters":{"documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Config","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=0"},"options":{}},"id":"config-loader","name":"Config Loader","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[224,1728],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Transform key-value rows into a config object\nconst config = {};\nfor (const item of $input.all()) {\n  config[item.json.Key] = item.json.Value;\n}\n\n// Parse job titles\nconst jobTitles = (config.job_titles || 'Product Designer').split(',').map(t => t.trim());\nconst scoreThreshold = parseFloat(config.score_threshold || '4.0');\nconst scanBudget = parseInt(config.scan_budget_daily || '200');\n\nreturn [{ json: { config, jobTitles, scoreThreshold, scanBudget } }];"},"id":"parse-config","name":"Parse Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,1728]},{"parameters":{"jsCode":"const results = [];\nconst inputItem = $input.first().json;\nconst searchTitle = (inputItem.search_parameters && inputItem.search_parameters.q) || 'unknown';\n\n// Handle errors or empty results\nif (inputItem.error || !inputItem.jobs_results || inputItem.jobs_results.length === 0) {\n  return [{ json: { results: [], title: searchTitle, error: inputItem.error || 'No results' } }];\n}\n\nfor (const job of inputItem.jobs_results) {\n  const primaryLink = (job.apply_options && job.apply_options[0] && job.apply_options[0].link) || '';\n  let domain = '';\n  try { domain = primaryLink ? new URL(primaryLink).hostname.replace('www.', '') : ''; } catch(e) {}\n  const source = (job.apply_options && job.apply_options[0] && job.apply_options[0].title) || 'Google Jobs';\n\n  // Parse freshness from detected_extensions.posted_at\n  let freshnessHours = 24;\n  const postedAt = (job.detected_extensions && job.detected_extensions.posted_at) || '';\n  if (postedAt.includes('hour')) {\n    freshnessHours = parseInt(postedAt) || 12;\n  } else if (postedAt.includes('day')) {\n    freshnessHours = (parseInt(postedAt) || 1) * 24;\n  } else if (postedAt.includes('just') || postedAt.includes('now') || postedAt.includes('moment')) {\n    freshnessHours = 1;\n  }\n\n  const company = job.company_name || '';\n  const title = job.title || '';\n  const dedupKey = company.toLowerCase() + '|' + title.toLowerCase() + '|' + domain;\n\n  results.push({\n    id: 'serp_' + Date.now() + '_' + Math.random().toString(36).substring(2, 6),\n    source: source,\n    company: company,\n    title: title,\n    url: primaryLink,\n    snippet: (job.description || '').substring(0, 500),\n    dateFound: new Date().toISOString(),\n    freshnessHours: freshnessHours,\n    Status: 'New',\n    'Dedup Key': dedupKey,\n    Rendering: 'static'\n  });\n}\n\nreturn results.map(r => ({ json: r }));"},"id":"parse-results","name":"Parse Search Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,1728]},{"parameters":{"documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"options":{}},"id":"check-existing","name":"Read Pipeline for Dedup","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1568,1728],"executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get existing dedup keys from the pipeline sheet\nconst existingKeys = new Set($(\"Read Pipeline for Dedup\").all().map(i => i.json[\"Dedup Key\"]).filter(Boolean));\n\n// Get incoming jobs — works for both cron/SerpAPI path and email path\nlet incoming;\ntry {\n  incoming = $(\"Parse Search Results\").all();\n} catch(e) {\n  incoming = $(\"Normalize Email Jobs\").all();\n}\n\nconst newListings = incoming.filter(i => i.json[\"Dedup Key\"] && !existingKeys.has(i.json[\"Dedup Key\"]));\n\n// Deduplicate within this batch (same job from multiple sources)\nconst seen = new Set();\nconst dedupedNew = newListings.filter(i => {\n  if (seen.has(i.json[\"Dedup Key\"])) return false;\n  seen.add(i.json[\"Dedup Key\"]);\n  return true;\n});\n\nif (dedupedNew.length === 0) {\n  return [{ json: { _nothingNew: true } }];\n}\n\nreturn dedupedNew;"},"id":"dedup-filter","name":"Dedup Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,1728],"executeOnce":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"append-pipeline","name":"Append to Pipeline","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2240,1840],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"New"}]},"options":{}},"id":"read-new-listings","name":"Read New Listings","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2368,1712],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"batchSize":5,"options":{}},"id":"batch-for-prescreen","name":"Batch for Pre-Screen","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2912,1728]},{"parameters":{"promptType":"define","text":"={{ 'Pre-screen this job listing:\\n\\ntitle: ' + $json.title + '\\ncompany: ' + $json.company + '\\nsnippet: ' + $json.snippet + '\\n\\n---\\nPRESTON\\'S CV:\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# Pre-Screen Agent — System Prompt\n\nYou are a job pre-screening agent for Preston Bezant, a product designer and technical builder based in Austin, TX. Your job is to quickly classify job listings as PASS, REJECT, or MAYBE based only on the job title, company name, and a brief snippet — before spending resources on full evaluation.\n\n## About Preston Bezant\nPreston's full CV is provided in the user message. Use it to inform your classification decisions. Key things to extract from it: his role history (what titles he's held), his skill set (design tools, technical stack), and his seniority level. He is based in Austin, TX and strongly prefers remote or remote-first roles.\n\n## Classification Rules\n\n### REJECT if any of the following:\n- Title is clearly unrelated: accounting, finance, HR, legal, data science (non-UX), sales, marketing, customer support, QA/SDET, DevOps/SRE, backend-only engineering\n- Title includes: \"Manager\" or \"Director\" without \"Design\" or \"Product\" (Preston is not pursuing pure management)\n- Title is \"Junior\" or \"Entry Level\" (Preston is senior-level)\n- Location is clearly in-office only outside Austin, TX (e.g., \"NYC Office Only\", \"On-site London\")\n- Snippet makes it obvious the role is a completely different field (e.g., \"civil engineering\", \"medical device repair\")\n\n### PASS if:\n- Title matches one of Preston's archetypes: Product Designer, UX Designer, Creative Technologist, IoT Engineer, Front-End Developer, Design Systems Engineer/Architect\n- Role appears remote-friendly or Austin-based\n- Snippet doesn't reveal a disqualifying mismatch\n\n### MAYBE if:\n- Title is adjacent (e.g., \"Interaction Designer\", \"UI Engineer\", \"Prototyping Engineer\", \"Hardware-Software Integration\")\n- Unclear from snippet whether it's a fit\n- When in doubt, use MAYBE (benefit of the doubt — the evaluator will handle edge cases)\n\n## Output Format\n\nRespond ONLY with this JSON object — no markdown, no explanation, no preamble:\n\n{{\n  \"decision\": \"PASS\" | \"REJECT\" | \"MAYBE\",\n  \"reason\": \"One sentence max explaining the decision\"\n}}\n\n## Input Format\n\nYou will receive:\n- `title`: Job title\n- `company`: Company name\n- `snippet`: Text snippet from the search result (first ~200 chars of the job posting)\n\nProcess the input and respond with the JSON above."}},"id":"prescreen-agent","name":"Pre-Screen AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2880,656]},{"parameters":{"modelName":"models/gemini-flash-lite-latest","options":{"maxOutputTokens":2048,"temperature":0.1}},"id":"gemini-prescreen","name":"Gemini Flash Lite - PreScreen","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2912,896],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.text || '';\nlet parsed = { decision: 'MAYBE', reason: 'Could not parse response' };\ntry {\n  const match = raw.match(/\\{[\\s\\S]*?\\}/);\n  if (match) parsed = JSON.parse(match[0]);\n} catch(e) {\n  parsed.reason = 'Parse error: ' + raw.substring(0, 100);\n}\n\nconst sourceItem = $('Batch for Pre-Screen').item;\nconst newStatus = parsed.decision === 'REJECT' ? 'Pre-Rejected' : 'Pre-Screened';\n\nreturn [{ json: { ...sourceItem.json, preScreenDecision: parsed.decision, preScreenReason: parsed.reason, status: newStatus } }];"},"id":"parse-prescreen","name":"Parse Pre-Screen Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[3232,656]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["row_number"],"schema":[{"id":"Applied","displayName":"Applied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dateFound","displayName":"dateFound","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"freshnessHours","displayName":"freshnessHours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dedupKey","displayName":"dedupKey","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rendering","displayName":"rendering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"preScreenDecision","displayName":"preScreenDecision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"preScreenReason","displayName":"preScreenReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"jdText","displayName":"jdText","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"eval","displayName":"eval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scores","displayName":"scores","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"overall","displayName":"overall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"freshnessAdjustedScore","displayName":"freshnessAdjustedScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"newListings","displayName":"newListings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"count","displayName":"count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dedup Key","displayName":"Dedup Key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rendering","displayName":"Rendering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"documentId","displayName":"documentId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"update-prescreen-status","name":"Update Pre-Screen Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3456,656],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.preScreenDecision }}","rightValue":"REJECT","operator":{"type":"string","operation":"notEquals"}}]},"options":{}},"id":"filter-passed","name":"Filter Passed Pre-Screen","type":"n8n-nodes-base.filter","typeVersion":2,"position":[3200,1728]},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{}},"timeout":15000}},"id":"fetch-jd","name":"Fetch Job Description","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3712,912],"continueOnFail":true},{"parameters":{"jsCode":"const sourceItem = $('Filter Passed Pre-Screen').item;\nconst htmlResponse = $input.first().json;\nlet jdText = '';\nlet confidence = 'high';\n\nif (htmlResponse.error || !htmlResponse) {\n  // Fallback to snippet\n  jdText = sourceItem.json.snippet || '';\n  confidence = 'low';\n} else {\n  const html = typeof htmlResponse === 'string' ? htmlResponse : JSON.stringify(htmlResponse);\n  // Strip HTML tags and collapse whitespace\n  jdText = html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 8000);\n  \n  // If content is very short, likely JS-rendered — fall back to snippet\n  if (jdText.length < 200) {\n    jdText = sourceItem.json.snippet || jdText;\n    confidence = 'low';\n  }\n}\n\nreturn [{ json: { ...sourceItem.json, jdText, confidence } }];"},"id":"extract-jd-text","name":"Extract JD Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,912]},{"parameters":{"promptType":"define","text":"={{ 'Evaluate this job for Preston Bezant:\\n\\nCompany: ' + $json.company + '\\nTitle: ' + $json.title + '\\nURL: ' + $json.url + '\\n\\nJob Description:\\n' + $json.jdText + '\\n\\n---\\nPRESTON\\'S CV:\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# Evaluator Agent — System Prompt\n\nYou are a job evaluation agent for Preston Bezant. You analyze full job descriptions against Preston's CV and score the fit across 10 dimensions. Output structured JSON only.\n\n---\n\n## Preston Bezant — CV\n\nPreston's full CV is provided in the user message. Read it carefully before scoring. Use it as the source of truth for all skills alignment, seniority, and role match assessments.\n\n---\n\n## Role Archetypes\n\n| # | Archetype | Key Proof Points |\n|---|-----------|-----------------|\n| 1 | **Product Designer / UX Lead** | Lowe's Sr Product Designer (2.75yr), Verbosity Sr UX, Visa UX Designer |\n| 2 | **IoT Systems Engineer** | StructureSense co-founder, LoRaWAN, RTLS, ESP32, BLE, DMX512, 50K sqft deployment |\n| 3 | **Creative Technologist / Prototyper** | Bezant Solutions V0→V1, 3D printing, firmware, AI workflows |\n| 4 | **Front-End / Web Developer** | BancVue (200 microsites), Gensuite (ExtJS/ColdFusion), Harland Clarke (HTML/CSS/JS) |\n| 5 | **Design Systems / UX Architect** | Visa (atomic design), Harland Clarke (cross-brand design system), Lowe's Digital design system |\n\n---\n\n## 10-Dimension Scoring Rubric\n\nScore each dimension 1–5. Gate-pass: if Role Match OR Skills ≤ 1, final grade auto-caps at D.\n\n| Dimension | Key Questions | 5 = | 1 = |\n|-----------|--------------|-----|-----|\n| **Role Match** (gate-pass) | Does the JD match Preston's core work? | Exact archetype match | Completely wrong domain |\n| **Skills Alignment** (gate-pass) | Do required skills overlap with Preston's? | 80%+ overlap | <20% overlap |\n| **Seniority** | Is the level realistic for Preston? | Senior IC or lead (stretch of 1 level max) | Junior req or VP+ exec |\n| **Compensation** | Does market rate match $120K–$180K target? | Explicitly in range | No comp info or clearly below $100K |\n| **Geographic** | Remote/Austin feasible? | Remote-first or Austin-based | Mandatory onsite far from Austin |\n| **Company Stage** | Does stage fit Preston's style? | Startup/growth or mid-size tech | Pure bureaucratic enterprise or tiny pre-seed |\n| **Product-Market Fit** | Does Preston care about the problem domain? | Physical+digital, IoT, retail, SaaS tools, design | Generic enterprise software |\n| **Growth Trajectory** | Is there career ladder visibility? | Explicit path to staff/principal/lead | IC-only dead-end, no ladder |\n| **Interview Likelihood** | Will Preston get a callback? | Strong skills match, few gaps | Major gaps, likely screened out |\n| **Timeline** | How urgent is hiring? | Actively hiring, recent post | Old post, \"ongoing\", evergreen req |\n\n### Grade Mapping\n- **A**: Freshness-adjusted score ≥ 4.5\n- **B**: Score 3.8–4.4\n- **C**: Score 3.0–3.7\n- **D**: Score 2.0–2.9 OR gate-pass triggered (Role Match ≤ 1 OR Skills ≤ 1)\n- **F**: Score < 2.0\n\n### Freshness Boost (applied by Code node after your output — do NOT apply yourself)\n- Posted < 6h ago: +0.3\n- Posted 6–24h ago: +0.2\n- Posted > 24h ago: +0.0\n\n### Weight Table\n| Dimension | Weight |\n|-----------|--------|\n| Role Match | 0.20 |\n| Skills Alignment | 0.20 |\n| Seniority | 0.12 |\n| Compensation | 0.10 |\n| Geographic | 0.08 |\n| Company Stage | 0.08 |\n| Product-Market Fit | 0.07 |\n| Growth Trajectory | 0.07 |\n| Interview Likelihood | 0.05 |\n| Timeline | 0.03 |\n\nThe Code node after you applies: `overall = sum(score[d] * weight[d] for d in dimensions)`.\n\n---\n\n## Instructions\n\n1. Read the job description carefully\n2. Score each dimension 1–5\n3. Identify which archetype best fits this role (1–5 from the table above)\n4. Extract the 10–20 most important keywords from the JD (ATS keywords, tech stack, required skills)\n5. List CV match proof points (specific items from Preston's CV that directly address requirements)\n6. List gaps (JD requirements Preston doesn't fully cover) with a brief mitigation strategy\n7. Write an executive summary (3–4 sentences only)\n8. Estimate freshness_hours based on any date signals in the JD or URL (0 if unknown)\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble, no explanation:\n\n{{\n  \"scores\": {{\n    \"role_match\": 0,\n    \"skills\": 0,\n    \"seniority\": 0,\n    \"compensation\": 0,\n    \"geographic\": 0,\n    \"company_stage\": 0,\n    \"product_market\": 0,\n    \"growth\": 0,\n    \"interview_likelihood\": 0,\n    \"timeline\": 0\n  }},\n  \"overall\": 0.0,\n  \"grade\": \"C\",\n  \"archetype\": \"Product Designer / UX Lead\",\n  \"keywords\": [],\n  \"cv_match\": [],\n  \"gaps\": [{{\"gap\": \"...\", \"mitigation\": \"...\"}}],\n  \"summary\": \"...\",\n  \"confidence\": \"high\",\n  \"freshness_hours\": 0\n}}\n\nFields:\n- `overall`: Your weighted calculation before freshness boost\n- `grade`: Based on your `overall` score without freshness boost (the Code node will recalculate with boost)\n- `confidence`: \"low\" if you're evaluating from snippet only (no full JD available), \"high\" otherwise\n- `freshness_hours`: Your best estimate from context clues (0 if unknown)"}},"id":"evaluator-agent","name":"Evaluator AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4160,800]},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.text || '{}';\nconst sourceItem = $('Extract JD Text').item;\nlet eval_data = {};\n\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) eval_data = JSON.parse(match[0]);\n} catch(e) {\n  eval_data = { scores: {}, overall: 0, grade: 'F', summary: 'Parse error', confidence: 'low' };\n}\n\nconst scores = eval_data.scores || {};\n\n// Apply weights\nconst weights = { role_match: 0.20, skills: 0.20, seniority: 0.12, compensation: 0.10, geographic: 0.08, company_stage: 0.08, product_market: 0.07, growth: 0.07, interview_likelihood: 0.05, timeline: 0.03 };\nconst weightedScore = Object.keys(weights).reduce((sum, k) => sum + (scores[k] || 3) * weights[k], 0);\n\n// Gate-pass logic\nlet finalScore = weightedScore;\nlet finalGrade = eval_data.grade || 'C';\nif ((scores.role_match || 0) <= 1 || (scores.skills || 0) <= 1) {\n  finalGrade = 'D';\n  finalScore = Math.min(finalScore, 2.9);\n}\n\n// Freshness boost\nconst freshnessHours = eval_data.freshness_hours || 24;\nlet freshnessBoost = 0;\nif (freshnessHours < 6) freshnessBoost = 0.3;\nelse if (freshnessHours < 24) freshnessBoost = 0.2;\nconst adjustedScore = Math.min(5, finalScore + freshnessBoost);\n\n// Recalculate grade from adjusted score\nif (finalGrade !== 'D' && finalGrade !== 'F') {\n  if (adjustedScore >= 4.5) finalGrade = 'A';\n  else if (adjustedScore >= 3.8) finalGrade = 'B';\n  else if (adjustedScore >= 3.0) finalGrade = 'C';\n  else if (adjustedScore >= 2.0) finalGrade = 'D';\n  else finalGrade = 'F';\n}\n\nreturn [{ json: {\n  ...sourceItem.json,\n  eval: eval_data,\n  scores,\n  overall: parseFloat(weightedScore.toFixed(2)),\n  grade: finalGrade,\n  freshnessAdjustedScore: parseFloat(adjustedScore.toFixed(2)),\n  status: 'Evaluated'\n} }];"},"id":"apply-scoring","name":"Apply Scoring & Freshness","type":"n8n-nodes-base.code","typeVersion":2,"position":[4512,912]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Evaluations"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"write-evaluation","name":"Write Evaluation","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4800,912],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":439590855,"mode":"list","cachedResultName":"Pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=439590855"},"columns":{"mappingMode":"autoMapInputData","value":{"row_number":0},"matchingColumns":["row_number"],"schema":[{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"update-pipeline-evaluated","name":"Update Pipeline Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5152,912],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{},"conditions":[{"leftValue":"={{ $json.freshnessAdjustedScore }}","rightValue":"={{ $('Parse Config').first().json.scoreThreshold }}","operator":{"type":"number","operation":"gte"}}]},"options":{}},"id":"check-threshold","name":"Score >= Threshold?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3712,1696]},{"parameters":{"promptType":"define","text":"={{ 'Generate a tailored CV for this job:\\n\\nCompany: ' + $json.company + '\\nRole: ' + $json.title + '\\nArchetype: ' + $json.eval.archetype + '\\nKeywords: ' + ($json.eval.keywords || []).join(', ') + '\\nCV Match: ' + ($json.eval.cv_match || []).join(', ') + '\\nGaps: ' + ($json.eval.gaps || []).map(g => g.gap).join(', ') + '\\n\\n---\\nMASTER CV (tailor from this):\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# CV Generator Agent — System Prompt\n\nYou are a CV tailoring agent for Preston Bezant. You receive an evaluation report for a specific job and Preston's full CV (provided in the prompt below the job details), then produce a tailored CV optimized for that specific role. You output structured JSON that a Code node will inject into an HTML template.\n\n---\n\n## Role Archetypes & CV Framing\n\n| Archetype | Title to Use | Summary Focus | Lead Roles | Lead Skills |\n|-----------|-------------|---------------|-----------|-------------|\n| Product Designer / UX Lead | Sr. Product Designer | UX leadership, design systems, cross-functional collaboration | Lowe's, Verbosity, Visa | Figma, Design Systems, User Research, Prototyping |\n| IoT Systems Engineer | IoT Systems Architect | Hardware+software integration, RTLS, LoRaWAN, embedded systems | StructureSense, Bezant Solutions | LoRaWAN, ESP32, BLE, C++, Datacake, RTLS |\n| Creative Technologist / Prototyper | Creative Technologist | V0→V1 product development, bridging design and engineering | Bezant Solutions, StructureSense | n8n, AI workflows, 3D Printing, Firmware, Figma |\n| Front-End / Web Developer | Front-End Developer | Web development, component systems, design-to-code | BancVue, Gensuite, Harland Clarke | HTML/CSS/Sass, JavaScript, React, Responsive Design |\n| Design Systems / UX Architect | Design Systems Architect | Atomic design, cross-product consistency, design infrastructure | Visa, Harland Clarke, Lowe's | Figma, Atomic Design, Design Tokens, Component Libraries |\n\n---\n\n## Instructions\n\n1. Read the evaluation JSON — note the `archetype`, `keywords`, `cv_match`, and `gaps`\n2. Select the matching archetype framing from the table above\n3. Choose the title and summary focus for that archetype\n4. **Reorder experience:** Most relevant roles first. Always include at least the top 4 most relevant roles\n5. **Tailor bullets:** For each role, select and lightly rephrase the 3–5 most relevant bullets from Preston's CV to match JD keywords. Do NOT fabricate new accomplishments\n6. **Inject keywords naturally:** Work JD keywords into the summary, first bullet of top 2 roles, and the skills section — only where it's accurate\n7. **Skills section:** Lead with the skills most relevant to this JD; keep others but deprioritize\n8. Keep the education section unchanged\n9. The output summary should be 2–3 sentences max\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble:\n\n{{\n  \"title\": \"Sr. Product Designer\",\n  \"summary\": \"...\",\n  \"experience\": [\n    {{\n      \"company\": \"...\",\n      \"role\": \"...\",\n      \"dates\": \"...\",\n      \"location\": \"...\",\n      \"bullets\": [\"...\", \"...\", \"...\"]\n    }}\n  ],\n  \"skills\": {{\n    \"design\": [\"...\"],\n    \"technical\": [\"...\"],\n    \"tools\": [\"...\"]\n  }},\n  \"education\": [\n    {{\"degree\": \"...\", \"school\": \"...\", \"dates\": \"...\"}}\n  ],\n  \"contact\": {{\n    \"name\": \"Preston Bezant\",\n    \"email\": \"preston@bezantsolutions.com\",\n    \"phone\": \"817-360-4868\",\n    \"portfolio\": \"prestonbezant.me\",\n    \"github\": \"github.com/pbezant\",\n    \"location\": \"Austin, Texas\"\n  }}\n}}"}},"id":"cv-generator-agent","name":"CV Generator AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4160,1200]},{"parameters":{"modelName":"models/gemini-flash-lite-latest","options":{"maxOutputTokens":2048,"temperature":0.3}},"id":"gemini-cv-gen","name":"Gemini Flash Lite - CV Gen","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4160,1376],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.text || '{}';\nconst sourceItem = $('Score >= Threshold?').item;\nlet cvData = {};\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) cvData = JSON.parse(match[0]);\n} catch(e) { cvData = { title: 'Preston Bezant', summary: raw.substring(0, 200) }; }\n\n// Build experience HTML\nconst expHtml = (cvData.experience || []).map(role => `\n  <div class=\"role\">\n    <div class=\"role-header\">\n      <strong>${role.company}</strong> — ${role.role}\n      <span class=\"dates\">${role.dates} | ${role.location || ''}</span>\n    </div>\n    <ul>${(role.bullets || []).map(b => `<li>${b}</li>`).join('')}</ul>\n  </div>`).join('');\n\n// Build skills HTML  \nconst skills = cvData.skills || {};\nconst skillsHtml = [\n  skills.design?.length ? `<div class=\"skill-group\"><strong>Design:</strong> ${skills.design.join(', ')}</div>` : '',\n  skills.technical?.length ? `<div class=\"skill-group\"><strong>Technical:</strong> ${skills.technical.join(', ')}</div>` : '',\n  skills.tools?.length ? `<div class=\"skill-group\"><strong>Tools:</strong> ${skills.tools.join(', ')}</div>` : ''\n].filter(Boolean).join('');\n\nconst contact = cvData.contact || {};\n\nconst cvHtml = `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>${cvData.title || 'Preston Bezant'} — CV</title><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;max-width:800px;margin:0 auto;padding:40px 24px;color:#1a1a1a;line-height:1.5;font-size:14px}h1{font-size:24px;margin-bottom:4px}h2{font-size:16px;border-bottom:1px solid #ddd;padding-bottom:4px;margin-top:24px;margin-bottom:12px}h3{font-size:14px;margin-bottom:2px}.contact{color:#555;margin-bottom:24px;font-size:13px}.role{margin-bottom:16px}.role-header{display:flex;justify-content:space-between;flex-wrap:wrap}.dates{color:#666;font-size:12px}ul{margin:6px 0;padding-left:20px}li{margin-bottom:4px}.skill-group{margin-bottom:6px}</style></head><body><h1>${contact.name || 'Preston Bezant'}</h1><div class=\"title-line\">${cvData.title || ''}</div><div class=\"contact\">${contact.email || ''} | ${contact.phone || ''} | ${contact.portfolio || ''} | ${contact.location || ''}</div><h2>Summary</h2><p>${cvData.summary || ''}</p><h2>Experience</h2>${expHtml}<h2>Skills</h2>${skillsHtml}<h2>Education</h2>${(cvData.education || []).map(e => `<div><strong>${e.degree}</strong> — ${e.school} (${e.dates})</div>`).join('')}</body></html>`;\n\nreturn [{ json: { ...sourceItem.json, cvData, cvHtml, cvVersion: 1 } }];"},"id":"inject-cv-template","name":"Inject CV Template","type":"n8n-nodes-base.code","typeVersion":2,"position":[4448,1328]},{"parameters":{"promptType":"define","text":"={{ 'Write a cover letter for Preston Bezant:\\n\\nCompany: ' + $json.company + '\\nRole: ' + $json.title + '\\nEval Summary: ' + $json.eval.summary + '\\nCV Match points: ' + ($json.eval.cv_match || []).slice(0,3).join('; ') + '\\n\\n---\\nTAILORED CV (use this — already optimised for this role):\\n' + JSON.stringify($json.cvData, null, 2) }}","options":{"systemMessage":"# Cover Letter Agent — System Prompt\n\nYou are a cover letter writer for Preston Bezant. You receive the evaluation report and tailored CV content, then write a personalized, compelling cover letter.\n\n---\n\n## About Preston Bezant\nPreston's full CV is provided in the user message. Use it as the source of truth for proof points, role history, skills, and accomplishments to draw from when writing the letter. His tone: confident, direct, technical but accessible — no corporate buzzwords. He is based in Austin, TX and prefers remote or remote-first roles. Closing signature: \"Best,\\nPreston Bezant\\npreston@bezantsolutions.com | 817-360-4868 | prestonbezant.me\"\n\n---\n\n## Writing Guidelines\n\n1. **Length:** 3 paragraphs max. Never exceed 250 words total. Hiring managers skim.\n2. **Opening:** Hook with a specific, genuine observation about the company or role — not \"I am excited to apply\"\n3. **Middle:** Connect Preston's 2 strongest proof points directly to the JD's top 2 requirements. Use specific numbers and outcomes when possible.\n4. **Closing:** One sentence on why this specific role/company, then a clear call to action\n5. **Tone:** Confident, specific, no filler phrases (\"leverage\", \"synergy\", \"passionate about\")\n6. **Personalization hooks:** Use the `summary` and `cv_match` from the evaluation JSON as raw material\n7. If company info is sparse, focus on the role's technical/design requirements instead of company specifics\n\n---\n\n## Input You Will Receive\n\n- `company`: Company name\n- `role`: Job title\n- `evaluation`: The evaluation JSON (summary, cv_match, gaps, archetype, keywords)\n- `cv_content`: The tailored CV JSON (experience, skills, summary)\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble:\n\n{{\n  \"subject\": \"Application: [Role] at [Company]\",\n  \"salutation\": \"Hi [Hiring Team / Name if known],\",\n  \"paragraph_1\": \"...\",\n  \"paragraph_2\": \"...\",\n  \"paragraph_3\": \"...\",\n  \"closing\": \"Best,\\nPreston Bezant\\npreston@bezantsolutions.com | 817-360-4868 | prestonbezant.me\"\n}}\n"}},"id":"cover-letter-agent","name":"Cover Letter AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4720,1312]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"maxOutputTokens":2048,"temperature":0.5}},"id":"gemini-cover-letter","name":"Gemini Flash Lite - Cover Letter","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4720,1504],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ 'Generate application form answers for:\\n\\nCompany: ' + $('Inject CV Template').item.json.company + '\\nRole: ' + $('Inject CV Template').item.json.title + '\\nEval Summary: ' + ($('Inject CV Template').item.json.eval && $('Inject CV Template').item.json.eval.summary ? $('Inject CV Template').item.json.eval.summary : 'N/A') + '\\nCV Match: ' + ($('Inject CV Template').item.json.eval && $('Inject CV Template').item.json.eval.cv_match ? $('Inject CV Template').item.json.eval.cv_match.join(', ') : 'N/A') + '\\nCover Letter (excerpt): ' + ($json.output ? $json.output.substring(0, 500) : '') + '\\n\\n---\\nPRESTON\\'S CV:\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# Apply Assistant Agent — System Prompt\n\nYou are an application prep agent for Preston Bezant. You generate pre-filled answers to common job application form questions, drawing from the evaluation report, tailored CV, and cover letter content. The goal is to have every field ready to paste — HITL (Preston) reviews and edits before submitting.\n\n---\n\n## Preston Bezant — Static Profile Info\n\n- **Full Name:** Preston Bezant\n- **Email:** preston@bezantsolutions.com\n- **Phone:** 817-360-4868\n- **Location:** Austin, Texas\n- **LinkedIn:** linkedin.com/in/preston-bezant\n- **Portfolio:** prestonbezant.me\n- **GitHub:** github.com/pbezant\n- **Work Authorization:** US Citizen — authorized to work in the US, no sponsorship needed\n- **Willing to relocate:** No (remote preferred)\n- **Desired start date:** 2 weeks notice\n\n## EEO Defaults (from Config — may be overridden by user in sheet)\n- **Race/Ethnicity:** Prefer not to say\n- **Gender:** Male\n- **Veteran status:** No\n- **Disability:** No\n- **Hispanic/Latino:** No\n\n---\n\n## Instructions\n\nPreston's full CV is provided in the user message. Use it as the source of truth to compute accurate years of experience — derive dates directly from his work history. Do NOT fabricate or inflate years beyond what the CV supports.\n\nGenerate pre-filled answers for the following common form questions. Use the evaluation and CV data to make answers role-specific where possible (e.g., \"Why do you want to work here?\" should reference the company and role).\n\nFor salary fields: use the midpoint of $120K–$180K range unless a specific salary expectation is provided. Default answer: \"$140,000–$160,000 depending on total compensation package.\"\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble:\n\n{{\n  \"personal\": {{\n    \"full_name\": \"Preston Bezant\",\n    \"email\": \"preston@bezantsolutions.com\",\n    \"phone\": \"817-360-4868\",\n    \"location\": \"Austin, Texas\",\n    \"linkedin\": \"linkedin.com/in/preston-bezant\",\n    \"portfolio\": \"prestonbezant.me\",\n    \"github\": \"github.com/pbezant\"\n  }},\n  \"work_auth\": {{\n    \"authorized_us\": \"Yes\",\n    \"sponsorship_required\": \"No\",\n    \"willing_to_relocate\": \"No\",\n    \"desired_start\": \"2 weeks after offer acceptance\"\n  }},\n  \"salary\": {{\n    \"expectation\": \"$140,000–$160,000 depending on total compensation\",\n    \"current\": \"Prefer not to disclose\"\n  }},\n  \"experience_years\": {{\n    \"total\": \"15+\",\n    \"ux_product_design\": \"8+\",\n    \"front_end\": \"5+\",\n    \"iot_embedded\": \"1+\",\n    \"figma\": \"6+\",\n    \"design_systems\": \"5+\"\n  }},\n  \"common_questions\": {{\n    \"why_this_company\": \"...\",\n    \"why_this_role\": \"...\",\n    \"describe_relevant_experience\": \"...\",\n    \"greatest_strength\": \"...\",\n    \"biggest_challenge\": \"...\",\n    \"where_in_5_years\": \"Leading technical product work at the intersection of hardware and software — either as a senior IC or small team lead focused on complex product problems.\"\n  }},\n  \"eeo\": {{\n    \"race\": \"Prefer not to say\",\n    \"gender\": \"Male\",\n    \"veteran\": \"No\",\n    \"disability\": \"No\",\n    \"hispanic\": \"No\"\n  }},\n  \"additional_notes\": \"...\"\n}}\n\nThe `additional_notes` field should contain any role-specific preparation tips or flags (e.g., \"This role asks for React experience — emphasize Harland Clarke HTML/CSS/JS work and note self-directed React learning\")."}},"id":"apply-prep-agent","name":"Apply Prep AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5088,1312]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"maxOutputTokens":2048,"temperature":0.3}},"id":"gemini-apply-prep","name":"Gemini Flash Lite - Apply Prep","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5168,1536],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Parse cover letter from the Cover Letter Agent output\nconst clRaw = $('Cover Letter AI Agent').item.json.output || '';\nconst prepRaw = $input.first().json.output || '{}';\n\nlet coverLetter = {};\ntry { const m = clRaw.match(/\\{[\\s\\S]*\\}/); if(m) coverLetter = JSON.parse(m[0]); } catch(e) {}\n\nlet prepAnswers = {};\ntry { const m = prepRaw.match(/\\{[\\s\\S]*\\}/); if(m) prepAnswers = JSON.parse(m[0]); } catch(e) {}\n\n// Build cover letter HTML\nconst clHtml = `<div style=\"font-family:sans-serif;max-width:700px;margin:0 auto;padding:40px 24px;\">\n  <p>${new Date().toLocaleDateString('en-US', {year:'numeric',month:'long',day:'numeric'})}</p>\n  <p>${coverLetter.salutation || 'Hi Hiring Team,'}</p>\n  <p>${coverLetter.paragraph_1 || ''}</p>\n  <p>${coverLetter.paragraph_2 || ''}</p>\n  <p>${coverLetter.paragraph_3 || ''}</p>\n  <p style=\"white-space:pre-line\">${coverLetter.closing || 'Best,\\nPreston Bezant'}</p>\n</div>`;\n\nconst sourceItem = $('Inject CV Template').item;\nreturn [{ json: { ...sourceItem.json, coverLetter, clHtml, prepAnswers } }];"},"id":"parse-cover-and-prep","name":"Parse Cover Letter & Prep","type":"n8n-nodes-base.code","typeVersion":2,"position":[5440,1312]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":804992768,"mode":"list","cachedResultName":"Applications","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=804992768"},"columns":{"mappingMode":"autoMapInputData","value":{"CV File":"={{ $json.cvPath || '' }}","Cover Letter File":"={{ $json.clPath || '' }}"},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"write-application","name":"Write Application Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[7008,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Status":"Prepped"},"matchingColumns":["row_number"],"schema":[{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"update-pipeline-prepped","name":"Update Pipeline Prepped","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[7232,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{},"id":"below-threshold-noop","name":"Below Threshold","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3936,1840]},{"parameters":{"jsCode":"// Cleanup logic runs via separate sheet operations\n// This logs the completion\nconst now = new Date();\nreturn [{ json: { completedAt: now.toISOString(), message: 'Pipeline run complete. Check sheet for results.' } }];"},"id":"cleanup","name":"Cleanup Stale Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[4144,1840]},{"parameters":{"operation":"google_jobs","q":"={{ $json.title }} {{ $json.location }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[1120,1728],"id":"c09f813a-a6a2-45da-9a6f-b1a25579fb78","name":"Google_jobs search","credentials":{"serpApi":{"id":"r8VjspiQWxxBvXg8","name":"SerpApi account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1480065771001479222","mode":"list","cachedResultName":"prestor87's server","cachedResultUrl":"https://discord.com/channels/1480065771001479222"},"channelId":{"__rl":true,"value":"1482464523301683441","mode":"list","cachedResultName":"job-recruiter","cachedResultUrl":"https://discord.com/channels/1480065771001479222/1482464523301683441"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7680,1504],"id":"d93f1592-070b-49eb-813c-1eb484015fa5","name":"Send a message","webhookId":"4cbbdfe4-7c8f-48bc-b48a-477be4ceb0ad","credentials":{"discordBotApi":{"id":"PeIukwvkJqSyArKV","name":"Discord Bot account"}}},{"parameters":{"jsCode":"\nconst item = $input.first().json;\nconst company = (item.company||'unknown').replace(/[^a-z0-9]/gi,'-').toLowerCase().substring(0,30);\nconst title   = (item.title||'role').replace(/[^a-z0-9]/gi,'-').toLowerCase().substring(0,40);\nconst date    = new Date().toISOString().split('T')[0];\nreturn [{ json: {\n  ...item,\n  cvFilename:  date + '-' + company + '-' + title + '-CV.html',\n  clFilename:  date + '-' + company + '-' + title + '-CoverLetter.html',\n  folderId: '1OiKZtIMRe8XRdGPj9jJb0K3I5Wd3Xn37'\n} }];\n"},"id":"prepare-drive-upload","name":"Prepare Drive Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[5664,1312]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Prepare Drive Upload').item.json.cvFilename.replace('.html',''), mimeType: 'application/vnd.google-apps.document', parents: [$('Prepare Drive Upload').item.json.folderId] }) }}","options":{}},"id":"create-cv-meta","name":"Create CV Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[5888,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"method":"PATCH","url":"={{ 'https://www.googleapis.com/upload/drive/v3/files/' + $json.id + '?uploadType=media&convert=true' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $('Prepare Drive Upload').item.json.cvHtml || '<p>No CV generated</p>' }}","options":{}},"id":"upload-cv-content","name":"Upload CV Content","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[6112,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Prepare Drive Upload').item.json.clFilename.replace('.html',''), mimeType: 'application/vnd.google-apps.document', parents: [$('Prepare Drive Upload').item.json.folderId] }) }}","options":{}},"id":"create-cl-meta","name":"Create CL Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[6336,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"method":"PATCH","url":"={{ 'https://www.googleapis.com/upload/drive/v3/files/' + $json.id + '?uploadType=media&convert=true' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $('Prepare Drive Upload').item.json.clHtml || '<p>No cover letter generated</p>' }}","options":{}},"id":"upload-cl-content","name":"Upload CL Content","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[6560,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"jsCode":"\nconst src   = $('Prepare Drive Upload').item.json;\nconst cvId  = $('Upload CV Content').item.json.id || '';\nconst clId  = $input.first().json.id || '';  // CL is current input (last in chain)\nconst cvPath = cvId ? `https://drive.google.com/file/d/${cvId}/view` : '(cv upload failed)';\nconst clPath = clId ? `https://drive.google.com/file/d/${clId}/view` : '(cl upload failed)';\nreturn [{ json: { ...src, cvPath, clPath } }];\n"},"id":"build-drive-links","name":"Build Drive Links","type":"n8n-nodes-base.code","typeVersion":2,"position":[6784,1312]},{"parameters":{"batchSize":2,"options":{}},"id":"batch-for-cv-gen","name":"Batch for CV Gen","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3856,1424]},{"parameters":{"jsCode":"\nconst j = $('Build Drive Links').item.json;\nconst sheetUrl = 'https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg';\n\nconst grade  = j.grade || '?';\nconst score  = j.freshnessAdjustedScore !== undefined ? j.freshnessAdjustedScore.toFixed(2) : (j.overallScore || '?');\nconst cvLink  = j.cvPath  ? `[📄 CV](${j.cvPath})`           : '_(no CV)_';\nconst clLink  = j.clPath  ? `[✉️ Cover Letter](${j.clPath})` : '_(no CL)_';\nconst jobLink = j.url     ? `[🔗 Job Posting](${j.url})`     : '';\n\nconst msg = [\n  `✅ **${j.title}** at **${j.company}**`,\n  `> Grade: **${grade}** | Score: **${score}** | ${j.location || ''}`,\n  `> ${cvLink}  •  ${clLink}  ${jobLink ? '•  ' + jobLink : ''}`,\n  `> [View Spreadsheet](${sheetUrl})`\n].join('\\n');\n\nreturn [{ json: { ...j, discordMessage: msg } }];\n"},"id":"build-job-discord-message","name":"Build Job Discord Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[7456,1312]},{"parameters":{"jsCode":"\n// Only process listings from the last 48 hours, max 50 per run\nconst cutoff = new Date(Date.now() - 48 * 60 * 60 * 1000);\nconst recent = $input.all().filter(item => {\n  const d = new Date(item.json.dateFound || item.json.DateFound || 0);\n  return d >= cutoff;\n}).slice(0, 50);\nif (recent.length === 0) return [{ json: { _skip: true } }];\nreturn recent;\n"},"id":"filter-recent-listings","name":"Filter Recent Listings","type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,1712]},{"parameters":{"batchSize":3,"options":{}},"id":"batch-for-evaluation","name":"Batch for Evaluation","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3488,1728]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json._nothingNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"2bdbb171-1be3-40c2-82de-bfbc799f7e36"}],"combinator":"and"},"options":{}},"id":"route-after-dedup-001","name":"Route After Dedup","type":"n8n-nodes-base.if","typeVersion":2,"position":[2016,1728]},{"parameters":{"operation":"get","documentURL":"1ZpZWuk1rd_jVHTry26YhfZ6OTH0yeoeyIYaDB-CxjZw"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2704,1600],"id":"88a93f63-0449-45dc-b1fa-1454f73fb508","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"ReMmyu5a9wNdeiW6","name":"Google Docs account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"maxOutputTokens":4096,"temperature":0.1}},"id":"gemini-evaluator","name":"Gemini Flash - Evaluator","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4160,976],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"is:unread (subject:job OR subject:career OR subject:hiring OR subject:opportunity OR subject:alert OR from:jobalerts-noreply@linkedin.com OR from:invitations@linkedin.com OR from:alert@indeed.com OR from:noreply@glassdoor.com OR from:noreply@ziprecruiter.com)"},"options":{}},"id":"gmail-trigger-alerts","name":"Gmail Trigger - Job Alerts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[96,2208],"webhookId":"ce4d1904-e868-4815-ae15-e128b4be8a80","credentials":{"gmailOAuth2":{"id":"cZIfyQPNke8rIHal","name":"Gmail account"}}},{"parameters":{"jsCode":"// ============================================================\n// EMAIL PARSER — handles Gmail Trigger single-email output shape.\n// Returns a flat array of JobAlert objects.\n// Supports: LinkedIn, Indeed, Glassdoor, ZipRecruiter, Dice, Jobright,\n//           Google Job Alerts, and generic fallback.\n//\n// Adding a new email source:\n//   1. Write parseYourSource(html, subject, emailDate) → JobAlert[]\n//   2. Add an entry to SOURCE_REGISTRY (before the 'generic' entry)\n// ============================================================\nconst emails = $input.all();\nconst jobs = [];\n\n// ---- Utility functions ----\n\nconst decodeBase64 = (data) => {\n  if (!data || typeof data !== 'string') return '';\n  try {\n    const normalized = data.replace(/-/g, '+').replace(/_/g, '/');\n    return Buffer.from(normalized, 'base64').toString('utf-8');\n  } catch {\n    return '';\n  }\n};\n\nconst decodeMimeWords = (value = '') => {\n  if (!value || typeof value !== 'string') return '';\n  // RFC 2047 sec 6.2: collapse whitespace between adjacent encoded-words\n  const collapsed = value.replace(/\\?=\\s+=\\?/g, '?==?');\n  return collapsed.replace(/=\\?([^?]+)\\?([BQbq])\\?([^?]+)\\?=/g, (_, charset, enc, text) => {\n    try {\n      if ((enc || '').toUpperCase() === 'B') {\n        return Buffer.from(text, 'base64').toString('utf-8');\n      }\n      // Q-encoding: collect raw bytes and decode as UTF-8 via Buffer\n      const bytes = [];\n      for (let i = 0; i < text.length; ) {\n        if (text[i] === '=' && i + 2 < text.length && /[0-9A-Fa-f]{2}/.test(text.substring(i+1, i+3))) {\n          bytes.push(parseInt(text.substring(i+1, i+3), 16));\n          i += 3;\n        } else if (text[i] === '_') {\n          bytes.push(0x20);\n          i++;\n        } else {\n          bytes.push(text.charCodeAt(i));\n          i++;\n        }\n      }\n      return Buffer.from(bytes).toString('utf-8');\n    } catch {\n      return text;\n    }\n  });\n};\n\nconst decodeTrackedUrl = (u = '') => {\n  try {\n    const parsed = new URL(u);\n    const keys = ['url', 'u', 'target', 'dest', 'destination', 'redirect', 'redirectUrl'];\n    for (const key of keys) {\n      const val = parsed.searchParams.get(key);\n      if (val && /^https?:\\/\\//i.test(val)) return val;\n    }\n    return u;\n  } catch {\n    return u;\n  }\n};\n\nconst isLikelyJobUrl = (u = '') => {\n  if (!/^https?:\\/\\//i.test(u)) return false;\n  if (/(\\.png|\\.jpg|\\.jpeg|\\.gif|\\.svg|\\.webp|apps\\.apple\\.com|play\\.google\\.com|unsubscribe|privacy|terms|dashboard|settings)/i.test(u)) return false;\n  // Accept Google notification redirects (resolved to real URL downstream)\n  if (/notifications\\.googleapis\\.com\\/email\\/redirect/i.test(u)) return true;\n  return /(linkedin\\.com\\/(comm\\/)?jobs\\/(view|search)|indeed\\.com|glassdoor\\.com|ziprecruiter\\.com|dice\\.com|jobright\\.ai|greenhouse\\.io|lever\\.co|workdayjobs|job|career|position|vacanc|opportunit|apply)/i.test(u);\n};\n\nconst parseLinkedInSubject = (subject = '') => {\n  const cleaned = decodeMimeWords(subject || '').replace(/[\\u201c\\u201d]/g, '\"').trim();\n  // Digest format: \"search term\": Company - Job Title and more\n  const digestMatch = cleaned.match(/^[\"']?[^:\"']+[\"']?\\s*:\\s*([^\\n-]{2,120})\\s*-\\s*([^\\n]{2,160}?)(?:\\s+and more.*)?$/i);\n  if (digestMatch) {\n    return { jobTitle: digestMatch[2].trim(), company: digestMatch[1].trim() };\n  }\n  // Job alert format: \"Your job alert for product design engineer\"\n  const alertMatch = cleaned.match(/(?:Your\\s+)?job\\s+alert\\s+for\\s+(.+)/i);\n  if (alertMatch) {\n    return { jobTitle: alertMatch[1].trim(), company: '' };\n  }\n  const basic = cleaned.replace(/^(re:|fwd:|new jobs?|job alert|job recommendations?|career update)[:\\s-]*/gi, '').trim();\n  return { jobTitle: basic || 'Unknown Position', company: '' };\n};\n\n// Parse \"Subject at Company\" patterns (Dice IntelliSearch, Jobright, etc.)\nconst parseSubjectAtCompany = (subject = '') => {\n  const cleaned = decodeMimeWords(subject || '').replace(/[\\u201c\\u201d]/g, '\"').trim();\n  // Dice: \"Your IntelliSearch Alert: Title at Company\"\n  const intelliMatch = cleaned.match(/IntelliSearch Alert[:\\s]*\\s*(.+?)\\s+at\\s+(.+?)\\.?\\s*$/i);\n  if (intelliMatch) return { jobTitle: intelliMatch[1].trim(), company: intelliMatch[2].trim() };\n  // Jobright: 'Your job matches for \"Title\" — curated for you from Jobright'\n  const jobrightMatch = cleaned.match(/job matches for\\s+[\"\\u201c]([^\"\\u201d]+)[\"\\u201d]/i);\n  if (jobrightMatch) return { jobTitle: jobrightMatch[1].trim(), company: '' };\n  // Generic \"Title at Company\" pattern\n  const atMatch = cleaned.match(/^(.{5,80})\\s+at\\s+(.{2,80})$/i);\n  if (atMatch) return { jobTitle: atMatch[1].trim(), company: atMatch[2].trim() };\n  return null;\n};\n\n// ---- Source Registry ----\n// To add a new email source:\n//   1. Write a parseXxx(html, subject, emailDate) function below\n//   2. Add an entry here BEFORE the 'generic' catch-all entry\n//   detect(from, subject, content) should return true when this source matches\nconst SOURCE_REGISTRY = [\n  {\n    name: 'google_alerts',\n    detect: (from) => /notify-noreply@google\\.com/i.test(from) || /job\\s*alerts?\\s*from\\s*google/i.test(from),\n    parse: (html, subject, emailDate) => parseGoogleAlerts(html, subject, emailDate)\n  },\n  {\n    name: 'linkedin',\n    detect: (from, subject, content) =>\n      /linkedin/i.test(from) ||\n      (!from && /(linkedin\\.com\\/(comm\\/)?jobs\\/view|jobalerts-noreply@linkedin\\.com)/i.test(content)),\n    parse: (html, subject, emailDate) => parseLinkedIn(html, subject, emailDate)\n  },\n  {\n    name: 'indeed',\n    detect: (from) => /indeed/i.test(from),\n    parse: (html, subject, emailDate) => parseIndeed(html || '', subject, emailDate)\n  },\n  {\n    name: 'glassdoor',\n    detect: (from) => /glassdoor/i.test(from),\n    parse: (html, subject, emailDate) => parseGlassdoor(html || '', subject, emailDate)\n  },\n  {\n    name: 'ziprecruiter',\n    detect: (from) => /ziprecruiter/i.test(from),\n    parse: (html, subject, emailDate) => parseZipRecruiter(html || '', subject, emailDate)\n  },\n  {\n    name: 'dice',\n    detect: (from, subject) => /dice/i.test(from) || /IntelliSearch Alert/i.test(subject),\n    parse: (html, subject, emailDate) => parseDice(html || '', subject, emailDate)\n  },\n  {\n    name: 'jobright',\n    detect: (from) => /jobright/i.test(from),\n    parse: (html, subject, emailDate) => parseJobright(html || '', subject, emailDate)\n  },\n  {\n    name: 'generic',\n    detect: () => true,\n    parse: (html, subject, emailDate) => parseGeneric(html || '', subject, emailDate)\n  }\n];\n\n// ---- Main email loop ----\n\nfor (const email of emails) {\n  const raw = email.json || {};\n  let html = '', text = '', subject = '', from = '', emailDate = new Date().toISOString(), emailId = '';\n\n  const payload = raw.payload || {};\n  const getHeader = (name) => {\n    const target = (name || '').toLowerCase();\n    const headers = Array.isArray(payload.headers) ? payload.headers : [];\n    const hit = headers.find(h => (h?.name || '').toLowerCase() === target);\n    if (hit?.value) return hit.value;\n\n    const lower = (name || '').toLowerCase();\n    const title = lower ? `${lower.charAt(0).toUpperCase()}${lower.slice(1)}` : name;\n    const variants = [name, lower, title, (name || '').toUpperCase()];\n    for (const key of variants) {\n      if (!key) continue;\n      const v = raw[key];\n      if (typeof v === 'string' && v.trim()) return v;\n    }\n    return '';\n  };\n\n  const walkParts = (parts, acc = { text: '', html: '' }) => {\n    if (!Array.isArray(parts)) return acc;\n    for (const part of parts) {\n      const mime = (part?.mimeType || '').toLowerCase();\n      const data = part?.body?.data;\n      if (mime === 'text/plain' && !acc.text && data) acc.text = decodeBase64(data);\n      if (mime === 'text/html' && !acc.html && data) acc.html = decodeBase64(data);\n      if (Array.isArray(part?.parts)) walkParts(part.parts, acc);\n      if (acc.text && acc.html) break;\n    }\n    return acc;\n  };\n\n  subject = decodeMimeWords(getHeader('Subject') || raw.subject || '');\n  from = decodeMimeWords(getHeader('From') || raw.from?.value?.[0]?.address || raw.from || '');\n\n  if (raw.payload) {\n    emailDate = raw.internalDate ? new Date(parseInt(raw.internalDate)).toISOString() : (raw.date || new Date().toISOString());\n    emailId = raw.id || '';\n\n    const bodyData = raw.payload?.body?.data;\n    if (bodyData) {\n      const decoded = decodeBase64(bodyData);\n      const mime = (raw.payload?.mimeType || '').toLowerCase();\n      if (mime === 'text/plain') text = decoded;\n      else html = decoded;\n    }\n\n    const walked = walkParts(raw.payload?.parts || []);\n    if (!text && walked.text) text = walked.text;\n    if (!html && walked.html) html = walked.html;\n\n    if (!text && !html) {\n      text = raw.text || '';\n      html = raw.html || raw.snippet || '';\n    } else {\n      text = text || raw.text || '';\n      html = html || raw.html || raw.snippet || '';\n    }\n  } else {\n    html = raw.html || '';\n    text = raw.text || '';\n    emailDate = raw.date || new Date().toISOString();\n    emailId = raw.id || '';\n    if (!text && !html) html = raw.snippet || '';\n  }\n\n  if (!text && !html) {\n    text = raw.text || '';\n    html = raw.html || raw.snippet || '';\n  }\n\n  const contentForSource = `${subject}\\n${from}\\n${text}\\n${html}`;\n\n  // Detect source using registry — first match wins, 'generic' is always last\n  let source = 'generic';\n  let registryEntry = SOURCE_REGISTRY[SOURCE_REGISTRY.length - 1];\n  for (const entry of SOURCE_REGISTRY) {\n    if (entry.detect(from, subject, contentForSource)) {\n      source = entry.name;\n      registryEntry = entry;\n      break;\n    }\n  }\n\n  let extracted = [];\n  try {\n    extracted = registryEntry.parse(html || text, subject, emailDate);\n  } catch (e) {\n    extracted = parseGeneric(html || text, subject, emailDate);\n  }\n\n  for (const job of extracted) {\n    if (job.jobTitle) jobs.push({ ...job, source, emailDate, emailId, parseConfidence: job.parseConfidence || 'regex' });\n  }\n}\n\n// ---- Source-specific parsers ----\n\nfunction parseGoogleAlerts(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n\n  // Decode quoted-printable: soft line breaks + hex sequences + entities\n  const normalized = (html || '')\n    .replace(/=\\r?\\n/g, '')\n    .replace(/=([0-9A-Fa-f]{2})/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&amp;/gi, '&');\n\n  // Extract search query from subject: '6 new jobs for \"creative technologist jobs\" - Mar 5'\n  const subjectMatch = subject.match(/(?:\\d+\\s+new\\s+)?jobs?\\s+for\\s+[\"\\u201c]([^\"\\u201d]+)[\"\\u201d]/i);\n  const searchQuery = subjectMatch ? subjectMatch[1].trim() : '';\n\n  // Location hint from the email header (e.g., \"Near Kyle, TX\")\n  const locationHintMatch = normalized.match(/Near\\s+([^<]{3,60})<\\/span>/i);\n  const locationHint = locationHintMatch ? locationHintMatch[1].trim() : '';\n\n  // Each job card is an <a> wrapping a table with title/company/location.\n  // The footer \"Explore jobs\" / \"Manage Alerts\" / \"Unsubscribe\" links are filtered out.\n  const cardRegex = /<a[^>]+href=[\"'](https:\\/\\/notifications\\.googleapis\\.com\\/email\\/redirect[^\"'< ]+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let cardMatch;\n  while ((cardMatch = cardRegex.exec(normalized)) !== null) {\n    const href = (cardMatch[1] || '').trim();\n    const cardHtml = cardMatch[2] || '';\n\n    // Skip footer/utility links\n    if (/Explore\\s+jobs|Manage\\s+Alerts|Unsubscribe|Forward\\s+icon|google_logo/i.test(cardHtml)) continue;\n\n    // Job title: <span style=\"...font-size: 16px; line-height: 1.43em;\">Title</span>\n    const titleMatch = cardHtml.match(/<span[^>]*font-size:\\s*16px[^>]*>([^<]+)<\\/span>/i);\n    const jobTitle = titleMatch ? titleMatch[1].trim() : '';\n    if (!jobTitle) continue; // Not a job card\n\n    // Company: <div style=\"color: black; font-size: 14px; ...\">Company Name</div>\n    const companyMatch = cardHtml.match(/<div[^>]*color:\\s*(?:#000000|black)[^>]*>([^<]+)<\\/div>/i);\n    const company = companyMatch ? companyMatch[1].trim() : '';\n\n    // Location: first <span> child inside a color:#8A8A8A div that doesn't start with \"via \"\n    const locationDivs = [...cardHtml.matchAll(/<div[^>]*color:\\s*#8A8A8A[^>]*>([\\s\\S]*?)<\\/div>/gi)];\n    let location = '';\n    for (const div of locationDivs) {\n      const spanMatch = div[1].match(/<span[^>]*>([^<]+)<\\/span>/i);\n      if (spanMatch && !/^via\\s/i.test(spanMatch[1].trim())) {\n        location = spanMatch[1].trim();\n        break;\n      }\n    }\n\n    // Employment type from the Work icon span (Full-time, Part-time, etc.)\n    const typeMatch = cardHtml.match(/work_grey600[^>]*>[^<]*<\\/img>\\s*<span[^>]*>([^<]+)<\\/span>/i)\n      || cardHtml.match(/<span[^>]*>(\\bFull-time\\b|\\bPart-time\\b|\\bContract\\b|\\bTemporary\\b|\\bInternship\\b)[^<]*<\\/span>/i);\n    const employmentType = typeMatch ? typeMatch[1].trim() : '';\n\n    if (seen.has(href)) continue;\n    seen.add(href);\n\n    jobs.push({\n      jobTitle,\n      company,\n      location: location || locationHint,\n      description: [\n        searchQuery ? `Google Alert: ${searchQuery}` : '',\n        employmentType || ''\n      ].filter(Boolean).join(' — ') || '',\n      applyUrl: href,\n      parseConfidence: 'high',\n      needsRedirectResolution: true\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseLinkedIn(content, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  const normalized = (content || '').replace(/=\\r?\\n/g, '').replace(/=3D/gi, '=').replace(/&amp;/gi, '&');\n  const subjectFallback = parseLinkedInSubject(subject);\n\n  // ---- PASS 1: Line-by-line digest parser ----\n  const lines = normalized.split('\\n').map(l => l.trimEnd());\n\n  for (let i = 0; i < lines.length; i++) {\n    const viewJobMatch = lines[i].match(/^\\s*View job:\\s*(https?:\\/\\/(?:www\\.)?linkedin\\.com\\/(?:comm\\/)?jobs\\/view\\/[^\\s]+)/i);\n    if (!viewJobMatch) continue;\n\n    const applyUrl = decodeTrackedUrl(viewJobMatch[1].trim()).replace(/[),.;]+$/g, '');\n    if (!applyUrl || seen.has(applyUrl)) continue;\n    seen.add(applyUrl);\n\n    const contentLines = [];\n    let backIdx = i - 1;\n    let scanned = 0;\n\n    while (backIdx >= 0 && contentLines.length < 5 && scanned < 10) {\n      const line = lines[backIdx].trim();\n      backIdx--;\n      scanned++;\n\n      if (/^-{3,}$/.test(line)) break;\n      if (/^Your job alert/i.test(line)) break;\n      if (/^New jobs match/i.test(line)) break;\n\n      if (!line) continue;\n      if (/^(Apply with|This company|Actively hiring|Be an early|Easy Apply)/i.test(line)) continue;\n\n      contentLines.unshift(line);\n    }\n\n    let title = '', company = '', location = '';\n    if (contentLines.length >= 3) {\n      title = contentLines[0];\n      company = contentLines[1];\n      location = contentLines[2];\n    } else if (contentLines.length === 2) {\n      title = contentLines[0];\n      company = contentLines[1];\n    } else if (contentLines.length === 1) {\n      title = contentLines[0];\n    }\n\n    jobs.push({\n      jobTitle: title || subjectFallback.jobTitle || 'Unknown Position',\n      company: company || subjectFallback.company || '',\n      location: location || '',\n      description: '',\n      applyUrl,\n      parseConfidence: title ? 'digest' : 'url_only'\n    });\n  }\n\n  // ---- PASS 2: URL-only fallback ----\n  const urlRegex = /https?:\\/\\/www\\.linkedin\\.com\\/(?:comm\\/)?jobs\\/view\\/[^\\s<>\"')\\]]+/gi;\n  const urlMatches = normalized.match(urlRegex) || [];\n  for (const rawUrl of urlMatches) {\n    const applyUrl = decodeTrackedUrl((rawUrl || '').trim()).replace(/[),.;]+$/g, '');\n    if (!applyUrl || seen.has(applyUrl)) continue;\n    seen.add(applyUrl);\n    jobs.push({\n      jobTitle: subjectFallback.jobTitle || 'Unknown Position',\n      company: subjectFallback.company || '',\n      location: '',\n      description: '',\n      applyUrl,\n      parseConfidence: 'url_only'\n    });\n  }\n\n  if (jobs.length) return jobs;\n\n  // ---- PASS 3: HTML card fallback ----\n  let m;\n  const jobCardRegex = /<a[^>]+href=\"(https:\\/\\/(?:www\\.)?linkedin\\.com\\/(?:comm\\/)?jobs\\/view\\/[^\"?]+)[^\"]*\"[^>]*>\\s*([^<]{5,120})\\s*<\\/a>/gi;\n  const companyRegex = /<span[^>]*class=\"[^\"]*company[^\"]*\"[^>]*>([^<]+)<\\/span>/gi;\n  const urls = [], titles = [], companies = [];\n\n  while ((m = jobCardRegex.exec(normalized)) !== null) {\n    urls.push(decodeTrackedUrl(m[1] || ''));\n    titles.push((m[2] || '').trim());\n  }\n  while ((m = companyRegex.exec(normalized)) !== null) {\n    companies.push((m[1] || '').trim());\n  }\n\n  for (let i = 0; i < titles.length; i++) {\n    const applyUrl = (urls[i] || '').trim();\n    if (!applyUrl || seen.has(applyUrl)) continue;\n    seen.add(applyUrl);\n    jobs.push({\n      jobTitle: titles[i] || subjectFallback.jobTitle || 'Unknown Position',\n      company: companies[i] || subjectFallback.company || '',\n      description: '',\n      applyUrl,\n      location: ''\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(normalized, subject, emailDate);\n}\n\nfunction parseDice(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  const subjectParsed = parseSubjectAtCompany(subject) || { jobTitle: subject.trim(), company: '' };\n\n  // Dice IntelliSearch emails are single-job alerts — only need the first real dice.com URL\n  const hrefRegex = /href=[\"']([^\"']+)[\"']/gi;\n  let m;\n  while ((m = hrefRegex.exec(html)) !== null) {\n    let url = (m[1] || '').trim();\n    if (url.startsWith('/')) continue;\n    url = decodeTrackedUrl(url);\n    if (!/dice\\.com/i.test(url)) continue;\n    if (/unsubscribe|privacy|settings|preferences|manage|account/i.test(url)) continue;\n    if (seen.has(url)) continue;\n    seen.add(url);\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: url,\n      location: '',\n      parseConfidence: 'medium'\n    });\n    break; // Single-job alert — one URL is enough\n  }\n\n  if (jobs.length === 0) {\n    const textUrlRegex = /https?:\\/\\/[^\\s<>\"')]+dice\\.com[^\\s<>\"')]+/gi;\n    const urls = (html.match(textUrlRegex) || []).map(decodeTrackedUrl);\n    for (const url of urls) {\n      if (/unsubscribe|privacy|settings|preferences|manage|account/i.test(url)) continue;\n      if (seen.has(url)) continue;\n      seen.add(url);\n      jobs.push({\n        jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n        company: subjectParsed.company || '',\n        description: '',\n        applyUrl: url,\n        location: '',\n        parseConfidence: 'low'\n      });\n      break;\n    }\n  }\n\n  // Fallback: subject data with no URL is still a valid job hit\n  if (jobs.length === 0 && subjectParsed.jobTitle && subjectParsed.jobTitle !== 'Unknown Position') {\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle,\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: '',\n      location: '',\n      parseConfidence: 'subject_only'\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseJobright(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  const subjectParsed = parseSubjectAtCompany(subject) || { jobTitle: subject.trim(), company: '' };\n\n  const hrefRegex = /href=[\"']([^\"']+)[\"']/gi;\n  let m;\n  while ((m = hrefRegex.exec(html)) !== null) {\n    let url = (m[1] || '').trim();\n    if (url.startsWith('/')) continue;\n    url = decodeTrackedUrl(url);\n    if (!isLikelyJobUrl(url) || seen.has(url)) continue;\n    if (/unsubscribe|privacy|settings|preferences/i.test(url)) continue;\n    seen.add(url);\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: url,\n      location: '',\n      parseConfidence: 'medium'\n    });\n  }\n\n  if (jobs.length === 0 && subjectParsed.jobTitle && subjectParsed.jobTitle !== 'Unknown Position') {\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle,\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: '',\n      location: '',\n      parseConfidence: 'subject_only'\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseIndeed(html, subject, emailDate) {\n  const jobs = [];\n  const blockRegex = /href=\"(https:\\/\\/(?:www\\.)?indeed\\.com\\/(?:viewjob|rc\\/clk)[^\"]+)\"[\\s\\S]*?<h2[^>]*>([^<]+)<\\/h2>[\\s\\S]*?<span[^>]*>([^<]+)<\\/span>/gi;\n  let m;\n  while ((m = blockRegex.exec(html)) !== null)\n    jobs.push({ jobTitle: m[2].trim(), company: m[3].trim(), description: '', applyUrl: m[1], location: '' });\n  if (jobs.length === 0) {\n    const linkRegex = /href=\"(https:\\/\\/(?:www\\.)?indeed\\.com\\/[^\"]+)\"[^>]*>([^<]{5,80})<\\/a>/gi;\n    while ((m = linkRegex.exec(html)) !== null)\n      if (!m[2].includes('Indeed') && !m[2].includes('Unsubscribe'))\n        jobs.push({ jobTitle: m[2].trim(), company: '', description: '', applyUrl: m[1], location: '' });\n  }\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseGlassdoor(html, subject, emailDate) {\n  const jobs = [];\n  const blockRegex = /href=\"(https:\\/\\/(?:www\\.)?glassdoor\\.com\\/[^\"]+job[^\"]+)\"[^>]*>([^<]{5,100})<\\/a>/gi;\n  let m;\n  while ((m = blockRegex.exec(html)) !== null)\n    if (!m[2].includes('Glassdoor') && !m[2].includes('Unsubscribe'))\n      jobs.push({ jobTitle: m[2].replace(/<[^>]+>/g, '').trim(), company: '', description: '', applyUrl: m[1], location: '' });\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseZipRecruiter(html, subject, emailDate) {\n  const jobs = [];\n  const blockRegex = /href=\"(https:\\/\\/(?:www\\.)?ziprecruiter\\.com\\/[^\"]+)\"[^>]*>([^<]{5,100})<\\/a>/gi;\n  let m;\n  while ((m = blockRegex.exec(html)) !== null) {\n    const text = m[2].trim();\n    if (text && !text.includes('ZipRecruiter') && !text.includes('Unsubscribe') && text.length < 120)\n      jobs.push({ jobTitle: text, company: '', description: '', applyUrl: m[1], location: '' });\n  }\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseGeneric(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  // Try specific subject patterns first, then LinkedIn-style fallback\n  const subjectParsed = parseSubjectAtCompany(subject) || parseLinkedInSubject(subject);\n\n  const hrefRegex = /href=[\"']([^\"']+)[\"']/gi;\n  let m;\n  while ((m = hrefRegex.exec(html)) !== null) {\n    let url = (m[1] || '').trim();\n    if (url.startsWith('/')) continue;\n    url = decodeTrackedUrl(url);\n    if (!isLikelyJobUrl(url) || seen.has(url)) continue;\n    seen.add(url);\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: url,\n      location: '',\n      parseConfidence: 'medium'\n    });\n  }\n\n  if (jobs.length === 0) {\n    const textUrlRegex = /https?:\\/\\/[^\\s<>\"')]+/gi;\n    const urls = (html.match(textUrlRegex) || []).map(decodeTrackedUrl);\n    for (const url of urls) {\n      if (!isLikelyJobUrl(url) || seen.has(url)) continue;\n      seen.add(url);\n      jobs.push({\n        jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n        company: subjectParsed.company || '',\n        description: '',\n        applyUrl: url,\n        location: '',\n        parseConfidence: 'low'\n      });\n    }\n  }\n\n  if (jobs.length === 0)\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || subject.trim() || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: '',\n      location: '',\n      parseConfidence: 'very_low'\n    });\n\n  return jobs;\n}\n\nif (jobs.length === 0) return [{ json: { _noJobs: true } }];\nreturn jobs.map(j => ({ json: j }));\n"},"name":"Parse Job Alert Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,2208],"id":"parse-email-alerts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-001","leftValue":"={{ $json._noJobs }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"name":"IF - Email Jobs Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,2208],"id":"if-email-jobs-found"},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.filter(i => !i.json._noJobs).map(item => {\n  const j = item.json;\n  const company = (j.company || \"\").trim();\n  const title = (j.jobTitle || \"\").trim();\n  let domain = \"\";\n  try { domain = j.applyUrl ? new URL(j.applyUrl).hostname.replace(\"www.\",\"\") : \"\"; } catch(e) {}\n  return { json: {\n    id: \"email_\" + Date.now() + \"_\" + Math.random().toString(36).substring(2,6),\n    source: \"Email Alert (\" + (j.emailSource || \"unknown\") + \")\",\n    company,\n    title,\n    url: j.applyUrl || \"\",\n    snippet: (j.description || \"\").substring(0, 500),\n    dateFound: new Date().toISOString(),\n    Status: \"New\",\n    \"Dedup Key\": company.toLowerCase() + \"|\" + title.toLowerCase() + \"|\" + domain,\n    Rendering: \"static\"\n  }};\n});"},"name":"Normalize Email Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,2208],"id":"normalize-email-jobs"},{"parameters":{"jsCode":"// Bail if Parse Config never ran (email path — no SerpAPI scan needed)\nlet parseConfigData;\ntry {\n  parseConfigData = $(\"Parse Config\").first().json;\n} catch(e) {\n  return [];\n}\n\nconst { jobTitles, config } = parseConfigData;\n\nconst locations = (config.locations || \"Austin, Texas\")\n  .split(\"|\")\n  .map(l => l.trim())\n  .filter(Boolean);\n\nconst combos = [];\nfor (const title of jobTitles) {\n  for (const location of locations) {\n    combos.push({ json: { title, location } });\n  }\n}\n\nreturn combos;"},"id":"ats-sites","name":"Emit Job Titles","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1712]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Config Loader","type":"main","index":0},{"node":"Get a document","type":"main","index":0}]]},"Config Loader":{"main":[[{"node":"Parse Config","type":"main","index":0}]]},"Parse Config":{"main":[[{"node":"Emit Job Titles","type":"main","index":0}]]},"Google_jobs search":{"main":[[{"node":"Parse Search Results","type":"main","index":0}]]},"Parse Search Results":{"main":[[{"node":"Read Pipeline for Dedup","type":"main","index":0}]]},"Read Pipeline for Dedup":{"main":[[{"node":"Dedup Filter","type":"main","index":0}]]},"Dedup Filter":{"main":[[{"node":"Route After Dedup","type":"main","index":0}]]},"Append to Pipeline":{"main":[[{"node":"Read New Listings","type":"main","index":0}]]},"Read New Listings":{"main":[[{"node":"Filter Recent Listings","type":"main","index":0}]]},"Filter Recent Listings":{"main":[[{"node":"Batch for Pre-Screen","type":"main","index":0}]]},"Batch for Pre-Screen":{"main":[[{"node":"Filter Passed Pre-Screen","type":"main","index":0}],[{"node":"Pre-Screen AI Agent","type":"main","index":0}]]},"Pre-Screen AI Agent":{"main":[[{"node":"Parse Pre-Screen Result","type":"main","index":0}]]},"Parse Pre-Screen Result":{"main":[[{"node":"Update Pre-Screen Status","type":"main","index":0}]]},"Update Pre-Screen Status":{"main":[[{"node":"Batch for Pre-Screen","type":"main","index":0}]]},"Filter Passed Pre-Screen":{"main":[[{"node":"Batch for Evaluation","type":"main","index":0}]]},"Batch for Evaluation":{"main":[[{"node":"Score >= Threshold?","type":"main","index":0}],[{"node":"Fetch Job Description","type":"main","index":0}]]},"Fetch Job Description":{"main":[[{"node":"Extract JD Text","type":"main","index":0}]]},"Extract JD Text":{"main":[[{"node":"Evaluator AI Agent","type":"main","index":0}]]},"Evaluator AI Agent":{"main":[[{"node":"Apply Scoring & Freshness","type":"main","index":0}]]},"Apply Scoring & Freshness":{"main":[[{"node":"Write Evaluation","type":"main","index":0}]]},"Write Evaluation":{"main":[[{"node":"Update Pipeline Status","type":"main","index":0}]]},"Update Pipeline Status":{"main":[[{"node":"Batch for Evaluation","type":"main","index":0}]]},"Score >= Threshold?":{"main":[[{"node":"Batch for CV Gen","type":"main","index":0}],[{"node":"Below Threshold","type":"main","index":0}]]},"Batch for CV Gen":{"main":[[{"node":"Cleanup Stale Rows","type":"main","index":0}],[{"node":"CV Generator AI Agent","type":"main","index":0}]]},"CV Generator AI Agent":{"main":[[{"node":"Inject CV Template","type":"main","index":0}]]},"Inject CV Template":{"main":[[{"node":"Cover Letter AI Agent","type":"main","index":0}]]},"Cover Letter AI Agent":{"main":[[{"node":"Apply Prep AI Agent","type":"main","index":0}]]},"Apply Prep AI Agent":{"main":[[{"node":"Parse Cover Letter & Prep","type":"main","index":0}]]},"Parse Cover Letter & Prep":{"main":[[{"node":"Prepare Drive Upload","type":"main","index":0}]]},"Prepare Drive Upload":{"main":[[{"node":"Create CV Metadata","type":"main","index":0}]]},"Create CV Metadata":{"main":[[{"node":"Upload CV Content","type":"main","index":0}]]},"Upload CV Content":{"main":[[{"node":"Create CL Metadata","type":"main","index":0}]]},"Create CL Metadata":{"main":[[{"node":"Upload CL Content","type":"main","index":0}]]},"Upload CL Content":{"main":[[{"node":"Build Drive Links","type":"main","index":0}]]},"Build Drive Links":{"main":[[{"node":"Write Application Row","type":"main","index":0}]]},"Write Application Row":{"main":[[{"node":"Update Pipeline Prepped","type":"main","index":0}]]},"Update Pipeline Prepped":{"main":[[{"node":"Build Job Discord Message","type":"main","index":0}]]},"Build Job Discord Message":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Batch for CV Gen","type":"main","index":0}]]},"Below Threshold":{"main":[[{"node":"Cleanup Stale Rows","type":"main","index":0}]]},"Gemini Flash Lite - PreScreen":{"ai_languageModel":[[{"node":"Pre-Screen AI Agent","type":"ai_languageModel","index":0}]]},"Gemini Flash Lite - CV Gen":{"ai_languageModel":[[{"node":"CV Generator AI Agent","type":"ai_languageModel","index":0}]]},"Gemini Flash Lite - Cover Letter":{"ai_languageModel":[[{"node":"Cover Letter AI Agent","type":"ai_languageModel","index":0}]]},"Gemini Flash Lite - Apply Prep":{"ai_languageModel":[[{"node":"Apply Prep AI Agent","type":"ai_languageModel","index":0}]]},"Route After Dedup":{"main":[[{"node":"Read New Listings","type":"main","index":0}],[{"node":"Append to Pipeline","type":"main","index":0}]]},"Get a document":{"main":[[]]},"Gemini Flash - Evaluator":{"ai_languageModel":[[{"node":"Evaluator AI Agent","type":"ai_languageModel","index":0}]]},"Gmail Trigger - Job Alerts":{"main":[[{"node":"Parse Job Alert Emails","type":"main","index":0},{"node":"Get a document","type":"main","index":0}]]},"Parse Job Alert Emails":{"main":[[{"node":"IF - Email Jobs Found","type":"main","index":0}]]},"IF - Email Jobs Found":{"main":[[{"node":"Normalize Email Jobs","type":"main","index":0}],[]]},"Normalize Email Jobs":{"main":[[{"node":"Read Pipeline for Dedup","type":"main","index":0}]]},"Emit Job Titles":{"main":[[{"node":"Google_jobs search","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"","availableInMCP":false,"timeSavedMode":"fixed"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]},"node:Gmail Trigger - Job Alerts":{"lastTimeChecked":1774323917}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d05a84a2-2e06-4d59-9a72-84cbe25d42a5","activeVersionId":"d05a84a2-2e06-4d59-9a72-84cbe25d42a5","versionCounter":540,"triggerCount":2,"shared":[{"updatedAt":"2026-03-18T15:27:06.243Z","createdAt":"2026-03-18T15:27:06.243Z","role":"workflow:owner","workflowId":"u1bV8KbKeXtNM8Xa","projectId":"xhlErYwena4WYmxn","project":{"updatedAt":"2026-01-27T23:38:38.619Z","createdAt":"2026-01-27T23:37:14.852Z","id":"xhlErYwena4WYmxn","name":"Preston Bezant <bezantster@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"7765ab1f-d3d0-407d-95ae-b8995c59eefb","projectRelations":[{"updatedAt":"2026-01-27T23:37:14.852Z","createdAt":"2026-01-27T23:37:14.852Z","userId":"7765ab1f-d3d0-407d-95ae-b8995c59eefb","projectId":"xhlErYwena4WYmxn","user":{"updatedAt":"2026-03-24T04:00:13.000Z","createdAt":"2026-01-27T23:37:13.861Z","id":"7765ab1f-d3d0-407d-95ae-b8995c59eefb","email":"bezantster@gmail.com","firstName":"Preston","lastName":"Bezant","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-27T23:39:05.056Z","personalization_survey_n8n_version":"2.4.6","companyType":"personal","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"ysfzbxz6kcqixsHbSqNEv","userActivatedAt":1769580048050,"npsSurvey":{"responded":true,"lastShownAt":1770095097531}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-23","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T04:28:54.702Z","createdAt":"2026-03-24T04:28:54.702Z","versionId":"d05a84a2-2e06-4d59-9a72-84cbe25d42a5","workflowId":"u1bV8KbKeXtNM8Xa","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,1728]},{"parameters":{"documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Config","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=0"},"options":{}},"id":"config-loader","name":"Config Loader","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[224,1728],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Transform key-value rows into a config object\nconst config = {};\nfor (const item of $input.all()) {\n  config[item.json.Key] = item.json.Value;\n}\n\n// Parse job titles\nconst jobTitles = (config.job_titles || 'Product Designer').split(',').map(t => t.trim());\nconst scoreThreshold = parseFloat(config.score_threshold || '4.0');\nconst scanBudget = parseInt(config.scan_budget_daily || '200');\n\nreturn [{ json: { config, jobTitles, scoreThreshold, scanBudget } }];"},"id":"parse-config","name":"Parse Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,1728]},{"parameters":{"jsCode":"const results = [];\nconst inputItem = $input.first().json;\nconst searchTitle = (inputItem.search_parameters && inputItem.search_parameters.q) || 'unknown';\n\n// Handle errors or empty results\nif (inputItem.error || !inputItem.jobs_results || inputItem.jobs_results.length === 0) {\n  return [{ json: { results: [], title: searchTitle, error: inputItem.error || 'No results' } }];\n}\n\nfor (const job of inputItem.jobs_results) {\n  const primaryLink = (job.apply_options && job.apply_options[0] && job.apply_options[0].link) || '';\n  let domain = '';\n  try { domain = primaryLink ? new URL(primaryLink).hostname.replace('www.', '') : ''; } catch(e) {}\n  const source = (job.apply_options && job.apply_options[0] && job.apply_options[0].title) || 'Google Jobs';\n\n  // Parse freshness from detected_extensions.posted_at\n  let freshnessHours = 24;\n  const postedAt = (job.detected_extensions && job.detected_extensions.posted_at) || '';\n  if (postedAt.includes('hour')) {\n    freshnessHours = parseInt(postedAt) || 12;\n  } else if (postedAt.includes('day')) {\n    freshnessHours = (parseInt(postedAt) || 1) * 24;\n  } else if (postedAt.includes('just') || postedAt.includes('now') || postedAt.includes('moment')) {\n    freshnessHours = 1;\n  }\n\n  const company = job.company_name || '';\n  const title = job.title || '';\n  const dedupKey = company.toLowerCase() + '|' + title.toLowerCase() + '|' + domain;\n\n  results.push({\n    id: 'serp_' + Date.now() + '_' + Math.random().toString(36).substring(2, 6),\n    source: source,\n    company: company,\n    title: title,\n    url: primaryLink,\n    snippet: (job.description || '').substring(0, 500),\n    dateFound: new Date().toISOString(),\n    freshnessHours: freshnessHours,\n    Status: 'New',\n    'Dedup Key': dedupKey,\n    Rendering: 'static'\n  });\n}\n\nreturn results.map(r => ({ json: r }));"},"id":"parse-results","name":"Parse Search Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,1728]},{"parameters":{"documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"options":{}},"id":"check-existing","name":"Read Pipeline for Dedup","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1568,1728],"executeOnce":true,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get existing dedup keys from the pipeline sheet\nconst existingKeys = new Set($(\"Read Pipeline for Dedup\").all().map(i => i.json[\"Dedup Key\"]).filter(Boolean));\n\n// Get incoming jobs — works for both cron/SerpAPI path and email path\nlet incoming;\ntry {\n  incoming = $(\"Parse Search Results\").all();\n} catch(e) {\n  incoming = $(\"Normalize Email Jobs\").all();\n}\n\nconst newListings = incoming.filter(i => i.json[\"Dedup Key\"] && !existingKeys.has(i.json[\"Dedup Key\"]));\n\n// Deduplicate within this batch (same job from multiple sources)\nconst seen = new Set();\nconst dedupedNew = newListings.filter(i => {\n  if (seen.has(i.json[\"Dedup Key\"])) return false;\n  seen.add(i.json[\"Dedup Key\"]);\n  return true;\n});\n\nif (dedupedNew.length === 0) {\n  return [{ json: { _nothingNew: true } }];\n}\n\nreturn dedupedNew;"},"id":"dedup-filter","name":"Dedup Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,1728],"executeOnce":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"append-pipeline","name":"Append to Pipeline","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2240,1840],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"New"}]},"options":{}},"id":"read-new-listings","name":"Read New Listings","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2368,1712],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"batchSize":5,"options":{}},"id":"batch-for-prescreen","name":"Batch for Pre-Screen","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2912,1728]},{"parameters":{"promptType":"define","text":"={{ 'Pre-screen this job listing:\\n\\ntitle: ' + $json.title + '\\ncompany: ' + $json.company + '\\nsnippet: ' + $json.snippet + '\\n\\n---\\nPRESTON\\'S CV:\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# Pre-Screen Agent — System Prompt\n\nYou are a job pre-screening agent for Preston Bezant, a product designer and technical builder based in Austin, TX. Your job is to quickly classify job listings as PASS, REJECT, or MAYBE based only on the job title, company name, and a brief snippet — before spending resources on full evaluation.\n\n## About Preston Bezant\nPreston's full CV is provided in the user message. Use it to inform your classification decisions. Key things to extract from it: his role history (what titles he's held), his skill set (design tools, technical stack), and his seniority level. He is based in Austin, TX and strongly prefers remote or remote-first roles.\n\n## Classification Rules\n\n### REJECT if any of the following:\n- Title is clearly unrelated: accounting, finance, HR, legal, data science (non-UX), sales, marketing, customer support, QA/SDET, DevOps/SRE, backend-only engineering\n- Title includes: \"Manager\" or \"Director\" without \"Design\" or \"Product\" (Preston is not pursuing pure management)\n- Title is \"Junior\" or \"Entry Level\" (Preston is senior-level)\n- Location is clearly in-office only outside Austin, TX (e.g., \"NYC Office Only\", \"On-site London\")\n- Snippet makes it obvious the role is a completely different field (e.g., \"civil engineering\", \"medical device repair\")\n\n### PASS if:\n- Title matches one of Preston's archetypes: Product Designer, UX Designer, Creative Technologist, IoT Engineer, Front-End Developer, Design Systems Engineer/Architect\n- Role appears remote-friendly or Austin-based\n- Snippet doesn't reveal a disqualifying mismatch\n\n### MAYBE if:\n- Title is adjacent (e.g., \"Interaction Designer\", \"UI Engineer\", \"Prototyping Engineer\", \"Hardware-Software Integration\")\n- Unclear from snippet whether it's a fit\n- When in doubt, use MAYBE (benefit of the doubt — the evaluator will handle edge cases)\n\n## Output Format\n\nRespond ONLY with this JSON object — no markdown, no explanation, no preamble:\n\n{{\n  \"decision\": \"PASS\" | \"REJECT\" | \"MAYBE\",\n  \"reason\": \"One sentence max explaining the decision\"\n}}\n\n## Input Format\n\nYou will receive:\n- `title`: Job title\n- `company`: Company name\n- `snippet`: Text snippet from the search result (first ~200 chars of the job posting)\n\nProcess the input and respond with the JSON above."}},"id":"prescreen-agent","name":"Pre-Screen AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2880,656]},{"parameters":{"modelName":"models/gemini-flash-lite-latest","options":{"maxOutputTokens":2048,"temperature":0.1}},"id":"gemini-prescreen","name":"Gemini Flash Lite - PreScreen","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2912,896],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.text || '';\nlet parsed = { decision: 'MAYBE', reason: 'Could not parse response' };\ntry {\n  const match = raw.match(/\\{[\\s\\S]*?\\}/);\n  if (match) parsed = JSON.parse(match[0]);\n} catch(e) {\n  parsed.reason = 'Parse error: ' + raw.substring(0, 100);\n}\n\nconst sourceItem = $('Batch for Pre-Screen').item;\nconst newStatus = parsed.decision === 'REJECT' ? 'Pre-Rejected' : 'Pre-Screened';\n\nreturn [{ json: { ...sourceItem.json, preScreenDecision: parsed.decision, preScreenReason: parsed.reason, status: newStatus } }];"},"id":"parse-prescreen","name":"Parse Pre-Screen Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[3232,656]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["row_number"],"schema":[{"id":"Applied","displayName":"Applied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dateFound","displayName":"dateFound","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"freshnessHours","displayName":"freshnessHours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dedupKey","displayName":"dedupKey","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rendering","displayName":"rendering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"preScreenDecision","displayName":"preScreenDecision","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"preScreenReason","displayName":"preScreenReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"jdText","displayName":"jdText","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"confidence","displayName":"confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"eval","displayName":"eval","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scores","displayName":"scores","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"overall","displayName":"overall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"grade","displayName":"grade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"freshnessAdjustedScore","displayName":"freshnessAdjustedScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"newListings","displayName":"newListings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"count","displayName":"count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dedup Key","displayName":"Dedup Key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rendering","displayName":"Rendering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"documentId","displayName":"documentId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"update-prescreen-status","name":"Update Pre-Screen Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3456,656],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.preScreenDecision }}","rightValue":"REJECT","operator":{"type":"string","operation":"notEquals"}}]},"options":{}},"id":"filter-passed","name":"Filter Passed Pre-Screen","type":"n8n-nodes-base.filter","typeVersion":2,"position":[3200,1728]},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{}},"timeout":15000}},"id":"fetch-jd","name":"Fetch Job Description","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3712,912],"continueOnFail":true},{"parameters":{"jsCode":"const sourceItem = $('Filter Passed Pre-Screen').item;\nconst htmlResponse = $input.first().json;\nlet jdText = '';\nlet confidence = 'high';\n\nif (htmlResponse.error || !htmlResponse) {\n  // Fallback to snippet\n  jdText = sourceItem.json.snippet || '';\n  confidence = 'low';\n} else {\n  const html = typeof htmlResponse === 'string' ? htmlResponse : JSON.stringify(htmlResponse);\n  // Strip HTML tags and collapse whitespace\n  jdText = html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 8000);\n  \n  // If content is very short, likely JS-rendered — fall back to snippet\n  if (jdText.length < 200) {\n    jdText = sourceItem.json.snippet || jdText;\n    confidence = 'low';\n  }\n}\n\nreturn [{ json: { ...sourceItem.json, jdText, confidence } }];"},"id":"extract-jd-text","name":"Extract JD Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,912]},{"parameters":{"promptType":"define","text":"={{ 'Evaluate this job for Preston Bezant:\\n\\nCompany: ' + $json.company + '\\nTitle: ' + $json.title + '\\nURL: ' + $json.url + '\\n\\nJob Description:\\n' + $json.jdText + '\\n\\n---\\nPRESTON\\'S CV:\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# Evaluator Agent — System Prompt\n\nYou are a job evaluation agent for Preston Bezant. You analyze full job descriptions against Preston's CV and score the fit across 10 dimensions. Output structured JSON only.\n\n---\n\n## Preston Bezant — CV\n\nPreston's full CV is provided in the user message. Read it carefully before scoring. Use it as the source of truth for all skills alignment, seniority, and role match assessments.\n\n---\n\n## Role Archetypes\n\n| # | Archetype | Key Proof Points |\n|---|-----------|-----------------|\n| 1 | **Product Designer / UX Lead** | Lowe's Sr Product Designer (2.75yr), Verbosity Sr UX, Visa UX Designer |\n| 2 | **IoT Systems Engineer** | StructureSense co-founder, LoRaWAN, RTLS, ESP32, BLE, DMX512, 50K sqft deployment |\n| 3 | **Creative Technologist / Prototyper** | Bezant Solutions V0→V1, 3D printing, firmware, AI workflows |\n| 4 | **Front-End / Web Developer** | BancVue (200 microsites), Gensuite (ExtJS/ColdFusion), Harland Clarke (HTML/CSS/JS) |\n| 5 | **Design Systems / UX Architect** | Visa (atomic design), Harland Clarke (cross-brand design system), Lowe's Digital design system |\n\n---\n\n## 10-Dimension Scoring Rubric\n\nScore each dimension 1–5. Gate-pass: if Role Match OR Skills ≤ 1, final grade auto-caps at D.\n\n| Dimension | Key Questions | 5 = | 1 = |\n|-----------|--------------|-----|-----|\n| **Role Match** (gate-pass) | Does the JD match Preston's core work? | Exact archetype match | Completely wrong domain |\n| **Skills Alignment** (gate-pass) | Do required skills overlap with Preston's? | 80%+ overlap | <20% overlap |\n| **Seniority** | Is the level realistic for Preston? | Senior IC or lead (stretch of 1 level max) | Junior req or VP+ exec |\n| **Compensation** | Does market rate match $120K–$180K target? | Explicitly in range | No comp info or clearly below $100K |\n| **Geographic** | Remote/Austin feasible? | Remote-first or Austin-based | Mandatory onsite far from Austin |\n| **Company Stage** | Does stage fit Preston's style? | Startup/growth or mid-size tech | Pure bureaucratic enterprise or tiny pre-seed |\n| **Product-Market Fit** | Does Preston care about the problem domain? | Physical+digital, IoT, retail, SaaS tools, design | Generic enterprise software |\n| **Growth Trajectory** | Is there career ladder visibility? | Explicit path to staff/principal/lead | IC-only dead-end, no ladder |\n| **Interview Likelihood** | Will Preston get a callback? | Strong skills match, few gaps | Major gaps, likely screened out |\n| **Timeline** | How urgent is hiring? | Actively hiring, recent post | Old post, \"ongoing\", evergreen req |\n\n### Grade Mapping\n- **A**: Freshness-adjusted score ≥ 4.5\n- **B**: Score 3.8–4.4\n- **C**: Score 3.0–3.7\n- **D**: Score 2.0–2.9 OR gate-pass triggered (Role Match ≤ 1 OR Skills ≤ 1)\n- **F**: Score < 2.0\n\n### Freshness Boost (applied by Code node after your output — do NOT apply yourself)\n- Posted < 6h ago: +0.3\n- Posted 6–24h ago: +0.2\n- Posted > 24h ago: +0.0\n\n### Weight Table\n| Dimension | Weight |\n|-----------|--------|\n| Role Match | 0.20 |\n| Skills Alignment | 0.20 |\n| Seniority | 0.12 |\n| Compensation | 0.10 |\n| Geographic | 0.08 |\n| Company Stage | 0.08 |\n| Product-Market Fit | 0.07 |\n| Growth Trajectory | 0.07 |\n| Interview Likelihood | 0.05 |\n| Timeline | 0.03 |\n\nThe Code node after you applies: `overall = sum(score[d] * weight[d] for d in dimensions)`.\n\n---\n\n## Instructions\n\n1. Read the job description carefully\n2. Score each dimension 1–5\n3. Identify which archetype best fits this role (1–5 from the table above)\n4. Extract the 10–20 most important keywords from the JD (ATS keywords, tech stack, required skills)\n5. List CV match proof points (specific items from Preston's CV that directly address requirements)\n6. List gaps (JD requirements Preston doesn't fully cover) with a brief mitigation strategy\n7. Write an executive summary (3–4 sentences only)\n8. Estimate freshness_hours based on any date signals in the JD or URL (0 if unknown)\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble, no explanation:\n\n{{\n  \"scores\": {{\n    \"role_match\": 0,\n    \"skills\": 0,\n    \"seniority\": 0,\n    \"compensation\": 0,\n    \"geographic\": 0,\n    \"company_stage\": 0,\n    \"product_market\": 0,\n    \"growth\": 0,\n    \"interview_likelihood\": 0,\n    \"timeline\": 0\n  }},\n  \"overall\": 0.0,\n  \"grade\": \"C\",\n  \"archetype\": \"Product Designer / UX Lead\",\n  \"keywords\": [],\n  \"cv_match\": [],\n  \"gaps\": [{{\"gap\": \"...\", \"mitigation\": \"...\"}}],\n  \"summary\": \"...\",\n  \"confidence\": \"high\",\n  \"freshness_hours\": 0\n}}\n\nFields:\n- `overall`: Your weighted calculation before freshness boost\n- `grade`: Based on your `overall` score without freshness boost (the Code node will recalculate with boost)\n- `confidence`: \"low\" if you're evaluating from snippet only (no full JD available), \"high\" otherwise\n- `freshness_hours`: Your best estimate from context clues (0 if unknown)"}},"id":"evaluator-agent","name":"Evaluator AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4160,800]},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.text || '{}';\nconst sourceItem = $('Extract JD Text').item;\nlet eval_data = {};\n\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) eval_data = JSON.parse(match[0]);\n} catch(e) {\n  eval_data = { scores: {}, overall: 0, grade: 'F', summary: 'Parse error', confidence: 'low' };\n}\n\nconst scores = eval_data.scores || {};\n\n// Apply weights\nconst weights = { role_match: 0.20, skills: 0.20, seniority: 0.12, compensation: 0.10, geographic: 0.08, company_stage: 0.08, product_market: 0.07, growth: 0.07, interview_likelihood: 0.05, timeline: 0.03 };\nconst weightedScore = Object.keys(weights).reduce((sum, k) => sum + (scores[k] || 3) * weights[k], 0);\n\n// Gate-pass logic\nlet finalScore = weightedScore;\nlet finalGrade = eval_data.grade || 'C';\nif ((scores.role_match || 0) <= 1 || (scores.skills || 0) <= 1) {\n  finalGrade = 'D';\n  finalScore = Math.min(finalScore, 2.9);\n}\n\n// Freshness boost\nconst freshnessHours = eval_data.freshness_hours || 24;\nlet freshnessBoost = 0;\nif (freshnessHours < 6) freshnessBoost = 0.3;\nelse if (freshnessHours < 24) freshnessBoost = 0.2;\nconst adjustedScore = Math.min(5, finalScore + freshnessBoost);\n\n// Recalculate grade from adjusted score\nif (finalGrade !== 'D' && finalGrade !== 'F') {\n  if (adjustedScore >= 4.5) finalGrade = 'A';\n  else if (adjustedScore >= 3.8) finalGrade = 'B';\n  else if (adjustedScore >= 3.0) finalGrade = 'C';\n  else if (adjustedScore >= 2.0) finalGrade = 'D';\n  else finalGrade = 'F';\n}\n\nreturn [{ json: {\n  ...sourceItem.json,\n  eval: eval_data,\n  scores,\n  overall: parseFloat(weightedScore.toFixed(2)),\n  grade: finalGrade,\n  freshnessAdjustedScore: parseFloat(adjustedScore.toFixed(2)),\n  status: 'Evaluated'\n} }];"},"id":"apply-scoring","name":"Apply Scoring & Freshness","type":"n8n-nodes-base.code","typeVersion":2,"position":[4512,912]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"mode":"name","value":"Evaluations"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"write-evaluation","name":"Write Evaluation","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4800,912],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":439590855,"mode":"list","cachedResultName":"Pipeline","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=439590855"},"columns":{"mappingMode":"autoMapInputData","value":{"row_number":0},"matchingColumns":["row_number"],"schema":[{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"update-pipeline-evaluated","name":"Update Pipeline Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5152,912],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{},"conditions":[{"leftValue":"={{ $json.freshnessAdjustedScore }}","rightValue":"={{ $('Parse Config').first().json.scoreThreshold }}","operator":{"type":"number","operation":"gte"}}]},"options":{}},"id":"check-threshold","name":"Score >= Threshold?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3712,1696]},{"parameters":{"promptType":"define","text":"={{ 'Generate a tailored CV for this job:\\n\\nCompany: ' + $json.company + '\\nRole: ' + $json.title + '\\nArchetype: ' + $json.eval.archetype + '\\nKeywords: ' + ($json.eval.keywords || []).join(', ') + '\\nCV Match: ' + ($json.eval.cv_match || []).join(', ') + '\\nGaps: ' + ($json.eval.gaps || []).map(g => g.gap).join(', ') + '\\n\\n---\\nMASTER CV (tailor from this):\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# CV Generator Agent — System Prompt\n\nYou are a CV tailoring agent for Preston Bezant. You receive an evaluation report for a specific job and Preston's full CV (provided in the prompt below the job details), then produce a tailored CV optimized for that specific role. You output structured JSON that a Code node will inject into an HTML template.\n\n---\n\n## Role Archetypes & CV Framing\n\n| Archetype | Title to Use | Summary Focus | Lead Roles | Lead Skills |\n|-----------|-------------|---------------|-----------|-------------|\n| Product Designer / UX Lead | Sr. Product Designer | UX leadership, design systems, cross-functional collaboration | Lowe's, Verbosity, Visa | Figma, Design Systems, User Research, Prototyping |\n| IoT Systems Engineer | IoT Systems Architect | Hardware+software integration, RTLS, LoRaWAN, embedded systems | StructureSense, Bezant Solutions | LoRaWAN, ESP32, BLE, C++, Datacake, RTLS |\n| Creative Technologist / Prototyper | Creative Technologist | V0→V1 product development, bridging design and engineering | Bezant Solutions, StructureSense | n8n, AI workflows, 3D Printing, Firmware, Figma |\n| Front-End / Web Developer | Front-End Developer | Web development, component systems, design-to-code | BancVue, Gensuite, Harland Clarke | HTML/CSS/Sass, JavaScript, React, Responsive Design |\n| Design Systems / UX Architect | Design Systems Architect | Atomic design, cross-product consistency, design infrastructure | Visa, Harland Clarke, Lowe's | Figma, Atomic Design, Design Tokens, Component Libraries |\n\n---\n\n## Instructions\n\n1. Read the evaluation JSON — note the `archetype`, `keywords`, `cv_match`, and `gaps`\n2. Select the matching archetype framing from the table above\n3. Choose the title and summary focus for that archetype\n4. **Reorder experience:** Most relevant roles first. Always include at least the top 4 most relevant roles\n5. **Tailor bullets:** For each role, select and lightly rephrase the 3–5 most relevant bullets from Preston's CV to match JD keywords. Do NOT fabricate new accomplishments\n6. **Inject keywords naturally:** Work JD keywords into the summary, first bullet of top 2 roles, and the skills section — only where it's accurate\n7. **Skills section:** Lead with the skills most relevant to this JD; keep others but deprioritize\n8. Keep the education section unchanged\n9. The output summary should be 2–3 sentences max\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble:\n\n{{\n  \"title\": \"Sr. Product Designer\",\n  \"summary\": \"...\",\n  \"experience\": [\n    {{\n      \"company\": \"...\",\n      \"role\": \"...\",\n      \"dates\": \"...\",\n      \"location\": \"...\",\n      \"bullets\": [\"...\", \"...\", \"...\"]\n    }}\n  ],\n  \"skills\": {{\n    \"design\": [\"...\"],\n    \"technical\": [\"...\"],\n    \"tools\": [\"...\"]\n  }},\n  \"education\": [\n    {{\"degree\": \"...\", \"school\": \"...\", \"dates\": \"...\"}}\n  ],\n  \"contact\": {{\n    \"name\": \"Preston Bezant\",\n    \"email\": \"preston@bezantsolutions.com\",\n    \"phone\": \"817-360-4868\",\n    \"portfolio\": \"prestonbezant.me\",\n    \"github\": \"github.com/pbezant\",\n    \"location\": \"Austin, Texas\"\n  }}\n}}"}},"id":"cv-generator-agent","name":"CV Generator AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4160,1200]},{"parameters":{"modelName":"models/gemini-flash-lite-latest","options":{"maxOutputTokens":2048,"temperature":0.3}},"id":"gemini-cv-gen","name":"Gemini Flash Lite - CV Gen","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4160,1376],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const raw = $input.first().json.output || $input.first().json.text || '{}';\nconst sourceItem = $('Score >= Threshold?').item;\nlet cvData = {};\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) cvData = JSON.parse(match[0]);\n} catch(e) { cvData = { title: 'Preston Bezant', summary: raw.substring(0, 200) }; }\n\n// Build experience HTML\nconst expHtml = (cvData.experience || []).map(role => `\n  <div class=\"role\">\n    <div class=\"role-header\">\n      <strong>${role.company}</strong> — ${role.role}\n      <span class=\"dates\">${role.dates} | ${role.location || ''}</span>\n    </div>\n    <ul>${(role.bullets || []).map(b => `<li>${b}</li>`).join('')}</ul>\n  </div>`).join('');\n\n// Build skills HTML  \nconst skills = cvData.skills || {};\nconst skillsHtml = [\n  skills.design?.length ? `<div class=\"skill-group\"><strong>Design:</strong> ${skills.design.join(', ')}</div>` : '',\n  skills.technical?.length ? `<div class=\"skill-group\"><strong>Technical:</strong> ${skills.technical.join(', ')}</div>` : '',\n  skills.tools?.length ? `<div class=\"skill-group\"><strong>Tools:</strong> ${skills.tools.join(', ')}</div>` : ''\n].filter(Boolean).join('');\n\nconst contact = cvData.contact || {};\n\nconst cvHtml = `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>${cvData.title || 'Preston Bezant'} — CV</title><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;max-width:800px;margin:0 auto;padding:40px 24px;color:#1a1a1a;line-height:1.5;font-size:14px}h1{font-size:24px;margin-bottom:4px}h2{font-size:16px;border-bottom:1px solid #ddd;padding-bottom:4px;margin-top:24px;margin-bottom:12px}h3{font-size:14px;margin-bottom:2px}.contact{color:#555;margin-bottom:24px;font-size:13px}.role{margin-bottom:16px}.role-header{display:flex;justify-content:space-between;flex-wrap:wrap}.dates{color:#666;font-size:12px}ul{margin:6px 0;padding-left:20px}li{margin-bottom:4px}.skill-group{margin-bottom:6px}</style></head><body><h1>${contact.name || 'Preston Bezant'}</h1><div class=\"title-line\">${cvData.title || ''}</div><div class=\"contact\">${contact.email || ''} | ${contact.phone || ''} | ${contact.portfolio || ''} | ${contact.location || ''}</div><h2>Summary</h2><p>${cvData.summary || ''}</p><h2>Experience</h2>${expHtml}<h2>Skills</h2>${skillsHtml}<h2>Education</h2>${(cvData.education || []).map(e => `<div><strong>${e.degree}</strong> — ${e.school} (${e.dates})</div>`).join('')}</body></html>`;\n\nreturn [{ json: { ...sourceItem.json, cvData, cvHtml, cvVersion: 1 } }];"},"id":"inject-cv-template","name":"Inject CV Template","type":"n8n-nodes-base.code","typeVersion":2,"position":[4448,1328]},{"parameters":{"promptType":"define","text":"={{ 'Write a cover letter for Preston Bezant:\\n\\nCompany: ' + $json.company + '\\nRole: ' + $json.title + '\\nEval Summary: ' + $json.eval.summary + '\\nCV Match points: ' + ($json.eval.cv_match || []).slice(0,3).join('; ') + '\\n\\n---\\nTAILORED CV (use this — already optimised for this role):\\n' + JSON.stringify($json.cvData, null, 2) }}","options":{"systemMessage":"# Cover Letter Agent — System Prompt\n\nYou are a cover letter writer for Preston Bezant. You receive the evaluation report and tailored CV content, then write a personalized, compelling cover letter.\n\n---\n\n## About Preston Bezant\nPreston's full CV is provided in the user message. Use it as the source of truth for proof points, role history, skills, and accomplishments to draw from when writing the letter. His tone: confident, direct, technical but accessible — no corporate buzzwords. He is based in Austin, TX and prefers remote or remote-first roles. Closing signature: \"Best,\\nPreston Bezant\\npreston@bezantsolutions.com | 817-360-4868 | prestonbezant.me\"\n\n---\n\n## Writing Guidelines\n\n1. **Length:** 3 paragraphs max. Never exceed 250 words total. Hiring managers skim.\n2. **Opening:** Hook with a specific, genuine observation about the company or role — not \"I am excited to apply\"\n3. **Middle:** Connect Preston's 2 strongest proof points directly to the JD's top 2 requirements. Use specific numbers and outcomes when possible.\n4. **Closing:** One sentence on why this specific role/company, then a clear call to action\n5. **Tone:** Confident, specific, no filler phrases (\"leverage\", \"synergy\", \"passionate about\")\n6. **Personalization hooks:** Use the `summary` and `cv_match` from the evaluation JSON as raw material\n7. If company info is sparse, focus on the role's technical/design requirements instead of company specifics\n\n---\n\n## Input You Will Receive\n\n- `company`: Company name\n- `role`: Job title\n- `evaluation`: The evaluation JSON (summary, cv_match, gaps, archetype, keywords)\n- `cv_content`: The tailored CV JSON (experience, skills, summary)\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble:\n\n{{\n  \"subject\": \"Application: [Role] at [Company]\",\n  \"salutation\": \"Hi [Hiring Team / Name if known],\",\n  \"paragraph_1\": \"...\",\n  \"paragraph_2\": \"...\",\n  \"paragraph_3\": \"...\",\n  \"closing\": \"Best,\\nPreston Bezant\\npreston@bezantsolutions.com | 817-360-4868 | prestonbezant.me\"\n}}\n"}},"id":"cover-letter-agent","name":"Cover Letter AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[4720,1312]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"maxOutputTokens":2048,"temperature":0.5}},"id":"gemini-cover-letter","name":"Gemini Flash Lite - Cover Letter","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4720,1504],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ 'Generate application form answers for:\\n\\nCompany: ' + $('Inject CV Template').item.json.company + '\\nRole: ' + $('Inject CV Template').item.json.title + '\\nEval Summary: ' + ($('Inject CV Template').item.json.eval && $('Inject CV Template').item.json.eval.summary ? $('Inject CV Template').item.json.eval.summary : 'N/A') + '\\nCV Match: ' + ($('Inject CV Template').item.json.eval && $('Inject CV Template').item.json.eval.cv_match ? $('Inject CV Template').item.json.eval.cv_match.join(', ') : 'N/A') + '\\nCover Letter (excerpt): ' + ($json.output ? $json.output.substring(0, 500) : '') + '\\n\\n---\\nPRESTON\\'S CV:\\n' + $('Get a document').first().json.content }}","options":{"systemMessage":"# Apply Assistant Agent — System Prompt\n\nYou are an application prep agent for Preston Bezant. You generate pre-filled answers to common job application form questions, drawing from the evaluation report, tailored CV, and cover letter content. The goal is to have every field ready to paste — HITL (Preston) reviews and edits before submitting.\n\n---\n\n## Preston Bezant — Static Profile Info\n\n- **Full Name:** Preston Bezant\n- **Email:** preston@bezantsolutions.com\n- **Phone:** 817-360-4868\n- **Location:** Austin, Texas\n- **LinkedIn:** linkedin.com/in/preston-bezant\n- **Portfolio:** prestonbezant.me\n- **GitHub:** github.com/pbezant\n- **Work Authorization:** US Citizen — authorized to work in the US, no sponsorship needed\n- **Willing to relocate:** No (remote preferred)\n- **Desired start date:** 2 weeks notice\n\n## EEO Defaults (from Config — may be overridden by user in sheet)\n- **Race/Ethnicity:** Prefer not to say\n- **Gender:** Male\n- **Veteran status:** No\n- **Disability:** No\n- **Hispanic/Latino:** No\n\n---\n\n## Instructions\n\nPreston's full CV is provided in the user message. Use it as the source of truth to compute accurate years of experience — derive dates directly from his work history. Do NOT fabricate or inflate years beyond what the CV supports.\n\nGenerate pre-filled answers for the following common form questions. Use the evaluation and CV data to make answers role-specific where possible (e.g., \"Why do you want to work here?\" should reference the company and role).\n\nFor salary fields: use the midpoint of $120K–$180K range unless a specific salary expectation is provided. Default answer: \"$140,000–$160,000 depending on total compensation package.\"\n\n---\n\n## Output Format\n\nRespond ONLY with this JSON — no markdown fences, no preamble:\n\n{{\n  \"personal\": {{\n    \"full_name\": \"Preston Bezant\",\n    \"email\": \"preston@bezantsolutions.com\",\n    \"phone\": \"817-360-4868\",\n    \"location\": \"Austin, Texas\",\n    \"linkedin\": \"linkedin.com/in/preston-bezant\",\n    \"portfolio\": \"prestonbezant.me\",\n    \"github\": \"github.com/pbezant\"\n  }},\n  \"work_auth\": {{\n    \"authorized_us\": \"Yes\",\n    \"sponsorship_required\": \"No\",\n    \"willing_to_relocate\": \"No\",\n    \"desired_start\": \"2 weeks after offer acceptance\"\n  }},\n  \"salary\": {{\n    \"expectation\": \"$140,000–$160,000 depending on total compensation\",\n    \"current\": \"Prefer not to disclose\"\n  }},\n  \"experience_years\": {{\n    \"total\": \"15+\",\n    \"ux_product_design\": \"8+\",\n    \"front_end\": \"5+\",\n    \"iot_embedded\": \"1+\",\n    \"figma\": \"6+\",\n    \"design_systems\": \"5+\"\n  }},\n  \"common_questions\": {{\n    \"why_this_company\": \"...\",\n    \"why_this_role\": \"...\",\n    \"describe_relevant_experience\": \"...\",\n    \"greatest_strength\": \"...\",\n    \"biggest_challenge\": \"...\",\n    \"where_in_5_years\": \"Leading technical product work at the intersection of hardware and software — either as a senior IC or small team lead focused on complex product problems.\"\n  }},\n  \"eeo\": {{\n    \"race\": \"Prefer not to say\",\n    \"gender\": \"Male\",\n    \"veteran\": \"No\",\n    \"disability\": \"No\",\n    \"hispanic\": \"No\"\n  }},\n  \"additional_notes\": \"...\"\n}}\n\nThe `additional_notes` field should contain any role-specific preparation tips or flags (e.g., \"This role asks for React experience — emphasize Harland Clarke HTML/CSS/JS work and note self-directed React learning\")."}},"id":"apply-prep-agent","name":"Apply Prep AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[5088,1312]},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"maxOutputTokens":2048,"temperature":0.3}},"id":"gemini-apply-prep","name":"Gemini Flash Lite - Apply Prep","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[5168,1536],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Parse cover letter from the Cover Letter Agent output\nconst clRaw = $('Cover Letter AI Agent').item.json.output || '';\nconst prepRaw = $input.first().json.output || '{}';\n\nlet coverLetter = {};\ntry { const m = clRaw.match(/\\{[\\s\\S]*\\}/); if(m) coverLetter = JSON.parse(m[0]); } catch(e) {}\n\nlet prepAnswers = {};\ntry { const m = prepRaw.match(/\\{[\\s\\S]*\\}/); if(m) prepAnswers = JSON.parse(m[0]); } catch(e) {}\n\n// Build cover letter HTML\nconst clHtml = `<div style=\"font-family:sans-serif;max-width:700px;margin:0 auto;padding:40px 24px;\">\n  <p>${new Date().toLocaleDateString('en-US', {year:'numeric',month:'long',day:'numeric'})}</p>\n  <p>${coverLetter.salutation || 'Hi Hiring Team,'}</p>\n  <p>${coverLetter.paragraph_1 || ''}</p>\n  <p>${coverLetter.paragraph_2 || ''}</p>\n  <p>${coverLetter.paragraph_3 || ''}</p>\n  <p style=\"white-space:pre-line\">${coverLetter.closing || 'Best,\\nPreston Bezant'}</p>\n</div>`;\n\nconst sourceItem = $('Inject CV Template').item;\nreturn [{ json: { ...sourceItem.json, coverLetter, clHtml, prepAnswers } }];"},"id":"parse-cover-and-prep","name":"Parse Cover Letter & Prep","type":"n8n-nodes-base.code","typeVersion":2,"position":[5440,1312]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"list","cachedResultName":"Career Ops","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":804992768,"mode":"list","cachedResultName":"Applications","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=804992768"},"columns":{"mappingMode":"autoMapInputData","value":{"CV File":"={{ $json.cvPath || '' }}","Cover Letter File":"={{ $json.clPath || '' }}"},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"write-application","name":"Write Application Row","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[7008,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg","mode":"id"},"sheetName":{"__rl":true,"mode":"name","value":"Pipeline"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Status":"Prepped"},"matchingColumns":["row_number"],"schema":[{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"update-pipeline-prepped","name":"Update Pipeline Prepped","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[7232,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{},"id":"below-threshold-noop","name":"Below Threshold","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3936,1840]},{"parameters":{"jsCode":"// Cleanup logic runs via separate sheet operations\n// This logs the completion\nconst now = new Date();\nreturn [{ json: { completedAt: now.toISOString(), message: 'Pipeline run complete. Check sheet for results.' } }];"},"id":"cleanup","name":"Cleanup Stale Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[4144,1840]},{"parameters":{"operation":"google_jobs","q":"={{ $json.title }} {{ $json.location }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[1120,1728],"id":"c09f813a-a6a2-45da-9a6f-b1a25579fb78","name":"Google_jobs search","credentials":{"serpApi":{"id":"r8VjspiQWxxBvXg8","name":"SerpApi account"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1480065771001479222","mode":"list","cachedResultName":"prestor87's server","cachedResultUrl":"https://discord.com/channels/1480065771001479222"},"channelId":{"__rl":true,"value":"1482464523301683441","mode":"list","cachedResultName":"job-recruiter","cachedResultUrl":"https://discord.com/channels/1480065771001479222/1482464523301683441"},"content":"={{ $json.discordMessage }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[7680,1504],"id":"d93f1592-070b-49eb-813c-1eb484015fa5","name":"Send a message","webhookId":"4cbbdfe4-7c8f-48bc-b48a-477be4ceb0ad","credentials":{"discordBotApi":{"id":"PeIukwvkJqSyArKV","name":"Discord Bot account"}}},{"parameters":{"jsCode":"\nconst item = $input.first().json;\nconst company = (item.company||'unknown').replace(/[^a-z0-9]/gi,'-').toLowerCase().substring(0,30);\nconst title   = (item.title||'role').replace(/[^a-z0-9]/gi,'-').toLowerCase().substring(0,40);\nconst date    = new Date().toISOString().split('T')[0];\nreturn [{ json: {\n  ...item,\n  cvFilename:  date + '-' + company + '-' + title + '-CV.html',\n  clFilename:  date + '-' + company + '-' + title + '-CoverLetter.html',\n  folderId: '1OiKZtIMRe8XRdGPj9jJb0K3I5Wd3Xn37'\n} }];\n"},"id":"prepare-drive-upload","name":"Prepare Drive Upload","type":"n8n-nodes-base.code","typeVersion":2,"position":[5664,1312]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Prepare Drive Upload').item.json.cvFilename.replace('.html',''), mimeType: 'application/vnd.google-apps.document', parents: [$('Prepare Drive Upload').item.json.folderId] }) }}","options":{}},"id":"create-cv-meta","name":"Create CV Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[5888,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"method":"PATCH","url":"={{ 'https://www.googleapis.com/upload/drive/v3/files/' + $json.id + '?uploadType=media&convert=true' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $('Prepare Drive Upload').item.json.cvHtml || '<p>No CV generated</p>' }}","options":{}},"id":"upload-cv-content","name":"Upload CV Content","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[6112,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Prepare Drive Upload').item.json.clFilename.replace('.html',''), mimeType: 'application/vnd.google-apps.document', parents: [$('Prepare Drive Upload').item.json.folderId] }) }}","options":{}},"id":"create-cl-meta","name":"Create CL Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[6336,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"method":"PATCH","url":"={{ 'https://www.googleapis.com/upload/drive/v3/files/' + $json.id + '?uploadType=media&convert=true' }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"contentType":"raw","rawContentType":"text/html","body":"={{ $('Prepare Drive Upload').item.json.clHtml || '<p>No cover letter generated</p>' }}","options":{}},"id":"upload-cl-content","name":"Upload CL Content","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[6560,1312],"credentials":{"googleSheetsOAuth2Api":{"id":"ng8zlg2pDNctkqmp","name":"Google Sheets account"}}},{"parameters":{"jsCode":"\nconst src   = $('Prepare Drive Upload').item.json;\nconst cvId  = $('Upload CV Content').item.json.id || '';\nconst clId  = $input.first().json.id || '';  // CL is current input (last in chain)\nconst cvPath = cvId ? `https://drive.google.com/file/d/${cvId}/view` : '(cv upload failed)';\nconst clPath = clId ? `https://drive.google.com/file/d/${clId}/view` : '(cl upload failed)';\nreturn [{ json: { ...src, cvPath, clPath } }];\n"},"id":"build-drive-links","name":"Build Drive Links","type":"n8n-nodes-base.code","typeVersion":2,"position":[6784,1312]},{"parameters":{"batchSize":2,"options":{}},"id":"batch-for-cv-gen","name":"Batch for CV Gen","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3856,1424]},{"parameters":{"jsCode":"\nconst j = $('Build Drive Links').item.json;\nconst sheetUrl = 'https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg';\n\nconst grade  = j.grade || '?';\nconst score  = j.freshnessAdjustedScore !== undefined ? j.freshnessAdjustedScore.toFixed(2) : (j.overallScore || '?');\nconst cvLink  = j.cvPath  ? `[📄 CV](${j.cvPath})`           : '_(no CV)_';\nconst clLink  = j.clPath  ? `[✉️ Cover Letter](${j.clPath})` : '_(no CL)_';\nconst jobLink = j.url     ? `[🔗 Job Posting](${j.url})`     : '';\n\nconst msg = [\n  `✅ **${j.title}** at **${j.company}**`,\n  `> Grade: **${grade}** | Score: **${score}** | ${j.location || ''}`,\n  `> ${cvLink}  •  ${clLink}  ${jobLink ? '•  ' + jobLink : ''}`,\n  `> [View Spreadsheet](${sheetUrl})`\n].join('\\n');\n\nreturn [{ json: { ...j, discordMessage: msg } }];\n"},"id":"build-job-discord-message","name":"Build Job Discord Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[7456,1312]},{"parameters":{"jsCode":"\n// Only process listings from the last 48 hours, max 50 per run\nconst cutoff = new Date(Date.now() - 48 * 60 * 60 * 1000);\nconst recent = $input.all().filter(item => {\n  const d = new Date(item.json.dateFound || item.json.DateFound || 0);\n  return d >= cutoff;\n}).slice(0, 50);\nif (recent.length === 0) return [{ json: { _skip: true } }];\nreturn recent;\n"},"id":"filter-recent-listings","name":"Filter Recent Listings","type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,1712]},{"parameters":{"batchSize":3,"options":{}},"id":"batch-for-evaluation","name":"Batch for Evaluation","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3488,1728]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json._nothingNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"2bdbb171-1be3-40c2-82de-bfbc799f7e36"}],"combinator":"and"},"options":{}},"id":"route-after-dedup-001","name":"Route After Dedup","type":"n8n-nodes-base.if","typeVersion":2,"position":[2016,1728]},{"parameters":{"operation":"get","documentURL":"1ZpZWuk1rd_jVHTry26YhfZ6OTH0yeoeyIYaDB-CxjZw"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2704,1600],"id":"88a93f63-0449-45dc-b1fa-1454f73fb508","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"ReMmyu5a9wNdeiW6","name":"Google Docs account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{"maxOutputTokens":4096,"temperature":0.1}},"id":"gemini-evaluator","name":"Gemini Flash - Evaluator","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4160,976],"credentials":{"googlePalmApi":{"id":"T6vrBWXANAVPKppK","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"is:unread (subject:job OR subject:career OR subject:hiring OR subject:opportunity OR subject:alert OR from:jobalerts-noreply@linkedin.com OR from:invitations@linkedin.com OR from:alert@indeed.com OR from:noreply@glassdoor.com OR from:noreply@ziprecruiter.com)"},"options":{}},"id":"gmail-trigger-alerts","name":"Gmail Trigger - Job Alerts","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[96,2208],"webhookId":"ce4d1904-e868-4815-ae15-e128b4be8a80","credentials":{"gmailOAuth2":{"id":"cZIfyQPNke8rIHal","name":"Gmail account"}}},{"parameters":{"jsCode":"// ============================================================\n// EMAIL PARSER — handles Gmail Trigger single-email output shape.\n// Returns a flat array of JobAlert objects.\n// Supports: LinkedIn, Indeed, Glassdoor, ZipRecruiter, Dice, Jobright,\n//           Google Job Alerts, and generic fallback.\n//\n// Adding a new email source:\n//   1. Write parseYourSource(html, subject, emailDate) → JobAlert[]\n//   2. Add an entry to SOURCE_REGISTRY (before the 'generic' entry)\n// ============================================================\nconst emails = $input.all();\nconst jobs = [];\n\n// ---- Utility functions ----\n\nconst decodeBase64 = (data) => {\n  if (!data || typeof data !== 'string') return '';\n  try {\n    const normalized = data.replace(/-/g, '+').replace(/_/g, '/');\n    return Buffer.from(normalized, 'base64').toString('utf-8');\n  } catch {\n    return '';\n  }\n};\n\nconst decodeMimeWords = (value = '') => {\n  if (!value || typeof value !== 'string') return '';\n  // RFC 2047 sec 6.2: collapse whitespace between adjacent encoded-words\n  const collapsed = value.replace(/\\?=\\s+=\\?/g, '?==?');\n  return collapsed.replace(/=\\?([^?]+)\\?([BQbq])\\?([^?]+)\\?=/g, (_, charset, enc, text) => {\n    try {\n      if ((enc || '').toUpperCase() === 'B') {\n        return Buffer.from(text, 'base64').toString('utf-8');\n      }\n      // Q-encoding: collect raw bytes and decode as UTF-8 via Buffer\n      const bytes = [];\n      for (let i = 0; i < text.length; ) {\n        if (text[i] === '=' && i + 2 < text.length && /[0-9A-Fa-f]{2}/.test(text.substring(i+1, i+3))) {\n          bytes.push(parseInt(text.substring(i+1, i+3), 16));\n          i += 3;\n        } else if (text[i] === '_') {\n          bytes.push(0x20);\n          i++;\n        } else {\n          bytes.push(text.charCodeAt(i));\n          i++;\n        }\n      }\n      return Buffer.from(bytes).toString('utf-8');\n    } catch {\n      return text;\n    }\n  });\n};\n\nconst decodeTrackedUrl = (u = '') => {\n  try {\n    const parsed = new URL(u);\n    const keys = ['url', 'u', 'target', 'dest', 'destination', 'redirect', 'redirectUrl'];\n    for (const key of keys) {\n      const val = parsed.searchParams.get(key);\n      if (val && /^https?:\\/\\//i.test(val)) return val;\n    }\n    return u;\n  } catch {\n    return u;\n  }\n};\n\nconst isLikelyJobUrl = (u = '') => {\n  if (!/^https?:\\/\\//i.test(u)) return false;\n  if (/(\\.png|\\.jpg|\\.jpeg|\\.gif|\\.svg|\\.webp|apps\\.apple\\.com|play\\.google\\.com|unsubscribe|privacy|terms|dashboard|settings)/i.test(u)) return false;\n  // Accept Google notification redirects (resolved to real URL downstream)\n  if (/notifications\\.googleapis\\.com\\/email\\/redirect/i.test(u)) return true;\n  return /(linkedin\\.com\\/(comm\\/)?jobs\\/(view|search)|indeed\\.com|glassdoor\\.com|ziprecruiter\\.com|dice\\.com|jobright\\.ai|greenhouse\\.io|lever\\.co|workdayjobs|job|career|position|vacanc|opportunit|apply)/i.test(u);\n};\n\nconst parseLinkedInSubject = (subject = '') => {\n  const cleaned = decodeMimeWords(subject || '').replace(/[\\u201c\\u201d]/g, '\"').trim();\n  // Digest format: \"search term\": Company - Job Title and more\n  const digestMatch = cleaned.match(/^[\"']?[^:\"']+[\"']?\\s*:\\s*([^\\n-]{2,120})\\s*-\\s*([^\\n]{2,160}?)(?:\\s+and more.*)?$/i);\n  if (digestMatch) {\n    return { jobTitle: digestMatch[2].trim(), company: digestMatch[1].trim() };\n  }\n  // Job alert format: \"Your job alert for product design engineer\"\n  const alertMatch = cleaned.match(/(?:Your\\s+)?job\\s+alert\\s+for\\s+(.+)/i);\n  if (alertMatch) {\n    return { jobTitle: alertMatch[1].trim(), company: '' };\n  }\n  const basic = cleaned.replace(/^(re:|fwd:|new jobs?|job alert|job recommendations?|career update)[:\\s-]*/gi, '').trim();\n  return { jobTitle: basic || 'Unknown Position', company: '' };\n};\n\n// Parse \"Subject at Company\" patterns (Dice IntelliSearch, Jobright, etc.)\nconst parseSubjectAtCompany = (subject = '') => {\n  const cleaned = decodeMimeWords(subject || '').replace(/[\\u201c\\u201d]/g, '\"').trim();\n  // Dice: \"Your IntelliSearch Alert: Title at Company\"\n  const intelliMatch = cleaned.match(/IntelliSearch Alert[:\\s]*\\s*(.+?)\\s+at\\s+(.+?)\\.?\\s*$/i);\n  if (intelliMatch) return { jobTitle: intelliMatch[1].trim(), company: intelliMatch[2].trim() };\n  // Jobright: 'Your job matches for \"Title\" — curated for you from Jobright'\n  const jobrightMatch = cleaned.match(/job matches for\\s+[\"\\u201c]([^\"\\u201d]+)[\"\\u201d]/i);\n  if (jobrightMatch) return { jobTitle: jobrightMatch[1].trim(), company: '' };\n  // Generic \"Title at Company\" pattern\n  const atMatch = cleaned.match(/^(.{5,80})\\s+at\\s+(.{2,80})$/i);\n  if (atMatch) return { jobTitle: atMatch[1].trim(), company: atMatch[2].trim() };\n  return null;\n};\n\n// ---- Source Registry ----\n// To add a new email source:\n//   1. Write a parseXxx(html, subject, emailDate) function below\n//   2. Add an entry here BEFORE the 'generic' catch-all entry\n//   detect(from, subject, content) should return true when this source matches\nconst SOURCE_REGISTRY = [\n  {\n    name: 'google_alerts',\n    detect: (from) => /notify-noreply@google\\.com/i.test(from) || /job\\s*alerts?\\s*from\\s*google/i.test(from),\n    parse: (html, subject, emailDate) => parseGoogleAlerts(html, subject, emailDate)\n  },\n  {\n    name: 'linkedin',\n    detect: (from, subject, content) =>\n      /linkedin/i.test(from) ||\n      (!from && /(linkedin\\.com\\/(comm\\/)?jobs\\/view|jobalerts-noreply@linkedin\\.com)/i.test(content)),\n    parse: (html, subject, emailDate) => parseLinkedIn(html, subject, emailDate)\n  },\n  {\n    name: 'indeed',\n    detect: (from) => /indeed/i.test(from),\n    parse: (html, subject, emailDate) => parseIndeed(html || '', subject, emailDate)\n  },\n  {\n    name: 'glassdoor',\n    detect: (from) => /glassdoor/i.test(from),\n    parse: (html, subject, emailDate) => parseGlassdoor(html || '', subject, emailDate)\n  },\n  {\n    name: 'ziprecruiter',\n    detect: (from) => /ziprecruiter/i.test(from),\n    parse: (html, subject, emailDate) => parseZipRecruiter(html || '', subject, emailDate)\n  },\n  {\n    name: 'dice',\n    detect: (from, subject) => /dice/i.test(from) || /IntelliSearch Alert/i.test(subject),\n    parse: (html, subject, emailDate) => parseDice(html || '', subject, emailDate)\n  },\n  {\n    name: 'jobright',\n    detect: (from) => /jobright/i.test(from),\n    parse: (html, subject, emailDate) => parseJobright(html || '', subject, emailDate)\n  },\n  {\n    name: 'generic',\n    detect: () => true,\n    parse: (html, subject, emailDate) => parseGeneric(html || '', subject, emailDate)\n  }\n];\n\n// ---- Main email loop ----\n\nfor (const email of emails) {\n  const raw = email.json || {};\n  let html = '', text = '', subject = '', from = '', emailDate = new Date().toISOString(), emailId = '';\n\n  const payload = raw.payload || {};\n  const getHeader = (name) => {\n    const target = (name || '').toLowerCase();\n    const headers = Array.isArray(payload.headers) ? payload.headers : [];\n    const hit = headers.find(h => (h?.name || '').toLowerCase() === target);\n    if (hit?.value) return hit.value;\n\n    const lower = (name || '').toLowerCase();\n    const title = lower ? `${lower.charAt(0).toUpperCase()}${lower.slice(1)}` : name;\n    const variants = [name, lower, title, (name || '').toUpperCase()];\n    for (const key of variants) {\n      if (!key) continue;\n      const v = raw[key];\n      if (typeof v === 'string' && v.trim()) return v;\n    }\n    return '';\n  };\n\n  const walkParts = (parts, acc = { text: '', html: '' }) => {\n    if (!Array.isArray(parts)) return acc;\n    for (const part of parts) {\n      const mime = (part?.mimeType || '').toLowerCase();\n      const data = part?.body?.data;\n      if (mime === 'text/plain' && !acc.text && data) acc.text = decodeBase64(data);\n      if (mime === 'text/html' && !acc.html && data) acc.html = decodeBase64(data);\n      if (Array.isArray(part?.parts)) walkParts(part.parts, acc);\n      if (acc.text && acc.html) break;\n    }\n    return acc;\n  };\n\n  subject = decodeMimeWords(getHeader('Subject') || raw.subject || '');\n  from = decodeMimeWords(getHeader('From') || raw.from?.value?.[0]?.address || raw.from || '');\n\n  if (raw.payload) {\n    emailDate = raw.internalDate ? new Date(parseInt(raw.internalDate)).toISOString() : (raw.date || new Date().toISOString());\n    emailId = raw.id || '';\n\n    const bodyData = raw.payload?.body?.data;\n    if (bodyData) {\n      const decoded = decodeBase64(bodyData);\n      const mime = (raw.payload?.mimeType || '').toLowerCase();\n      if (mime === 'text/plain') text = decoded;\n      else html = decoded;\n    }\n\n    const walked = walkParts(raw.payload?.parts || []);\n    if (!text && walked.text) text = walked.text;\n    if (!html && walked.html) html = walked.html;\n\n    if (!text && !html) {\n      text = raw.text || '';\n      html = raw.html || raw.snippet || '';\n    } else {\n      text = text || raw.text || '';\n      html = html || raw.html || raw.snippet || '';\n    }\n  } else {\n    html = raw.html || '';\n    text = raw.text || '';\n    emailDate = raw.date || new Date().toISOString();\n    emailId = raw.id || '';\n    if (!text && !html) html = raw.snippet || '';\n  }\n\n  if (!text && !html) {\n    text = raw.text || '';\n    html = raw.html || raw.snippet || '';\n  }\n\n  const contentForSource = `${subject}\\n${from}\\n${text}\\n${html}`;\n\n  // Detect source using registry — first match wins, 'generic' is always last\n  let source = 'generic';\n  let registryEntry = SOURCE_REGISTRY[SOURCE_REGISTRY.length - 1];\n  for (const entry of SOURCE_REGISTRY) {\n    if (entry.detect(from, subject, contentForSource)) {\n      source = entry.name;\n      registryEntry = entry;\n      break;\n    }\n  }\n\n  let extracted = [];\n  try {\n    extracted = registryEntry.parse(html || text, subject, emailDate);\n  } catch (e) {\n    extracted = parseGeneric(html || text, subject, emailDate);\n  }\n\n  for (const job of extracted) {\n    if (job.jobTitle) jobs.push({ ...job, source, emailDate, emailId, parseConfidence: job.parseConfidence || 'regex' });\n  }\n}\n\n// ---- Source-specific parsers ----\n\nfunction parseGoogleAlerts(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n\n  // Decode quoted-printable: soft line breaks + hex sequences + entities\n  const normalized = (html || '')\n    .replace(/=\\r?\\n/g, '')\n    .replace(/=([0-9A-Fa-f]{2})/g, (_, hex) => String.fromCharCode(parseInt(hex, 16)))\n    .replace(/&amp;/gi, '&');\n\n  // Extract search query from subject: '6 new jobs for \"creative technologist jobs\" - Mar 5'\n  const subjectMatch = subject.match(/(?:\\d+\\s+new\\s+)?jobs?\\s+for\\s+[\"\\u201c]([^\"\\u201d]+)[\"\\u201d]/i);\n  const searchQuery = subjectMatch ? subjectMatch[1].trim() : '';\n\n  // Location hint from the email header (e.g., \"Near Kyle, TX\")\n  const locationHintMatch = normalized.match(/Near\\s+([^<]{3,60})<\\/span>/i);\n  const locationHint = locationHintMatch ? locationHintMatch[1].trim() : '';\n\n  // Each job card is an <a> wrapping a table with title/company/location.\n  // The footer \"Explore jobs\" / \"Manage Alerts\" / \"Unsubscribe\" links are filtered out.\n  const cardRegex = /<a[^>]+href=[\"'](https:\\/\\/notifications\\.googleapis\\.com\\/email\\/redirect[^\"'< ]+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n  let cardMatch;\n  while ((cardMatch = cardRegex.exec(normalized)) !== null) {\n    const href = (cardMatch[1] || '').trim();\n    const cardHtml = cardMatch[2] || '';\n\n    // Skip footer/utility links\n    if (/Explore\\s+jobs|Manage\\s+Alerts|Unsubscribe|Forward\\s+icon|google_logo/i.test(cardHtml)) continue;\n\n    // Job title: <span style=\"...font-size: 16px; line-height: 1.43em;\">Title</span>\n    const titleMatch = cardHtml.match(/<span[^>]*font-size:\\s*16px[^>]*>([^<]+)<\\/span>/i);\n    const jobTitle = titleMatch ? titleMatch[1].trim() : '';\n    if (!jobTitle) continue; // Not a job card\n\n    // Company: <div style=\"color: black; font-size: 14px; ...\">Company Name</div>\n    const companyMatch = cardHtml.match(/<div[^>]*color:\\s*(?:#000000|black)[^>]*>([^<]+)<\\/div>/i);\n    const company = companyMatch ? companyMatch[1].trim() : '';\n\n    // Location: first <span> child inside a color:#8A8A8A div that doesn't start with \"via \"\n    const locationDivs = [...cardHtml.matchAll(/<div[^>]*color:\\s*#8A8A8A[^>]*>([\\s\\S]*?)<\\/div>/gi)];\n    let location = '';\n    for (const div of locationDivs) {\n      const spanMatch = div[1].match(/<span[^>]*>([^<]+)<\\/span>/i);\n      if (spanMatch && !/^via\\s/i.test(spanMatch[1].trim())) {\n        location = spanMatch[1].trim();\n        break;\n      }\n    }\n\n    // Employment type from the Work icon span (Full-time, Part-time, etc.)\n    const typeMatch = cardHtml.match(/work_grey600[^>]*>[^<]*<\\/img>\\s*<span[^>]*>([^<]+)<\\/span>/i)\n      || cardHtml.match(/<span[^>]*>(\\bFull-time\\b|\\bPart-time\\b|\\bContract\\b|\\bTemporary\\b|\\bInternship\\b)[^<]*<\\/span>/i);\n    const employmentType = typeMatch ? typeMatch[1].trim() : '';\n\n    if (seen.has(href)) continue;\n    seen.add(href);\n\n    jobs.push({\n      jobTitle,\n      company,\n      location: location || locationHint,\n      description: [\n        searchQuery ? `Google Alert: ${searchQuery}` : '',\n        employmentType || ''\n      ].filter(Boolean).join(' — ') || '',\n      applyUrl: href,\n      parseConfidence: 'high',\n      needsRedirectResolution: true\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseLinkedIn(content, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  const normalized = (content || '').replace(/=\\r?\\n/g, '').replace(/=3D/gi, '=').replace(/&amp;/gi, '&');\n  const subjectFallback = parseLinkedInSubject(subject);\n\n  // ---- PASS 1: Line-by-line digest parser ----\n  const lines = normalized.split('\\n').map(l => l.trimEnd());\n\n  for (let i = 0; i < lines.length; i++) {\n    const viewJobMatch = lines[i].match(/^\\s*View job:\\s*(https?:\\/\\/(?:www\\.)?linkedin\\.com\\/(?:comm\\/)?jobs\\/view\\/[^\\s]+)/i);\n    if (!viewJobMatch) continue;\n\n    const applyUrl = decodeTrackedUrl(viewJobMatch[1].trim()).replace(/[),.;]+$/g, '');\n    if (!applyUrl || seen.has(applyUrl)) continue;\n    seen.add(applyUrl);\n\n    const contentLines = [];\n    let backIdx = i - 1;\n    let scanned = 0;\n\n    while (backIdx >= 0 && contentLines.length < 5 && scanned < 10) {\n      const line = lines[backIdx].trim();\n      backIdx--;\n      scanned++;\n\n      if (/^-{3,}$/.test(line)) break;\n      if (/^Your job alert/i.test(line)) break;\n      if (/^New jobs match/i.test(line)) break;\n\n      if (!line) continue;\n      if (/^(Apply with|This company|Actively hiring|Be an early|Easy Apply)/i.test(line)) continue;\n\n      contentLines.unshift(line);\n    }\n\n    let title = '', company = '', location = '';\n    if (contentLines.length >= 3) {\n      title = contentLines[0];\n      company = contentLines[1];\n      location = contentLines[2];\n    } else if (contentLines.length === 2) {\n      title = contentLines[0];\n      company = contentLines[1];\n    } else if (contentLines.length === 1) {\n      title = contentLines[0];\n    }\n\n    jobs.push({\n      jobTitle: title || subjectFallback.jobTitle || 'Unknown Position',\n      company: company || subjectFallback.company || '',\n      location: location || '',\n      description: '',\n      applyUrl,\n      parseConfidence: title ? 'digest' : 'url_only'\n    });\n  }\n\n  // ---- PASS 2: URL-only fallback ----\n  const urlRegex = /https?:\\/\\/www\\.linkedin\\.com\\/(?:comm\\/)?jobs\\/view\\/[^\\s<>\"')\\]]+/gi;\n  const urlMatches = normalized.match(urlRegex) || [];\n  for (const rawUrl of urlMatches) {\n    const applyUrl = decodeTrackedUrl((rawUrl || '').trim()).replace(/[),.;]+$/g, '');\n    if (!applyUrl || seen.has(applyUrl)) continue;\n    seen.add(applyUrl);\n    jobs.push({\n      jobTitle: subjectFallback.jobTitle || 'Unknown Position',\n      company: subjectFallback.company || '',\n      location: '',\n      description: '',\n      applyUrl,\n      parseConfidence: 'url_only'\n    });\n  }\n\n  if (jobs.length) return jobs;\n\n  // ---- PASS 3: HTML card fallback ----\n  let m;\n  const jobCardRegex = /<a[^>]+href=\"(https:\\/\\/(?:www\\.)?linkedin\\.com\\/(?:comm\\/)?jobs\\/view\\/[^\"?]+)[^\"]*\"[^>]*>\\s*([^<]{5,120})\\s*<\\/a>/gi;\n  const companyRegex = /<span[^>]*class=\"[^\"]*company[^\"]*\"[^>]*>([^<]+)<\\/span>/gi;\n  const urls = [], titles = [], companies = [];\n\n  while ((m = jobCardRegex.exec(normalized)) !== null) {\n    urls.push(decodeTrackedUrl(m[1] || ''));\n    titles.push((m[2] || '').trim());\n  }\n  while ((m = companyRegex.exec(normalized)) !== null) {\n    companies.push((m[1] || '').trim());\n  }\n\n  for (let i = 0; i < titles.length; i++) {\n    const applyUrl = (urls[i] || '').trim();\n    if (!applyUrl || seen.has(applyUrl)) continue;\n    seen.add(applyUrl);\n    jobs.push({\n      jobTitle: titles[i] || subjectFallback.jobTitle || 'Unknown Position',\n      company: companies[i] || subjectFallback.company || '',\n      description: '',\n      applyUrl,\n      location: ''\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(normalized, subject, emailDate);\n}\n\nfunction parseDice(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  const subjectParsed = parseSubjectAtCompany(subject) || { jobTitle: subject.trim(), company: '' };\n\n  // Dice IntelliSearch emails are single-job alerts — only need the first real dice.com URL\n  const hrefRegex = /href=[\"']([^\"']+)[\"']/gi;\n  let m;\n  while ((m = hrefRegex.exec(html)) !== null) {\n    let url = (m[1] || '').trim();\n    if (url.startsWith('/')) continue;\n    url = decodeTrackedUrl(url);\n    if (!/dice\\.com/i.test(url)) continue;\n    if (/unsubscribe|privacy|settings|preferences|manage|account/i.test(url)) continue;\n    if (seen.has(url)) continue;\n    seen.add(url);\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: url,\n      location: '',\n      parseConfidence: 'medium'\n    });\n    break; // Single-job alert — one URL is enough\n  }\n\n  if (jobs.length === 0) {\n    const textUrlRegex = /https?:\\/\\/[^\\s<>\"')]+dice\\.com[^\\s<>\"')]+/gi;\n    const urls = (html.match(textUrlRegex) || []).map(decodeTrackedUrl);\n    for (const url of urls) {\n      if (/unsubscribe|privacy|settings|preferences|manage|account/i.test(url)) continue;\n      if (seen.has(url)) continue;\n      seen.add(url);\n      jobs.push({\n        jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n        company: subjectParsed.company || '',\n        description: '',\n        applyUrl: url,\n        location: '',\n        parseConfidence: 'low'\n      });\n      break;\n    }\n  }\n\n  // Fallback: subject data with no URL is still a valid job hit\n  if (jobs.length === 0 && subjectParsed.jobTitle && subjectParsed.jobTitle !== 'Unknown Position') {\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle,\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: '',\n      location: '',\n      parseConfidence: 'subject_only'\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseJobright(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  const subjectParsed = parseSubjectAtCompany(subject) || { jobTitle: subject.trim(), company: '' };\n\n  const hrefRegex = /href=[\"']([^\"']+)[\"']/gi;\n  let m;\n  while ((m = hrefRegex.exec(html)) !== null) {\n    let url = (m[1] || '').trim();\n    if (url.startsWith('/')) continue;\n    url = decodeTrackedUrl(url);\n    if (!isLikelyJobUrl(url) || seen.has(url)) continue;\n    if (/unsubscribe|privacy|settings|preferences/i.test(url)) continue;\n    seen.add(url);\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: url,\n      location: '',\n      parseConfidence: 'medium'\n    });\n  }\n\n  if (jobs.length === 0 && subjectParsed.jobTitle && subjectParsed.jobTitle !== 'Unknown Position') {\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle,\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: '',\n      location: '',\n      parseConfidence: 'subject_only'\n    });\n  }\n\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseIndeed(html, subject, emailDate) {\n  const jobs = [];\n  const blockRegex = /href=\"(https:\\/\\/(?:www\\.)?indeed\\.com\\/(?:viewjob|rc\\/clk)[^\"]+)\"[\\s\\S]*?<h2[^>]*>([^<]+)<\\/h2>[\\s\\S]*?<span[^>]*>([^<]+)<\\/span>/gi;\n  let m;\n  while ((m = blockRegex.exec(html)) !== null)\n    jobs.push({ jobTitle: m[2].trim(), company: m[3].trim(), description: '', applyUrl: m[1], location: '' });\n  if (jobs.length === 0) {\n    const linkRegex = /href=\"(https:\\/\\/(?:www\\.)?indeed\\.com\\/[^\"]+)\"[^>]*>([^<]{5,80})<\\/a>/gi;\n    while ((m = linkRegex.exec(html)) !== null)\n      if (!m[2].includes('Indeed') && !m[2].includes('Unsubscribe'))\n        jobs.push({ jobTitle: m[2].trim(), company: '', description: '', applyUrl: m[1], location: '' });\n  }\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseGlassdoor(html, subject, emailDate) {\n  const jobs = [];\n  const blockRegex = /href=\"(https:\\/\\/(?:www\\.)?glassdoor\\.com\\/[^\"]+job[^\"]+)\"[^>]*>([^<]{5,100})<\\/a>/gi;\n  let m;\n  while ((m = blockRegex.exec(html)) !== null)\n    if (!m[2].includes('Glassdoor') && !m[2].includes('Unsubscribe'))\n      jobs.push({ jobTitle: m[2].replace(/<[^>]+>/g, '').trim(), company: '', description: '', applyUrl: m[1], location: '' });\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseZipRecruiter(html, subject, emailDate) {\n  const jobs = [];\n  const blockRegex = /href=\"(https:\\/\\/(?:www\\.)?ziprecruiter\\.com\\/[^\"]+)\"[^>]*>([^<]{5,100})<\\/a>/gi;\n  let m;\n  while ((m = blockRegex.exec(html)) !== null) {\n    const text = m[2].trim();\n    if (text && !text.includes('ZipRecruiter') && !text.includes('Unsubscribe') && text.length < 120)\n      jobs.push({ jobTitle: text, company: '', description: '', applyUrl: m[1], location: '' });\n  }\n  return jobs.length ? jobs : parseGeneric(html, subject, emailDate);\n}\n\nfunction parseGeneric(html, subject, emailDate) {\n  const jobs = [];\n  const seen = new Set();\n  // Try specific subject patterns first, then LinkedIn-style fallback\n  const subjectParsed = parseSubjectAtCompany(subject) || parseLinkedInSubject(subject);\n\n  const hrefRegex = /href=[\"']([^\"']+)[\"']/gi;\n  let m;\n  while ((m = hrefRegex.exec(html)) !== null) {\n    let url = (m[1] || '').trim();\n    if (url.startsWith('/')) continue;\n    url = decodeTrackedUrl(url);\n    if (!isLikelyJobUrl(url) || seen.has(url)) continue;\n    seen.add(url);\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: url,\n      location: '',\n      parseConfidence: 'medium'\n    });\n  }\n\n  if (jobs.length === 0) {\n    const textUrlRegex = /https?:\\/\\/[^\\s<>\"')]+/gi;\n    const urls = (html.match(textUrlRegex) || []).map(decodeTrackedUrl);\n    for (const url of urls) {\n      if (!isLikelyJobUrl(url) || seen.has(url)) continue;\n      seen.add(url);\n      jobs.push({\n        jobTitle: subjectParsed.jobTitle || 'Unknown Position',\n        company: subjectParsed.company || '',\n        description: '',\n        applyUrl: url,\n        location: '',\n        parseConfidence: 'low'\n      });\n    }\n  }\n\n  if (jobs.length === 0)\n    jobs.push({\n      jobTitle: subjectParsed.jobTitle || subject.trim() || 'Unknown Position',\n      company: subjectParsed.company || '',\n      description: '',\n      applyUrl: '',\n      location: '',\n      parseConfidence: 'very_low'\n    });\n\n  return jobs;\n}\n\nif (jobs.length === 0) return [{ json: { _noJobs: true } }];\nreturn jobs.map(j => ({ json: j }));\n"},"name":"Parse Job Alert Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,2208],"id":"parse-email-alerts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-001","leftValue":"={{ $json._noJobs }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"name":"IF - Email Jobs Found","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,2208],"id":"if-email-jobs-found"},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.filter(i => !i.json._noJobs).map(item => {\n  const j = item.json;\n  const company = (j.company || \"\").trim();\n  const title = (j.jobTitle || \"\").trim();\n  let domain = \"\";\n  try { domain = j.applyUrl ? new URL(j.applyUrl).hostname.replace(\"www.\",\"\") : \"\"; } catch(e) {}\n  return { json: {\n    id: \"email_\" + Date.now() + \"_\" + Math.random().toString(36).substring(2,6),\n    source: \"Email Alert (\" + (j.emailSource || \"unknown\") + \")\",\n    company,\n    title,\n    url: j.applyUrl || \"\",\n    snippet: (j.description || \"\").substring(0, 500),\n    dateFound: new Date().toISOString(),\n    Status: \"New\",\n    \"Dedup Key\": company.toLowerCase() + \"|\" + title.toLowerCase() + \"|\" + domain,\n    Rendering: \"static\"\n  }};\n});"},"name":"Normalize Email Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,2208],"id":"normalize-email-jobs"},{"parameters":{"jsCode":"// Bail if Parse Config never ran (email path — no SerpAPI scan needed)\nlet parseConfigData;\ntry {\n  parseConfigData = $(\"Parse Config\").first().json;\n} catch(e) {\n  return [];\n}\n\nconst { jobTitles, config } = parseConfigData;\n\nconst locations = (config.locations || \"Austin, Texas\")\n  .split(\"|\")\n  .map(l => l.trim())\n  .filter(Boolean);\n\nconst combos = [];\nfor (const title of jobTitles) {\n  for (const location of locations) {\n    combos.push({ json: { title, location } });\n  }\n}\n\nreturn combos;"},"id":"ats-sites","name":"Emit Job Titles","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,1712]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Config Loader","type":"main","index":0},{"node":"Get a document","type":"main","index":0}]]},"Config Loader":{"main":[[{"node":"Parse Config","type":"main","index":0}]]},"Parse Config":{"main":[[{"node":"Emit Job Titles","type":"main","index":0}]]},"Google_jobs search":{"main":[[{"node":"Parse Search Results","type":"main","index":0}]]},"Parse Search Results":{"main":[[{"node":"Read Pipeline for Dedup","type":"main","index":0}]]},"Read Pipeline for Dedup":{"main":[[{"node":"Dedup Filter","type":"main","index":0}]]},"Dedup Filter":{"main":[[{"node":"Route After Dedup","type":"main","index":0}]]},"Append to Pipeline":{"main":[[{"node":"Read New Listings","type":"main","index":0}]]},"Read New Listings":{"main":[[{"node":"Filter Recent Listings","type":"main","index":0}]]},"Filter Recent Listings":{"main":[[{"node":"Batch for Pre-Screen","type":"main","index":0}]]},"Batch for Pre-Screen":{"main":[[{"node":"Filter Passed Pre-Screen","type":"main","index":0}],[{"node":"Pre-Screen AI Agent","type":"main","index":0}]]},"Pre-Screen AI Agent":{"main":[[{"node":"Parse Pre-Screen Result","type":"main","index":0}]]},"Parse Pre-Screen Result":{"main":[[{"node":"Update Pre-Screen Status","type":"main","index":0}]]},"Update Pre-Screen Status":{"main":[[{"node":"Batch for Pre-Screen","type":"main","index":0}]]},"Filter Passed Pre-Screen":{"main":[[{"node":"Batch for Evaluation","type":"main","index":0}]]},"Batch for Evaluation":{"main":[[{"node":"Score >= Threshold?","type":"main","index":0}],[{"node":"Fetch Job Description","type":"main","index":0}]]},"Fetch Job Description":{"main":[[{"node":"Extract JD Text","type":"main","index":0}]]},"Extract JD Text":{"main":[[{"node":"Evaluator AI Agent","type":"main","index":0}]]},"Evaluator AI Agent":{"main":[[{"node":"Apply Scoring & Freshness","type":"main","index":0}]]},"Apply Scoring & Freshness":{"main":[[{"node":"Write Evaluation","type":"main","index":0}]]},"Write Evaluation":{"main":[[{"node":"Update Pipeline Status","type":"main","index":0}]]},"Update Pipeline Status":{"main":[[{"node":"Batch for Evaluation","type":"main","index":0}]]},"Score >= Threshold?":{"main":[[{"node":"Batch for CV Gen","type":"main","index":0}],[{"node":"Below Threshold","type":"main","index":0}]]},"Batch for CV Gen":{"main":[[{"node":"Cleanup Stale Rows","type":"main","index":0}],[{"node":"CV Generator AI Agent","type":"main","index":0}]]},"CV Generator AI Agent":{"main":[[{"node":"Inject CV Template","type":"main","index":0}]]},"Inject CV Template":{"main":[[{"node":"Cover Letter AI Agent","type":"main","index":0}]]},"Cover Letter AI Agent":{"main":[[{"node":"Apply Prep AI Agent","type":"main","index":0}]]},"Apply Prep AI Agent":{"main":[[{"node":"Parse Cover Letter & Prep","type":"main","index":0}]]},"Parse Cover Letter & Prep":{"main":[[{"node":"Prepare Drive Upload","type":"main","index":0}]]},"Prepare Drive Upload":{"main":[[{"node":"Create CV Metadata","type":"main","index":0}]]},"Create CV Metadata":{"main":[[{"node":"Upload CV Content","type":"main","index":0}]]},"Upload CV Content":{"main":[[{"node":"Create CL Metadata","type":"main","index":0}]]},"Create CL Metadata":{"main":[[{"node":"Upload CL Content","type":"main","index":0}]]},"Upload CL Content":{"main":[[{"node":"Build Drive Links","type":"main","index":0}]]},"Build Drive Links":{"main":[[{"node":"Write Application Row","type":"main","index":0}]]},"Write Application Row":{"main":[[{"node":"Update Pipeline Prepped","type":"main","index":0}]]},"Update Pipeline Prepped":{"main":[[{"node":"Build Job Discord Message","type":"main","index":0}]]},"Build Job Discord Message":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Batch for CV Gen","type":"main","index":0}]]},"Below Threshold":{"main":[[{"node":"Cleanup Stale Rows","type":"main","index":0}]]},"Gemini Flash Lite - PreScreen":{"ai_languageModel":[[{"node":"Pre-Screen AI Agent","type":"ai_languageModel","index":0}]]},"Gemini Flash Lite - CV Gen":{"ai_languageModel":[[{"node":"CV Generator AI Agent","type":"ai_languageModel","index":0}]]},"Gemini Flash Lite - Cover Letter":{"ai_languageModel":[[{"node":"Cover Letter AI Agent","type":"ai_languageModel","index":0}]]},"Gemini Flash Lite - Apply Prep":{"ai_languageModel":[[{"node":"Apply Prep AI Agent","type":"ai_languageModel","index":0}]]},"Route After Dedup":{"main":[[{"node":"Read New Listings","type":"main","index":0}],[{"node":"Append to Pipeline","type":"main","index":0}]]},"Get a document":{"main":[[]]},"Gemini Flash - Evaluator":{"ai_languageModel":[[{"node":"Evaluator AI Agent","type":"ai_languageModel","index":0}]]},"Gmail Trigger - Job Alerts":{"main":[[{"node":"Parse Job Alert Emails","type":"main","index":0},{"node":"Get a document","type":"main","index":0}]]},"Parse Job Alert Emails":{"main":[[{"node":"IF - Email Jobs Found","type":"main","index":0}]]},"IF - Email Jobs Found":{"main":[[{"node":"Normalize Email Jobs","type":"main","index":0}],[]]},"Normalize Email Jobs":{"main":[[{"node":"Read Pipeline for Dedup","type":"main","index":0}]]},"Emit Job Titles":{"main":[[{"node":"Google_jobs search","type":"main","index":0}]]}},"authors":"Preston Bezant","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T04:28:55.024Z","id":263,"workflowId":"u1bV8KbKeXtNM8Xa","versionId":"d05a84a2-2e06-4d59-9a72-84cbe25d42a5","event":"activated","userId":"7765ab1f-d3d0-407d-95ae-b8995c59eefb"}]}}