workflows/01-core-pipeline.json
{
  "name": "01 - Career-Ops: Core Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        232
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg",
          "mode": "list",
          "cachedResultName": "Career Ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=0"
        },
        "options": {}
      },
      "id": "config-loader",
      "name": "Config Loader",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        232
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform key-value rows into a config object\nconst config = {};\nfor (const item of $input.all()) {\n  config[item.json.Key] = item.json.Value;\n}\n\n// Parse job titles\nconst jobTitles = (config.job_titles || 'Product Designer').split(',').map(t => t.trim());\nconst scoreThreshold = parseFloat(config.score_threshold || '4.0');\nconst scanBudget = parseInt(config.scan_budget_daily || '200');\n\nreturn [{ json: { config, jobTitles, scoreThreshold, scanBudget } }];"
      },
      "id": "parse-config",
      "name": "Parse Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        232
      ]
    },
    {
      "parameters": {
        "jsCode": "const sites = [\n  // TIER 1 — scan every run\n  { name: 'Greenhouse', domain: 'greenhouse.io', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Lever', domain: 'lever.co', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Ashby', domain: 'ashbyhq.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Wellfound', domain: 'wellfound.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Workday', domain: 'myworkdayjobs.com', tier: 1, rendering: 'js_spa', enabled: true },\n  { name: 'SmartRecruiters', domain: 'jobs.smartrecruiters.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'JazzHR', domain: 'applytojob.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Jobvite', domain: 'jobs.jobvite.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'BreezyHR', domain: 'breezy.hr', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Teamtailor', domain: 'teamtailor.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Recruitee', domain: 'recruitee.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Workable', domain: 'jobs.workable.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Builtin', domain: 'builtin.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Pinpoint', domain: 'pinpointhq.com', tier: 1, rendering: 'static', enabled: true },\n  { name: 'Homerun', domain: 'homerun.co', tier: 1, rendering: 'static', enabled: true },\n  // TIER 2 — rotate in groups\n  { name: 'iCIMS', domain: 'icims.com', tier: 2, rendering: 'js_spa', enabled: true },\n  { name: 'Oracle Cloud', domain: 'oraclecloud.com', tier: 2, rendering: 'js_spa', enabled: true },\n  { name: 'Rippling', domain: 'rippling.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Gusto', domain: 'jobs.gusto.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Dover', domain: 'dover.io', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Gem', domain: 'gem.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Trakstar', domain: 'hire.trakstar.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'JazzHR Cats', domain: 'catsone.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Keka', domain: 'keka.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Paylocity', domain: 'recruiting.paylocity.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'CareerPuck', domain: 'careerpuck.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'TalentReef', domain: 'jobappnetwork.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'TriNet', domain: 'trinethire.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Factorial', domain: 'factorialhr.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Y Combinator', domain: 'workatastartup.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Glassdoor', domain: 'glassdoor.com', tier: 2, rendering: 'js_spa', enabled: true },\n  { name: 'Remote Rocketship', domain: 'remoterocketship.com', tier: 2, rendering: 'static', enabled: true },\n  { name: 'Notion Jobs', domain: 'notion.site', tier: 2, rendering: 'static', enabled: true },\n  // LinkedIn: excluded from site: queries — JS-rendered, blocks crawlers\n  // Use ad-hoc pipeline (Workflow 02) for LinkedIn URLs\n  { name: 'LinkedIn', domain: 'linkedin.com', tier: 2, rendering: 'js_spa', enabled: false, note: 'LinkedIn blocks site: queries. Submit URLs via ad-hoc webhook instead.' }\n];\n\nconst { jobTitles, scanBudget } = $('Parse Config').first().json;\n\n// Tier 1 sites — always scan\nconst tier1 = sites.filter(s => s.tier === 1 && s.enabled);\n\n// Tier 2 rotation — cycle groups of 8 by day of week\nconst tier2 = sites.filter(s => s.tier === 2 && s.enabled);\nconst dayIndex = new Date().getDay(); // 0-6\nconst groupSize = 8;\nconst offset = (dayIndex * groupSize) % tier2.length;\nconst tier2Today = [...tier2.slice(offset, offset + groupSize), ...tier2.slice(0, Math.max(0, offset + groupSize - tier2.length))];\n\nconst activeSites = [...tier1, ...tier2Today];\n\n// Build query combos: title x site\nconst combos = [];\nfor (const title of jobTitles) {\n  for (const site of activeSites) {\n    combos.push({ title, site });\n  }\n}\n\nreturn combos.map(c => ({ json: c }));"
      },
      "id": "ats-sites",
      "name": "ATS Site List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        232
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-over-combos",
      "name": "Loop Over Query Combos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        232
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ '\"' + $json.title + '\" site:' + $json.site.domain + ' remote' }}"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "api_key",
              "value": "={{ $credentials.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "search-serpapi",
      "name": "Search SerpAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst inputItem = $input.first().json;\nconst searchTitle = $('Loop Over Query Combos').item.json.title;\nconst site = $('Loop Over Query Combos').item.json.site;\n\n// Handle SerpAPI error\nif (inputItem.error || !inputItem.organic_results) {\n  return [{ json: { results: [], title: searchTitle, site: site.name, error: inputItem.error || 'No results' } }];\n}\n\nfor (const r of (inputItem.organic_results || [])) {\n  const url = r.link || '';\n  const domain = url ? new URL(url).hostname.replace('www.', '') : '';\n  const company = r.displayed_link ? r.displayed_link.split(' › ')[0] : domain.split('.')[0];\n  \n  // Generate dedup key\n  const dedupKey = `${company.toLowerCase()}|${(r.title || '').toLowerCase()}|${domain}`;\n  \n  results.push({\n    id: `${site.name.toLowerCase().replace(/\\s/g, '_')}_${Date.now()}_${Math.random().toString(36).substring(2, 6)}`,\n    source: site.name,\n    company: company,\n    title: r.title || '',\n    url: url,\n    snippet: (r.snippet || '').substring(0, 500),\n    dateFound: new Date().toISOString(),\n    freshnessHours: 12,\n    status: 'New',\n    dedupKey: dedupKey,\n    rendering: site.rendering\n  });\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "parse-results",
      "name": "Parse Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        160
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "CAREER_OPS_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Pipeline"
        },
        "options": {}
      },
      "id": "check-existing",
      "name": "Read Pipeline for Dedup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1568,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get existing dedup keys from the sheet\nconst existingKeys = new Set($('Read Pipeline for Dedup').all().map(i => i.json['Dedup Key']).filter(Boolean));\n\n// Filter incoming results to only new ones\nconst incoming = $('Parse Search Results').all();\nconst newListings = incoming.filter(i => i.json.dedupKey && !existingKeys.has(i.json.dedupKey));\n\nif (newListings.length === 0) {\n  return [{ json: { newListings: [], count: 0, message: 'No new listings' } }];\n}\n\nreturn newListings;"
      },
      "id": "dedup-filter",
      "name": "Dedup Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        160
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg",
          "mode": "list",
          "cachedResultName": "Career Ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Pipeline"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-pipeline",
      "name": "Append to Pipeline",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2016,
        232
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "CAREER_OPS_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Pipeline"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "New"
            }
          ]
        },
        "options": {}
      },
      "id": "read-new-listings",
      "name": "Read New Listings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        684
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "batch-for-prescreen",
      "name": "Batch for Pre-Screen",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        684
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Pre-screen this job listing:\\n\\ntitle: ' + $json.Title + '\\ncompany: ' + $json.Company + '\\nsnippet: ' + $json['JD Snippet'] }}",
        "options": {}
      },
      "id": "prescreen-agent",
      "name": "Pre-Screen AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        684
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {
          "maxOutputTokens": 256,
          "temperature": 0.1
        }
      },
      "id": "gemini-prescreen",
      "name": "Gemini Flash Lite - PreScreen",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        520,
        908
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "T6vrBWXANAVPKppK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nlet parsed = { decision: 'MAYBE', reason: 'Could not parse response' };\ntry {\n  const match = raw.match(/\\{[\\s\\S]*?\\}/);\n  if (match) parsed = JSON.parse(match[0]);\n} catch(e) {\n  parsed.reason = 'Parse error: ' + raw.substring(0, 100);\n}\n\nconst sourceItem = $('Batch for Pre-Screen').item;\nconst newStatus = parsed.decision === 'REJECT' ? 'Pre-Rejected' : 'Pre-Screened';\n\nreturn [{ json: { ...sourceItem.json, preScreenDecision: parsed.decision, preScreenReason: parsed.reason, status: newStatus } }];"
      },
      "id": "parse-prescreen",
      "name": "Parse Pre-Screen Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        684
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg",
          "mode": "list",
          "cachedResultName": "Career Ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Pipeline"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-prescreen-status",
      "name": "Update Pre-Screen Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1024,
        684
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.preScreenDecision }}",
              "rightValue": "REJECT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "filter-passed",
      "name": "Filter Passed Pre-Screen",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1248,
        684
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 15000
        }
      },
      "id": "fetch-jd",
      "name": "Fetch Job Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        684
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const sourceItem = $('Filter Passed Pre-Screen').item;\nconst htmlResponse = $input.first().json;\nlet jdText = '';\nlet confidence = 'high';\n\nif (htmlResponse.error || !htmlResponse) {\n  // Fallback to snippet\n  jdText = sourceItem.json['JD Snippet'] || '';\n  confidence = 'low';\n} else {\n  const html = typeof htmlResponse === 'string' ? htmlResponse : JSON.stringify(htmlResponse);\n  // Strip HTML tags and collapse whitespace\n  jdText = html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 8000);\n  \n  // If content is very short, likely JS-rendered — fall back to snippet\n  if (jdText.length < 200) {\n    jdText = sourceItem.json['JD Snippet'] || jdText;\n    confidence = 'low';\n  }\n}\n\nreturn [{ json: { ...sourceItem.json, jdText, confidence } }];"
      },
      "id": "extract-jd-text",
      "name": "Extract JD Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        684
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Evaluate this job for Preston Bezant:\\n\\nCompany: ' + $json.Company + '\\nTitle: ' + $json.Title + '\\nURL: ' + $json.URL + '\\n\\nJob Description:\\n' + $json.jdText }}",
        "options": {}
      },
      "id": "evaluator-agent",
      "name": "Evaluator AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1920,
        684
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.1
        }
      },
      "id": "gemini-evaluator",
      "name": "Gemini Flash Lite - Evaluator",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1992,
        908
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "T6vrBWXANAVPKppK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '{}';\nconst sourceItem = $('Extract JD Text').item;\nlet eval_data = {};\n\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) eval_data = JSON.parse(match[0]);\n} catch(e) {\n  eval_data = { scores: {}, overall: 0, grade: 'F', summary: 'Parse error', confidence: 'low' };\n}\n\nconst scores = eval_data.scores || {};\n\n// Apply weights\nconst weights = { role_match: 0.20, skills: 0.20, seniority: 0.12, compensation: 0.10, geographic: 0.08, company_stage: 0.08, product_market: 0.07, growth: 0.07, interview_likelihood: 0.05, timeline: 0.03 };\nconst weightedScore = Object.keys(weights).reduce((sum, k) => sum + (scores[k] || 3) * weights[k], 0);\n\n// Gate-pass logic\nlet finalScore = weightedScore;\nlet finalGrade = eval_data.grade || 'C';\nif ((scores.role_match || 0) <= 1 || (scores.skills || 0) <= 1) {\n  finalGrade = 'D';\n  finalScore = Math.min(finalScore, 2.9);\n}\n\n// Freshness boost\nconst freshnessHours = eval_data.freshness_hours || 24;\nlet freshnessBoost = 0;\nif (freshnessHours < 6) freshnessBoost = 0.3;\nelse if (freshnessHours < 24) freshnessBoost = 0.2;\nconst adjustedScore = Math.min(5, finalScore + freshnessBoost);\n\n// Recalculate grade from adjusted score\nif (finalGrade !== 'D' && finalGrade !== 'F') {\n  if (adjustedScore >= 4.5) finalGrade = 'A';\n  else if (adjustedScore >= 3.8) finalGrade = 'B';\n  else if (adjustedScore >= 3.0) finalGrade = 'C';\n  else if (adjustedScore >= 2.0) finalGrade = 'D';\n  else finalGrade = 'F';\n}\n\nreturn [{ json: {\n  ...sourceItem.json,\n  eval: eval_data,\n  scores,\n  overall: parseFloat(weightedScore.toFixed(2)),\n  grade: finalGrade,\n  freshnessAdjustedScore: parseFloat(adjustedScore.toFixed(2)),\n  status: 'Evaluated'\n} }];"
      },
      "id": "apply-scoring",
      "name": "Apply Scoring & Freshness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        684
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg",
          "mode": "list",
          "cachedResultName": "Career Ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Evaluations"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "write-evaluation",
      "name": "Write Evaluation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2496,
        684
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg",
          "mode": "list",
          "cachedResultName": "Career Ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 439590855,
          "mode": "list",
          "cachedResultName": "Pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=439590855"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-pipeline-evaluated",
      "name": "Update Pipeline Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2720,
        684
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.freshnessAdjustedScore }}",
              "rightValue": "={{ $('Parse Config').first().json.scoreThreshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-threshold",
      "name": "Score >= Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2944,
        684
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Generate a tailored CV for this job:\\n\\nCompany: ' + $json.Company + '\\nRole: ' + $json.Title + '\\nArchetype: ' + $json.eval.archetype + '\\nKeywords: ' + ($json.eval.keywords || []).join(', ') + '\\nCV Match: ' + ($json.eval.cv_match || []).join(', ') + '\\nGaps: ' + ($json.eval.gaps || []).map(g => g.gap).join(', ') }}",
        "options": {}
      },
      "id": "cv-generator-agent",
      "name": "CV Generator AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3168,
        560
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "gemini-cv-gen",
      "name": "Gemini Flash Lite - CV Gen",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3240,
        784
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "T6vrBWXANAVPKppK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '{}';\nconst sourceItem = $('Check Threshold').item;\nlet cvData = {};\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) cvData = JSON.parse(match[0]);\n} catch(e) { cvData = { title: 'Preston Bezant', summary: raw.substring(0, 200) }; }\n\n// Build experience HTML\nconst expHtml = (cvData.experience || []).map(role => `\n  <div class=\"role\">\n    <div class=\"role-header\">\n      <strong>${role.company}</strong> — ${role.role}\n      <span class=\"dates\">${role.dates} | ${role.location || ''}</span>\n    </div>\n    <ul>${(role.bullets || []).map(b => `<li>${b}</li>`).join('')}</ul>\n  </div>`).join('');\n\n// Build skills HTML  \nconst skills = cvData.skills || {};\nconst skillsHtml = [\n  skills.design?.length ? `<div class=\"skill-group\"><strong>Design:</strong> ${skills.design.join(', ')}</div>` : '',\n  skills.technical?.length ? `<div class=\"skill-group\"><strong>Technical:</strong> ${skills.technical.join(', ')}</div>` : '',\n  skills.tools?.length ? `<div class=\"skill-group\"><strong>Tools:</strong> ${skills.tools.join(', ')}</div>` : ''\n].filter(Boolean).join('');\n\nconst contact = cvData.contact || {};\n\nconst cvHtml = `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>${cvData.title || 'Preston Bezant'} — CV</title><style>body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;max-width:800px;margin:0 auto;padding:40px 24px;color:#1a1a1a;line-height:1.5;font-size:14px}h1{font-size:24px;margin-bottom:4px}h2{font-size:16px;border-bottom:1px solid #ddd;padding-bottom:4px;margin-top:24px;margin-bottom:12px}h3{font-size:14px;margin-bottom:2px}.contact{color:#555;margin-bottom:24px;font-size:13px}.role{margin-bottom:16px}.role-header{display:flex;justify-content:space-between;flex-wrap:wrap}.dates{color:#666;font-size:12px}ul{margin:6px 0;padding-left:20px}li{margin-bottom:4px}.skill-group{margin-bottom:6px}</style></head><body><h1>${contact.name || 'Preston Bezant'}</h1><div class=\"title-line\">${cvData.title || ''}</div><div class=\"contact\">${contact.email || ''} | ${contact.phone || ''} | ${contact.portfolio || ''} | ${contact.location || ''}</div><h2>Summary</h2><p>${cvData.summary || ''}</p><h2>Experience</h2>${expHtml}<h2>Skills</h2>${skillsHtml}<h2>Education</h2>${(cvData.education || []).map(e => `<div><strong>${e.degree}</strong> — ${e.school} (${e.dates})</div>`).join('')}</body></html>`;\n\nreturn [{ json: { ...sourceItem.json, cvData, cvHtml, cvVersion: 1 } }];"
      },
      "id": "inject-cv-template",
      "name": "Inject CV Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        560
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Write a cover letter for Preston Bezant:\\n\\nCompany: ' + $json.Company + '\\nRole: ' + $json.Title + '\\nEval Summary: ' + $json.eval.summary + '\\nCV Match points: ' + ($json.eval.cv_match || []).slice(0,3).join('; ') + '\\nCV Title: ' + $json.cvData.title + '\\nCV Summary: ' + $json.cvData.summary }}",
        "options": {}
      },
      "id": "cover-letter-agent",
      "name": "Cover Letter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3744,
        560
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.5
        }
      },
      "id": "gemini-cover-letter",
      "name": "Gemini Flash Lite - Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3816,
        784
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "T6vrBWXANAVPKppK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Generate application form answers for:\\n\\nCompany: ' + $json.Company + '\\nRole: ' + $json.Title + '\\nEval Summary: ' + $json.eval.summary + '\\nCV Match: ' + ($json.eval.cv_match || []).join(', ') }}",
        "options": {}
      },
      "id": "apply-prep-agent",
      "name": "Apply Prep AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4096,
        560
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {
          "maxOutputTokens": 1024,
          "temperature": 0.3
        }
      },
      "id": "gemini-apply-prep",
      "name": "Gemini Flash Lite - Apply Prep",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4168,
        784
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "T6vrBWXANAVPKppK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse cover letter from the Cover Letter Agent output\nconst clRaw = $('Cover Letter AI Agent').item.json.output || '';\nconst prepRaw = $input.first().json.output || '{}';\n\nlet coverLetter = {};\ntry { const m = clRaw.match(/\\{[\\s\\S]*\\}/); if(m) coverLetter = JSON.parse(m[0]); } catch(e) {}\n\nlet prepAnswers = {};\ntry { const m = prepRaw.match(/\\{[\\s\\S]*\\}/); if(m) prepAnswers = JSON.parse(m[0]); } catch(e) {}\n\n// Build cover letter HTML\nconst clHtml = `<div style=\"font-family:sans-serif;max-width:700px;margin:0 auto;padding:40px 24px;\">\n  <p>${new Date().toLocaleDateString('en-US', {year:'numeric',month:'long',day:'numeric'})}</p>\n  <p>${coverLetter.salutation || 'Hi Hiring Team,'}</p>\n  <p>${coverLetter.paragraph_1 || ''}</p>\n  <p>${coverLetter.paragraph_2 || ''}</p>\n  <p>${coverLetter.paragraph_3 || ''}</p>\n  <p style=\"white-space:pre-line\">${coverLetter.closing || 'Best,\\nPreston Bezant'}</p>\n</div>`;\n\nconst sourceItem = $('Inject CV Template').item;\nreturn [{ json: { ...sourceItem.json, coverLetter, clHtml, prepAnswers } }];"
      },
      "id": "parse-cover-and-prep",
      "name": "Parse Cover Letter & Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        560
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg",
          "mode": "list",
          "cachedResultName": "Career Ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 804992768,
          "mode": "list",
          "cachedResultName": "Applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FyCBvmiLjX_0oj9GuKGYfUHUox3foC9TZnPEfNyEjsg/edit#gid=804992768"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "write-application",
      "name": "Write Application Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4672,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "CAREER_OPS_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Pipeline"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Prepped"
          }
        },
        "options": {}
      },
      "id": "update-pipeline-prepped",
      "name": "Update Pipeline Prepped",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4896,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ng8zlg2pDNctkqmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "below-threshold-noop",
      "name": "Below Threshold",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4896,
        808
      ]
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "id": "merge-branches",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5120,
        684
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DISCORD_SERVER_ID"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_DISCORD_CHANNEL_ID"
        },
        "content": "={{ '📋 **Career-Ops Daily Run Complete**\\n\\nRun finished at ' + new Date().toLocaleString() + '\\n\\nCheck the Career-Ops Dashboard for new A/B grade jobs ready to apply!' }}",
        "options": {}
      },
      "id": "discord-notify",
      "name": "Discord Daily Digest",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        5344,
        684
      ],
      "webhookId": "05a6e9b7-522b-40e7-a0ce-542e367045de",
      "credentials": {
        "discordBotApi": {
          "id": "PeIukwvkJqSyArKV",
          "name": "Discord Bot account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Cleanup logic runs via separate sheet operations\n// This logs the completion\nconst now = new Date();\nreturn [{ json: { completedAt: now.toISOString(), message: 'Pipeline run complete. Check sheet for results.' } }];"
      },
      "id": "cleanup",
      "name": "Cleanup Stale Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        684
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Loader": {
      "main": [
        [
          {
            "node": "Parse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config": {
      "main": [
        [
          {
            "node": "ATS Site List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ATS Site List": {
      "main": [
        [
          {
            "node": "Loop Over Query Combos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Query Combos": {
      "main": [
        [
          {
            "node": "Search SerpAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search SerpAPI": {
      "main": [
        [
          {
            "node": "Parse Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Search Results": {
      "main": [
        [
          {
            "node": "Read Pipeline for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pipeline for Dedup": {
      "main": [
        [
          {
            "node": "Dedup Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Filter": {
      "main": [
        [
          {
            "node": "Append to Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Pipeline": {
      "main": [
        [
          {
            "node": "Loop Over Query Combos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read New Listings": {
      "main": [
        [
          {
            "node": "Batch for Pre-Screen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch for Pre-Screen": {
      "main": [
        [
          {
            "node": "Pre-Screen AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Screen AI Agent": {
      "main": [
        [
          {
            "node": "Parse Pre-Screen Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Lite - PreScreen": {
      "ai_languageModel": [
        [
          {
            "node": "Pre-Screen AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Pre-Screen Result": {
      "main": [
        [
          {
            "node": "Update Pre-Screen Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pre-Screen Status": {
      "main": [
        [
          {
            "node": "Filter Passed Pre-Screen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Passed Pre-Screen": {
      "main": [
        [
          {
            "node": "Fetch Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Description": {
      "main": [
        [
          {
            "node": "Extract JD Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JD Text": {
      "main": [
        [
          {
            "node": "Evaluator AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator AI Agent": {
      "main": [
        [
          {
            "node": "Apply Scoring & Freshness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Lite - Evaluator": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluator AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Apply Scoring & Freshness": {
      "main": [
        [
          {
            "node": "Write Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Evaluation": {
      "main": [
        [
          {
            "node": "Update Pipeline Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pipeline Status": {
      "main": [
        [
          {
            "node": "Score >= Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= Threshold?": {
      "main": [
        [
          {
            "node": "CV Generator AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Below Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV Generator AI Agent": {
      "main": [
        [
          {
            "node": "Inject CV Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Lite - CV Gen": {
      "ai_languageModel": [
        [
          {
            "node": "CV Generator AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Inject CV Template": {
      "main": [
        [
          {
            "node": "Cover Letter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter AI Agent": {
      "main": [
        [
          {
            "node": "Apply Prep AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Lite - Cover Letter": {
      "ai_languageModel": [
        [
          {
            "node": "Cover Letter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Apply Prep AI Agent": {
      "main": [
        [
          {
            "node": "Parse Cover Letter & Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Lite - Apply Prep": {
      "ai_languageModel": [
        [
          {
            "node": "Apply Prep AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cover Letter & Prep": {
      "main": [
        [
          {
            "node": "Write Application Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Application Row": {
      "main": [
        [
          {
            "node": "Update Pipeline Prepped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pipeline Prepped": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Below Threshold": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Discord Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Daily Digest": {
      "main": [
        [
          {
            "node": "Cleanup Stale Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false
  },
  "versionId": "79192fe7-0b50-4d22-8090-f2f17257e3ff",
  "meta": {
    "instanceId": "a0055f19b098f7ea90ca5a841c8e4940b4823322cb1ae62b41700bebe16239d2"
  },
  "id": "u1bV8KbKeXtNM8Xa",
  "tags": []
}