workflows/02-adhoc-pipeline.json
{
  "name": "02 - Career-Ops: Ad-Hoc Pipeline",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "adhoc-eval",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "early-response",
      "name": "Early Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={ \"status\": \"accepted\", \"message\": \"Processing your job listing. Results will appear in the Career-Ops Dashboard.\", \"jobUrl\": \"{{ $json.body.url || 'N/A' }}\" }",
        "options": { "responseCode": 202, "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] } }
      }
    },
    {
      "id": "validate-input",
      "name": "Validate & Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst url = (body.url || '').trim();\n\nif (!url || !url.startsWith('http')) {\n  throw new Error('Invalid input: must provide a valid job URL in body.url');\n}\n\n// Parse company/domain from URL\nlet domain = '';\nlet company = body.company || '';\ntry {\n  const parsed = new URL(url);\n  domain = parsed.hostname.replace('www.', '');\n  if (!company) company = domain.split('.')[0];\n} catch(e) { throw new Error('Invalid URL: ' + url); }\n\n// Determine source from domain\nconst sourceMap = {\n  'greenhouse.io': 'Greenhouse', 'lever.co': 'Lever', 'ashbyhq.com': 'Ashby',\n  'wellfound.com': 'Wellfound', 'myworkdayjobs.com': 'Workday', 'linkedin.com': 'LinkedIn',\n  'smartrecruiters.com': 'SmartRecruiters', 'icims.com': 'iCIMS'\n};\nconst source = Object.entries(sourceMap).find(([d]) => domain.includes(d))?.[1] || 'Manual';\n\n// Generate ID\nconst dateStr = new Date().toISOString().slice(0, 10).replace(/-/g, '');\nconst rand = Math.random().toString(36).substring(2, 6);\nconst id = `${source.toLowerCase().replace(/\\s/g, '_')}_${dateStr}_${rand}`;\n\nconst title = (body.title || '').trim();\nconst company_clean = (body.company || company).trim();\n\nreturn [{\n  json: {\n    id,\n    source,\n    company: company_clean,\n    title,\n    url,\n    domain,\n    dedupKey: `${company_clean.toLowerCase()}|${title.toLowerCase()}|${domain}`,\n    dateFound: new Date().toISOString(),\n    status: 'New'\n  }\n}];"
      }
    },
    {
      "id": "check-dedup",
      "name": "Check Dedup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 300],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Pipeline" },
        "filtersUI": {
          "values": [{ "lookupColumn": "Dedup Key", "lookupValue": "={{ $json.dedupKey }}" }]
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $input.all().length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }]
        }
      }
    },
    {
      "id": "duplicate-noop",
      "name": "Already Exists",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1100, 440],
      "parameters": {}
    },
    {
      "id": "append-pipeline-adhoc",
      "name": "Append to Pipeline",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 300],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Pipeline" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Source": "={{ $json.source }}",
            "Company": "={{ $json.company }}",
            "Title": "={{ $json.title }}",
            "URL": "={{ $json.url }}",
            "JD Snippet": "",
            "Date Found": "={{ $json.dateFound }}",
            "Freshness Hours": "0",
            "Status": "New",
            "Dedup Key": "={{ $json.dedupKey }}"
          }
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "fetch-jd-adhoc",
      "name": "Fetch Job Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Validate & Normalize Input').first().json.url }}",
        "options": { "timeout": 20000 }
      },
      "continueOnFail": true
    },
    {
      "id": "extract-jd-adhoc",
      "name": "Extract JD Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "jsCode": "const sourceItem = $('Validate & Normalize Input').first();\nconst htmlResponse = $input.first().json;\nlet jdText = '';\nlet confidence = 'high';\n\nif (htmlResponse.error || !htmlResponse) {\n  jdText = sourceItem.json.title + ' at ' + sourceItem.json.company;\n  confidence = 'low';\n} else {\n  const html = typeof htmlResponse === 'string' ? htmlResponse : JSON.stringify(htmlResponse);\n  jdText = html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&nbsp;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 8000);\n  \n  if (jdText.length < 200) {\n    jdText = sourceItem.json.title + ' at ' + sourceItem.json.company;\n    confidence = 'low';\n  }\n}\n\nreturn [{ json: { ...sourceItem.json, jdText, confidence } }];"
      }
    },
    {
      "id": "evaluator-agent-adhoc",
      "name": "Evaluator AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1760, 300],
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Evaluate this job for Preston Bezant:\\n\\nCompany: ' + $json.company + '\\nTitle: ' + $json.title + '\\nURL: ' + $json.url + '\\n\\nJob Description:\\n' + $json.jdText }}",
        "systemMessage": "You are a job evaluation agent for Preston Bezant. Score the job across 10 dimensions and output structured JSON only.\n\nPreston Bezant CV Summary:\nSr. Product Designer (Lowe's 2022-2024, Verbosity 2021, Visa 2020-2021, Harland Clarke 2017-2019) | IoT Architect (StructureSense co-founder: LoRaWAN, RTLS, ESP32, BLE, 50K sqft deployment) | Creative Technologist (Bezant Solutions, n8n, AI workflows, 3D printing) | Front-End Dev (BancVue, Gensuite, HTML/CSS/JS/Sass) | Design Systems (atomic design, Lowe's Digital design system, Visa)\nLocation: Austin TX, prefers remote. Target comp: $120K-$180K. Senior level.\n\nARCHETYPES: 1=Product Designer/UX Lead, 2=IoT Systems Engineer, 3=Creative Technologist, 4=Front-End Dev, 5=Design Systems Architect\n\nSCORING (1-5 each):\n- role_match (GATE-PASS: <=1 caps grade at D)\n- skills (GATE-PASS: <=1 caps grade at D)\n- seniority, compensation, geographic, company_stage, product_market, growth, interview_likelihood, timeline\n\nGRADE: overall>=4.5=A, 3.8-4.4=B, 3.0-3.7=C, 2.0-2.9=D, <2.0=F\n\nWEIGHTS: role_match=0.20, skills=0.20, seniority=0.12, compensation=0.10, geographic=0.08, company_stage=0.08, product_market=0.07, growth=0.07, interview_likelihood=0.05, timeline=0.03\n\nOutput ONLY valid JSON:\n{\"scores\":{\"role_match\":0,\"skills\":0,\"seniority\":0,\"compensation\":0,\"geographic\":0,\"company_stage\":0,\"product_market\":0,\"growth\":0,\"interview_likelihood\":0,\"timeline\":0},\"overall\":0.0,\"grade\":\"C\",\"archetype\":\"...\",\"keywords\":[],\"cv_match\":[],\"gaps\":[{\"gap\":\"...\",\"mitigation\":\"...\"}],\"summary\":\"...\",\"confidence\":\"high\",\"freshness_hours\":0}",
        "options": {}
      }
    },
    {
      "id": "gemini-evaluator-adhoc",
      "name": "Gemini Flash Lite - Evaluator",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1760, 500],
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": { "temperature": 0.1, "maxOutputTokens": 2048 }
      },
      "credentials": { "googlePalmApi": { "id": "T6vrBWXANAVPKppK", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "id": "apply-scoring-adhoc",
      "name": "Apply Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300],
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '{}';\nconst sourceItem = $('Extract JD Text').first();\nlet eval_data = {};\n\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) eval_data = JSON.parse(match[0]);\n} catch(e) {\n  eval_data = { scores: {}, overall: 0, grade: 'F', summary: 'Parse error', confidence: 'low' };\n}\n\nconst scores = eval_data.scores || {};\nconst weights = { role_match: 0.20, skills: 0.20, seniority: 0.12, compensation: 0.10, geographic: 0.08, company_stage: 0.08, product_market: 0.07, growth: 0.07, interview_likelihood: 0.05, timeline: 0.03 };\nconst weightedScore = Object.keys(weights).reduce((sum, k) => sum + (scores[k] || 3) * weights[k], 0);\n\nlet finalScore = weightedScore;\nlet finalGrade = eval_data.grade || 'C';\nif ((scores.role_match || 0) <= 1 || (scores.skills || 0) <= 1) {\n  finalGrade = 'D'; finalScore = Math.min(finalScore, 2.9);\n}\n\nreturn [{ json: { ...sourceItem.json, eval: eval_data, scores, overall: parseFloat(weightedScore.toFixed(2)), grade: finalGrade, status: 'Evaluated' } }];"
      }
    },
    {
      "id": "write-eval-adhoc",
      "name": "Write Evaluation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 300],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Evaluations" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "={{ $json.id }}",
            "Overall Score": "={{ $json.overall }}",
            "Grade": "={{ $json.grade }}",
            "Role Match": "={{ $json.scores.role_match }}",
            "Skills": "={{ $json.scores.skills }}",
            "Seniority": "={{ $json.scores.seniority }}",
            "Compensation": "={{ $json.scores.compensation }}",
            "Geographic": "={{ $json.scores.geographic }}",
            "Company Stage": "={{ $json.scores.company_stage }}",
            "Product-Market": "={{ $json.scores.product_market }}",
            "Growth": "={{ $json.scores.growth }}",
            "Interview Likelihood": "={{ $json.scores.interview_likelihood }}",
            "Timeline": "={{ $json.scores.timeline }}",
            "Freshness Adjusted Score": "={{ $json.overall }}",
            "Executive Summary": "={{ $json.eval.summary }}",
            "CV Match": "={{ ($json.eval.cv_match || []).join(', ') }}",
            "Gaps": "={{ ($json.eval.gaps || []).map(g => g.gap).join('; ') }}",
            "Archetype": "={{ $json.eval.archetype }}",
            "Full Report": "={{ JSON.stringify($json.eval) }}",
            "Confidence": "={{ $json.eval.confidence || $json.confidence }}"
          }
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "update-pipeline-adhoc",
      "name": "Update Pipeline Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2420, 300],
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Pipeline" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Status": "Evaluated" }
        },
        "matchingColumns": ["ID"],
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "check-threshold-adhoc",
      "name": "Score >= 3.8?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2640, 300],
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.overall }}", "rightValue": 3.8, "operator": { "type": "number", "operation": "gte" } }]
        }
      }
    },
    {
      "id": "cv-gen-adhoc",
      "name": "CV Generator AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [2860, 160],
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Generate a tailored CV for:\\n\\nCompany: ' + $json.company + '\\nRole: ' + $json.title + '\\nArchetype: ' + $json.eval.archetype + '\\nKeywords: ' + ($json.eval.keywords || []).join(', ') }}",
        "systemMessage": "You are a CV tailoring agent for Preston Bezant. Select and sequence experiences to match the job archetype. Output ONLY valid JSON.\n\nARCHETYPE FRAMING:\n- Product Designer/UX Lead: lead with Lowe's, Verbosity, Visa\n- IoT Systems Engineer: lead with StructureSense, Bezant Solutions\n- Creative Technologist: lead with Bezant Solutions, StructureSense\n- Front-End Developer: lead with BancVue, Gensuite, Harland Clarke\n- Design Systems Architect: lead with Visa, Harland Clarke, Lowe's\n\nOutput schema (ONLY JSON, no markdown):\n{\"title\":\"...\",\"summary\":\"...\",\"experience\":[{\"company\":\"\",\"role\":\"\",\"dates\":\"\",\"location\":\"\",\"bullets\":[]}],\"skills\":{\"design\":[],\"technical\":[],\"tools\":[]},\"education\":[{\"degree\":\"\",\"school\":\"\",\"dates\":\"\"}],\"contact\":{\"name\":\"Preston Bezant\",\"email\":\"preston@bezantsolutions.com\",\"phone\":\"817-360-4868\",\"portfolio\":\"prestonbezant.me\",\"location\":\"Austin, Texas\"}}",
        "options": {}
      }
    },
    {
      "id": "gemini-cv-adhoc",
      "name": "Gemini Flash Lite - CV",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [2860, 360],
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": { "temperature": 0.3, "maxOutputTokens": 4096 }
      },
      "credentials": { "googlePalmApi": { "id": "T6vrBWXANAVPKppK", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "id": "inject-cv-adhoc",
      "name": "Inject CV Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 160],
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '{}';\nconst sourceItem = $('Apply Scoring').first();\nlet cvData = {};\ntry { const m = raw.match(/\\{[\\s\\S]*\\}/); if(m) cvData = JSON.parse(m[0]); } catch(e) {}\n\nconst expHtml = (cvData.experience || []).map(r => `<div><strong>${r.company}</strong> — ${r.role} <span>${r.dates}</span><ul>${(r.bullets||[]).map(b=>`<li>${b}</li>`).join('')}</ul></div>`).join('');\nconst skills = cvData.skills || {};\nconst skillsText = [skills.design?.join(', '), skills.technical?.join(', '), skills.tools?.join(', ')].filter(Boolean).join(' | ');\nconst c = cvData.contact || {};\nconst cvHtml = `<html><body style='font-family:sans-serif;max-width:800px;margin:0 auto;padding:40px;'><h1>${c.name||'Preston Bezant'}</h1><p>${cvData.title||''}</p><p>${c.email||''} | ${c.phone||''} | ${c.portfolio||''} | ${c.location||''}</p><h2>Summary</h2><p>${cvData.summary||''}</p><h2>Experience</h2>${expHtml}<h2>Skills</h2><p>${skillsText}</p></body></html>`;\n\nreturn [{ json: { ...sourceItem.json, cvData, cvHtml } }];"
      }
    },
    {
      "id": "cover-letter-adhoc",
      "name": "Cover Letter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [3300, 160],
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Write a cover letter for:\\n\\nCompany: ' + $json.company + '\\nRole: ' + $json.title + '\\nEval Summary: ' + $json.eval.summary + '\\nCV Match: ' + ($json.eval.cv_match || []).slice(0,3).join('; ') }}",
        "systemMessage": "Write a focused 250-word max, 3-paragraph cover letter for Preston Bezant. Be specific, confident, and direct. No generic openers.\n\nOutput ONLY this JSON:\n{\"subject\":\"Application: [Role] at [Company]\",\"salutation\":\"Hi Hiring Team,\",\"paragraph_1\":\"...\",\"paragraph_2\":\"...\",\"paragraph_3\":\"...\",\"closing\":\"Best,\\nPreston Bezant\\npreston@bezantsolutions.com\"}",
        "options": {}
      }
    },
    {
      "id": "gemini-cl-adhoc",
      "name": "Gemini Flash Lite - Cover Letter",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [3300, 360],
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": { "temperature": 0.5, "maxOutputTokens": 1024 }
      },
      "credentials": { "googlePalmApi": { "id": "T6vrBWXANAVPKppK", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "id": "write-app-adhoc",
      "name": "Write Application Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3520, 160],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Applications" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job ID": "={{ $json.id }}",
            "Applied Date": "",
            "CV HTML": "={{ $json.cvHtml }}",
            "CV PDF Link": "",
            "Cover Letter": "={{ $input.first().json.output || '' }}",
            "Pre-filled Answers JSON": "{}",
            "Status": "Prepped",
            "Notes": ""
          }
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "update-pipeline-prepped-adhoc",
      "name": "Update Pipeline Prepped",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3740, 160],
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Pipeline" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Status": "Prepped" }
        },
        "matchingColumns": ["ID"],
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "below-threshold-adhoc",
      "name": "Below Threshold",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2860, 440],
      "parameters": {}
    },
    {
      "id": "merge-adhoc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3960, 300],
      "parameters": { "mode": "passThrough", "output": "empty" }
    },
    {
      "id": "discord-adhoc",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [4180, 300],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "guildId": { "__rl": true, "mode": "id", "value": "YOUR_DISCORD_SERVER_ID" },
        "channelId": { "__rl": true, "mode": "id", "value": "YOUR_DISCORD_CHANNEL_ID" },
        "content": "={{ '🔍 **Ad-Hoc Eval Complete**\\n\\n**' + $('Apply Scoring').first().json.company + '** — ' + $('Apply Scoring').first().json.title + '\\nGrade: **' + $('Apply Scoring').first().json.grade + '** | Score: ' + $('Apply Scoring').first().json.overall + '\\n\\n' + $('Apply Scoring').first().json.eval.summary }}"
      },
      "credentials": { "discordBotApi": { "id": "PeIukwvkJqSyArKV", "name": "Discord Bot account" } },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Early Response", "type": "main", "index": 0 }]] },
    "Early Response": { "main": [[{ "node": "Validate & Normalize Input", "type": "main", "index": 0 }]] },
    "Validate & Normalize Input": { "main": [[{ "node": "Check Dedup", "type": "main", "index": 0 }]] },
    "Check Dedup": { "main": [[{ "node": "Is Duplicate?", "type": "main", "index": 0 }]] },
    "Is Duplicate?": {
      "main": [
        [{ "node": "Already Exists", "type": "main", "index": 0 }],
        [{ "node": "Append to Pipeline", "type": "main", "index": 0 }]
      ]
    },
    "Append to Pipeline": { "main": [[{ "node": "Fetch Job Description", "type": "main", "index": 0 }]] },
    "Fetch Job Description": { "main": [[{ "node": "Extract JD Text", "type": "main", "index": 0 }]] },
    "Extract JD Text": { "main": [[{ "node": "Evaluator AI Agent", "type": "main", "index": 0 }]] },
    "Evaluator AI Agent": { "main": [[{ "node": "Apply Scoring", "type": "main", "index": 0 }]] },
    "Gemini Flash Lite - Evaluator": { "ai_languageModel": [[{ "node": "Evaluator AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Apply Scoring": { "main": [[{ "node": "Write Evaluation", "type": "main", "index": 0 }]] },
    "Write Evaluation": { "main": [[{ "node": "Update Pipeline Status", "type": "main", "index": 0 }]] },
    "Update Pipeline Status": { "main": [[{ "node": "Score >= 3.8?", "type": "main", "index": 0 }]] },
    "Score >= 3.8?": {
      "main": [
        [{ "node": "CV Generator AI Agent", "type": "main", "index": 0 }],
        [{ "node": "Below Threshold", "type": "main", "index": 0 }]
      ]
    },
    "CV Generator AI Agent": { "main": [[{ "node": "Inject CV Template", "type": "main", "index": 0 }]] },
    "Gemini Flash Lite - CV": { "ai_languageModel": [[{ "node": "CV Generator AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Inject CV Template": { "main": [[{ "node": "Cover Letter AI Agent", "type": "main", "index": 0 }]] },
    "Cover Letter AI Agent": { "main": [[{ "node": "Write Application Row", "type": "main", "index": 0 }]] },
    "Gemini Flash Lite - Cover Letter": { "ai_languageModel": [[{ "node": "Cover Letter AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Write Application Row": { "main": [[{ "node": "Update Pipeline Prepped", "type": "main", "index": 0 }]] },
    "Update Pipeline Prepped": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Below Threshold": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Merge": { "main": [[{ "node": "Discord Notify", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true }
}
