workflows/04-comparison.json
{
  "name": "04 - Career-Ops: Comparison",
  "nodes": [
    {
      "id": "webhook-compare",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "compare",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "early-response-compare",
      "name": "Early Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={ \"status\": \"accepted\", \"message\": \"Generating comparison report. Results will appear in Comparisons tab and Discord.\" }",
        "options": { "responseCode": 202, "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] } }
      }
    },
    {
      "id": "validate-job-ids",
      "name": "Validate Job IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst jobIds = body.job_ids || body.jobIds || [];\n\nif (!Array.isArray(jobIds) || jobIds.length < 2) {\n  throw new Error('Must provide at least 2 job IDs in body.job_ids array');\n}\nif (jobIds.length > 10) {\n  throw new Error('Maximum 10 jobs per comparison');\n}\n\nreturn jobIds.map(id => ({ json: { jobId: id.trim() } }));"
      }
    },
    {
      "id": "fetch-each-eval",
      "name": "Fetch Each Evaluation",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 300],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Evaluations" },
        "filtersUI": {
          "values": [{ "lookupColumn": "Job ID", "lookupValue": "={{ $json.jobId }}" }]
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "fetch-pipeline-rows",
      "name": "Fetch Pipeline Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 460],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Pipeline" },
        "filtersUI": {
          "values": [{ "lookupColumn": "ID", "lookupValue": "={{ $('Validate Job IDs').item.json.jobId }}" }]
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "collate-data",
      "name": "Collate Comparison Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 380],
      "parameters": {
        "jsCode": "// Gather all evaluation rows\nconst evalItems = $('Fetch Each Evaluation').all();\nconst pipelineItems = $('Fetch Pipeline Rows').all();\n\n// Build a map of pipeline data by ID\nconst pipelineMap = {};\nfor (const p of pipelineItems) {\n  const id = p.json.ID || p.json.id;\n  if (id) pipelineMap[id] = p.json;\n}\n\n// Build comparison payload\nconst jobs = [];\nfor (const e of evalItems) {\n  const jobId = e.json['Job ID'];\n  const pipeline = pipelineMap[jobId] || {};\n  let evalData = {};\n  try { evalData = JSON.parse(e.json['Full Report'] || '{}'); } catch(err) {}\n  \n  jobs.push({\n    job_id: jobId,\n    company: pipeline.Company || evalData.company || 'Unknown',\n    title: pipeline.Title || evalData.title || 'Unknown',\n    url: pipeline.URL || '',\n    grade: e.json.Grade,\n    overall_score: parseFloat(e.json['Overall Score']) || 0,\n    scores: {\n      role_match: parseFloat(e.json['Role Match']) || 0,\n      skills: parseFloat(e.json.Skills) || 0,\n      seniority: parseFloat(e.json.Seniority) || 0,\n      compensation: parseFloat(e.json.Compensation) || 0,\n      geographic: parseFloat(e.json.Geographic) || 0,\n      company_stage: parseFloat(e.json['Company Stage']) || 0,\n      product_market: parseFloat(e.json['Product-Market']) || 0,\n      growth: parseFloat(e.json.Growth) || 0,\n      interview_likelihood: parseFloat(e.json['Interview Likelihood']) || 0,\n      timeline: parseFloat(e.json.Timeline) || 0\n    },\n    archetype: e.json.Archetype,\n    summary: e.json['Executive Summary'],\n    cv_match: e.json['CV Match'],\n    gaps: e.json.Gaps,\n    confidence: e.json.Confidence || evalData.confidence || 'medium'\n  });\n}\n\nif (jobs.length < 2) {\n  throw new Error('Could not find evaluation data for enough jobs. Run evaluations first.');\n}\n\nreturn [{ json: { jobs, jobCount: jobs.length } }];"
      }
    },
    {
      "id": "comparison-agent",
      "name": "Comparison AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1100, 380],
      "parameters": {
        "agent": "conversationalAgent",
        "text": "={{ 'Compare these ' + $json.jobCount + ' job opportunities for Preston Bezant and produce a ranked recommendation report.\\n\\nJOBS TO COMPARE:\\n' + JSON.stringify($json.jobs, null, 2) }}",
        "systemMessage": "You are a strategic career advisor for Preston Bezant. Analyze multiple job opportunities and produce a comparative report with rankings and strategic recommendations.\n\nPreston's priorities (in order):\n1. Role fit and skill leverage (uses his UX + IoT + Creative Tech background)\n2. Remote-first or Austin TX location\n3. Compensation ($120K-$180K)\n4. Company stage (growth-stage startup or innovative enterprise preferred)\n5. Career trajectory (avoids dead-end roles)\n6. Product domain resonance (loves physical products, tools for builders, fintech)\n\nFor each job, assess all 10 dimensions. Then rank them based on Preston's weighted priorities.\n\nThe apply_order should be the ranked order Preston should apply in, with reasoning.\n\nOutput ONLY this JSON (no markdown):\n{\n  \"comparison_table\": [\n    {\n      \"job_id\": \"\",\n      \"company\": \"\",\n      \"title\": \"\",\n      \"grade\": \"\",\n      \"overall\": 0,\n      \"rank\": 1,\n      \"key_strengths\": [],\n      \"key_gaps\": [],\n      \"verdict\": \"...\"\n    }\n  ],\n  \"apply_order\": [\n    { \"rank\": 1, \"job_id\": \"\", \"company\": \"\", \"reason\": \"...\" }\n  ],\n  \"dimension_winner_by_category\": {\n    \"best_role_fit\": \"\",\n    \"best_compensation\": \"\",\n    \"best_company_stage\": \"\",\n    \"best_growth\": \"\",\n    \"best_interview_odds\": \"\"\n  },\n  \"strategic_notes\": \"...\",\n  \"portfolio_view\": \"...\"\n}",
        "options": {}
      }
    },
    {
      "id": "gemini-comparison",
      "name": "Gemini Flash Lite - Comparison",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1100, 580],
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": { "temperature": 0.2, "maxOutputTokens": 4096 }
      },
      "credentials": { "googlePalmApi": { "id": "T6vrBWXANAVPKppK", "name": "Google Gemini(PaLM) Api account" } }
    },
    {
      "id": "parse-comparison",
      "name": "Parse Comparison Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 380],
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '{}';\nlet report = {};\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) report = JSON.parse(match[0]);\n} catch(e) {\n  report = { comparison_table: [], apply_order: [], strategic_notes: 'Parse error: ' + raw.substring(0, 200) };\n}\n\nconst sourceData = $('Collate Comparison Data').first().json;\n\n// Build readable summary\nconst topPick = report.apply_order?.[0];\nconst summaryLines = [\n  `Compared ${sourceData.jobCount} jobs`,\n  topPick ? `Top pick: ${topPick.company} (${topPick.reason})` : '',\n  report.strategic_notes || ''\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { report, summaryLines, jobIds: sourceData.jobs.map(j => j.job_id).join(', '), comparisonDate: new Date().toISOString() } }];"
      }
    },
    {
      "id": "write-comparison",
      "name": "Write to Comparisons Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 380],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "CAREER_OPS_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Comparisons" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Comparison Date": "={{ $json.comparisonDate }}",
            "Job IDs": "={{ $json.jobIds }}",
            "Job Count": "={{ $('Collate Comparison Data').first().json.jobCount }}",
            "Top Pick Company": "={{ $json.report.apply_order?.[0]?.company || '' }}",
            "Top Pick Job ID": "={{ $json.report.apply_order?.[0]?.job_id || '' }}",
            "Apply Order JSON": "={{ JSON.stringify($json.report.apply_order || []) }}",
            "Dimension Winners": "={{ JSON.stringify($json.report.dimension_winner_by_category || {}) }}",
            "Strategic Notes": "={{ $json.report.strategic_notes || '' }}",
            "Portfolio View": "={{ $json.report.portfolio_view || '' }}",
            "Full Report JSON": "={{ JSON.stringify($json.report) }}"
          }
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "ng8zlg2pDNctkqmp", "name": "Google Sheets account" } }
    },
    {
      "id": "discord-compare",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1760, 380],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "guildId": { "__rl": true, "mode": "id", "value": "YOUR_DISCORD_SERVER_ID" },
        "channelId": { "__rl": true, "mode": "id", "value": "YOUR_DISCORD_CHANNEL_ID" },
        "content": "={{ '📊 **Comparison Report Ready**\\n\\nCompared ' + $('Collate Comparison Data').first().json.jobCount + ' jobs\\n\\n**Apply Order:**\\n' + ($json.report.apply_order || []).slice(0, 5).map((j, i) => (i+1) + '. ' + j.company + ' — ' + j.reason).join('\\n') + '\\n\\n**Strategic Notes:** ' + ($json.report.strategic_notes || 'See Comparisons tab') }}"
      },
      "credentials": { "discordBotApi": { "id": "PeIukwvkJqSyArKV", "name": "Discord Bot account" } },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Early Response", "type": "main", "index": 0 }]] },
    "Early Response": { "main": [[{ "node": "Validate Job IDs", "type": "main", "index": 0 }]] },
    "Validate Job IDs": {
      "main": [
        [{ "node": "Fetch Each Evaluation", "type": "main", "index": 0 }],
        [{ "node": "Fetch Pipeline Rows", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Each Evaluation": { "main": [[{ "node": "Collate Comparison Data", "type": "main", "index": 0 }]] },
    "Fetch Pipeline Rows": { "main": [[{ "node": "Collate Comparison Data", "type": "main", "index": 1 }]] },
    "Collate Comparison Data": { "main": [[{ "node": "Comparison AI Agent", "type": "main", "index": 0 }]] },
    "Comparison AI Agent": { "main": [[{ "node": "Parse Comparison Output", "type": "main", "index": 0 }]] },
    "Gemini Flash Lite - Comparison": { "ai_languageModel": [[{ "node": "Comparison AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Parse Comparison Output": { "main": [[{ "node": "Write to Comparisons Sheet", "type": "main", "index": 0 }]] },
    "Write to Comparisons Sheet": { "main": [[{ "node": "Discord Notify", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true }
}
